@charset "utf-8";
/* CSS Document */

.left-sider {
	width: 930px;
	float: left
}
.left-sider-min {
	width: 260px;
	float: left
}
.mid-sider {
	width: 650px;
	float: left;
	margin-left: 20px;
	border: 1px #eee solid;
}
.right-sider {
	width: 260px;
	float: right
}
.bread{
	margin-bottom: 10px !important;
}
.bread a{
	font-size: 12px;
	color: #000;
	line-height: 45px;
}
.top-star{
	margin-bottom: 14px;
}
.top-star i{
	font-size: 28px;
	margin-right: 5px;
}
.top-star span{
	font-family: "Microsoft YaHei";
	font-size: 30px;
	color: #000;
	margin-right: 15px;
}
body, th, td {
	font-family: arial
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px
}
#main {
	float: left;
	position: relative;
	width: 726px;
	z-index: 10;
	background: #fee6c4;
}
#dialog .dialog {
	position: fixed;
	z-index: 3001;
	background: #fff;
	left: 50%;
	top: 210px;
	padding-left: 45px;
	font-size: 14px;
	color: #333;
	font-family: 'Microsoft YaHei';
}
#dialog .dialog01 {
	width: 377px;
	height: 353px;
	margin-left: -212px;
	border: 1px solid #CECCCD;
}
#dialog .mask {
	background: #000;
	filter: alpha(opacity=20);
	opacity: .2;
	left: 0;
	top: 0;
	position: fixed;
	_position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 3000;
	zoom: 1;
}
#dialog .dialog .close, #tantan_list .updateUserInfo, .userInfo .updateUserInfo, #container .userInfo .arrowUp, #dialog .dialog03 .icon, #mytantan .tantan_like .updateUserInfo {
	background: url("../../../../p.ssl.qhimg.com/d/inn/e165d985/update_info_bg.png")/*tpa=https://p.ssl.qhimg.com/d/inn/e165d985/update_info_bg.png*/;
}
#tantan_list .updateUserInfo, .userInfo .updateUserInfo {
	background-position: 0px 1px;
	float: right;
	padding-left: 12px;
	color: #00be3c;
	cursor: pointer;
}
#dialog .dialog .close {
	cursor: pointer;
	background-position: -350px -1px;
	width: 24px;
	height: 24px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
#dialog .dialog .close:hover {
	background-position: -350px -31px;
}
#dialog .dialog .title .title01 {
	padding-top: 30px;
	font-size: 20px;
	color: #333;
}
#dialog .dialog02 .title .title01 {
	padding-top: 38px;
}
#dialog .dialog .title .title02 {
	padding-top: 5px;
	font-size: 12px;
	color: #999;
}
#dialog .dialog .name {
	margin-top: 30px;
}
#dialog .dialog .name .nickname, #dialog .dialog .sign {
	width: 226px;
	height: 35px;
	border: 1px solid #C4C4C4;
	border-radius: 4px;
	padding-left: 12px;
	margin-left: 4px;
	font-size: 12px;
}
#dialog .dialog .name .nickname:focus, #dialog .dialog .sign:focus {
	border: 1px solid #65C33D;
}
#dialog .dialog .name .nicknameerror {
	border: 1px solid #F08353;
	-webkit-box-shadow: inset 0px 2px 2px rgba(240,131,83,.2), 1px 2px 2px rgba(240,131,83,.2);
}
#dialog .dialog .error {
	visibility: hidden;
	margin-left: 52px;
	margin-top: 4px;
	color: #e25c38;
	font-size: 12px;
}
#dialog .dialog02 .error {
	position: absolute;
	bottom: -26px;
	left: 0;
	z-index: 2;
	margin-left: 0;
}
#dialog .dialog .name span {
	margin-left: 10px;
	color: #f05204;
	font-size: 12px;
}
#dialog .dialog .name input:-moz-placeholder {
color:#9a9a9a;
}
#dialog .dialog .name input::-webkit-input-placeholder {
color:#9a9a9a;
}
#dialog .dialog .sex label {
	margin-left: 7px;
	margin-right: 14px;
	font-size: 12px;
}
#dialog .dialog .sexvalue {
	margin-right: 2px;
}
#dialog input[type='radio'] {
	-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0,0,0,.2);
	-webkit-appearance: none;
	-webkit-margin-start: 0;
	-webkit-margin-end: 3px;
	background: white;
	border-radius: 3px;
	border: 1px solid #DFDFDF;
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	top: 2px;
	vertical-align: baseline;
	border-radius: 100%;
	height: 15px;
	width: 15px;
}
#dialog input[type='radio']:checked::before {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	-webkit-margin-start: 3px;
	background: #5AA617;
	border-radius: 10px;
	content: '';
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	height: 7px;
	left: 0;
	margin-top: 3px;
	opacity: 1;
	position: absolute;
	top: 0;
	vertical-align: top;
	width: 7px;
}
#dialog .dialog .signal {
	margin-top: 12px;
}
#dialog .dialog .save {
	margin-top: 22px;
	margin-left: -45px;
	width: 422px;
	height: 97px;
	background: #f8f8f8;
}
#dialog .dialog .submitBasicInfo {
	width: 240px;
	height: 43px;
	border: 1px solid #00be3c;
	background-color: #65C33D;
	color: #fff;
	font-size: 14px;
	margin-left: 90px;
	margin-top: 19px;
	border-radius: 3px;
	cursor: pointer;
}
#dialog .dialog .submitBasicInfo:hover {
	background-color: #00be3c;
}
#dialog .dialog .notice {
	color: #c7c7c7;
	font-size: 12px;
	margin-left: 94px;
}
#dialog .dialog02 {
	width: 580px;
	height: 475px;
	margin-left: -312px;
}
#dialog .imgWrap {
	overflow: hidden;
	margin-top: 33px;
	height: 240px;
}
#dialog .dialog02 .uploadImg, #dialog .dialog02 .imgPreview, #dialog .dialog02 .border {
	float: left;
}
#dialog .dialog02 .uploadImg {
	position: relative;
	width: 210px;
	height: 210px;
	background-color: #EDEDED;
}
#dialog .uploadInput {
	opacity: 0;
	position: absolute;
	height: 30px;
	width: 82px;
}
#dialog .button {
	margin-top: 75px;
	margin-left: 63px;
	border: none;
}
#dialog .upload {
	background-color: #65C33D;
	width: 82px;
	height: 30px;
	border: 1px solid #00be3c;
	border-radius: 3px;
	color: #fff;
}
#dialog .uploadHover {
	background-color: #00be3c;
}
#dialog .formatDetail {
	font-size: 12px;
	color: #999;
	width: 172px;
	margin-left: 20px;
	margin-top: 10px;
}
#dialog .dialog02 .border {
	height: 212px;
	width: 1px;
	background-color: #E7E7E7;
	margin-left: 35px;
	margin-right: 35px;
}
#dialog .bigSize, #dialog .otherSize {
	float: left;
}
#dialog .bigSize {
	width: 180px;
	height: 180px;
}
#dialog .middleSize {
	width: 50px;
	height: 50px;
}
#dialog .smallSize {
	width: 30px;
	height: 30px;
}
#dialog .littleSize {
	width: 22px;
	height: 22px;
	border-radius: 12px;
}
#dialog .otherSize {
	margin-left: 24px;
}
#dialog .imgPreview {
	font-size: 12px;
	color: #999;
}
#dialog .content {
	clear: both;
}
#dialog .otherSize p {
	margin-top: 3px;
	margin-bottom: 8px;
}
#dialog .content p {
	padding-top: 5px;
}
#dialog .dialog02 .save {
	width: 625px;
	height: 92px;
	margin-top: 33px;
}
#dialog .dialog02 .save a {
	background-color: #65C33D;
	width: 184px;
	height: 40px;
	border: 1px solid #00be3c;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 36px;
	margin-right: 8px;
	margin-top: 16px;
}
#dialog .dialog02 .save a:hover {
	background-color: #00be3c;
}
#dialog .dialog02 .save .submit {
	margin-left: 212px;
}
#dialog .dialog02 .notice {
	margin-left: 204px;
}
#dialog .dialog02 {
	top: 60px;
}
#container .userInfo .arrowUp {
	background-position: -38px -1px;
	width: 11px;
	height: 10px;
	left: 14px;
	top: -7px;
}
#dialog input {
	outline: none;
}
#dialog .dialog02 .loading {
	color: #999;
	position: absolute;
	width: 100px;
	top: 4px;
}
#dialog .dialog03 {
	border: 1px solid #CFCBCB;
	padding-bottom: 90px;
	margin-left: -212px;
}
#dialog .dialog03 .tip {
	font-size: 20px;
	color: #333;
	margin-left: 20px;
	margin-top: 65px;
	margin-bottom: 5px;
	margin-right: 75px;
}
#dialog .dialog03 .icon {
	background-position: 0px -34px;
	vertical-align: middle;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 8px;
}
#dialog .dialog03 a {
	margin-left: 65px;
	font-size: 12px;
	color: #999;
}
.tantan-midnight {
	display: block;
}
#so-comment-add {
	border-top: 1px solid #eee;
	padding-top: 10px;
	margin-top: 4px;
}
#so-comment-add h3 img {
	height: 16px;
}
#so-comment-add h3 span {
	color: #323232;
	font-size: 14px;
}
#so-comment-add .play, #so-comment-add p .count:before {
	background: url("../../../../p.ssl.qhimg.com/d/inn/b08c3b7a/tantanAdv.png")/*tpa=https://p.ssl.qhimg.com/d/inn/b08c3b7a/tantanAdv.png*/;
}
#so-comment-add .play {
	display: inline-block;
	position: absolute;
	bottom: 50px;
	left: 10px;
	background-position: -5px -1px;
	width: 40px;
	height: 40px;
}
#so-comment-add ul li {
	float: left;
	position: relative;
}
#so-comment-add ul .first {
	margin-right: 12px;
}
#so-comment-add .tantan-midnight ul li img {
	width: 240px;
	height: 210px;
}
#so-comment-add .tantan-midnight ul li img.preview {
	height: 80px;
}
#so-comment-add ul li img {
	width: 112px;
	height: 73px;
}
.so-w1330 #so-comment-add .tantan-midnight ul li img {
	width: 408px;
	height: 210px;
}
.so-w1330 #so-comment-add .tantan-midnight ul li img.preview {
	height: 136px;
}
.so-w1330 #so-comment-add ul li img {
	width: 126px;
	height: 73px;
}
#so-comment-add .link {
	color: #2c26f2;
	text-decoration: none;
	cursor: pointer;
}
#so-comment-add p {
	width: 100%;
	font-size: 16px;
	font-family: '瀹嬩綋';
	line-height: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
#so-comment-add p .title {
	margin-left: 10px;
	color: #FFF;
	max-width: 200px;
	display: inline-block;
}
.so-narrow #so-comment-add p .title {
	max-width: 160px;
}
.so-narrow #so-comment-add p .count {
	margin-top: 1px;
}
#so-comment-add p .count {
	display: inline-block;
	font-size: 13px;
	width: auto;
	vertical-align: top;
	margin-top: 2px;
}
#so-comment-add p .count:before {
	width: 9px;
	height: 10px;
	background-position: -4px -87px;
	content: '';
	display: inline-block;
	margin-right: 5px;
}
.so-w1330 #so-comment-add p .time {
	font-size: 13px;
	position: absolute;
	right: 10px;
	width: auto;
	height: 40px;
	line-height: 40px;
	margin-right: 0;
	margin-top: 2px;
}
#so-comment-add .tantan-midnight ul li .hot-topic {
	margin-bottom: 7px;
}
.so-w1330 #so-comment-add .tantan-midnight ul li .hot-topic {
	height: 160px;
}
.so-narrow #so-comment-add .tantan-midnight ul li .hot-topic {
	height: 94px;
}
#so-pdr-guide {
	display: block;
	width: 590px;
	height: 25px;
	line-height: 22px;
	font-size: 14px;
	padding-left: 15px;
	background: url("../../../../p.ssl.qhimg.com/t01e99d1b782b81cb01.png")/*tpa=https://p.ssl.qhimg.com/t01e99d1b782b81cb01.png*/ no-repeat 2px 5px;
*position:relative;
*z-index:0;
}
#so-pdr-guide dt {
	color: #666666;
	float: left;
}
#so-pdr-guide dd {
	float: left;
}
#so-pdr-guide .so-pdr-bd {
	width: 390px;
	height: 22px;
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
}
#so-pdr-guide .so-pdr-bd a {
	color: #cc0000;
	margin: 0 6px;
	white-space: nowrap;
	word-break: keep-all;
}
#so-pdr-guide .so-pdr-box {
	position: relative;
	top: 0;
	left: 0;
}
#so-pdr-guide .ac-change {
	color: #666666;
	text-decoration: none;
	float: left;
	line-height: 24px;
	visibility: hidden;
	padding-left: 15px;
	font-size: 13px;
	background: url("../../../../p.ssl.qhimg.com/t01e99d1b782b81cb01.png")/*tpa=https://p.ssl.qhimg.com/t01e99d1b782b81cb01.png*/ no-repeat 0 -17px;
}
#mohe-rili {
	position: relative;
	zoom: 1;
	overflow: hidden;
}
#mohe-rili .mh-content {
	padding-left: 74px;
	min-height: 64px;
	font-size: 14px;
}
#mohe-rili .mh-content p {
	padding-bottom: 5px
}
#mohe-rili .mh-op {
	margin-top: 3px;
	height: 16px;
	line-height: 15px
}
#mohe-rili .mh-op a {
	display: inline-block;
	height: 16px;
	line-height: 15px;
	padding-left: 18px;
	font-size: 13px;
	text-decoration: none;
	background: url("../../../../p.ssl.qhimg.com/t019ae924a2aaaebcc5.png")/*tpa=https://p.ssl.qhimg.com/t019ae924a2aaaebcc5.png*/ 0 -126px no-repeat
}
#mohe-rili .mh-op a.mh-op-fold {
	display: none;
	background-position: 0 -89px
}
#mohe-rili .mh-op-less a.mh-op-unfold {
	display: none
}
#mohe-rili .mh-op-less a.mh-op-fold {
	display: inline-block
}
#mohe-rili .mh-rili-wap {
	position: relative;
	display: none;
	margin-top: 8px;
	height: 460px;
	overflow: hidden
}
#mohe-rili .mh-rili-only {
	margin-top: 0;
	display: block
}
#mohe-rili .mh-rili-wap .mh-rili-widget {
	position: relative;
	height: 455px;
	z-index: 0
}
#mohe-rili .mh-rili-foot .mh-rili-holiday {
	border: 1px solid #f1f1f1;
	border-top: 0;
	padding: 8px 10px 8px;
	color: #666;
	line-height: 21px;
	background-color: #fafafa
}
#mohe-rili .mh-rili-holiday span {
	color: #3eaf0e
}
#mohe-rili .mh-tips {
	position: absolute;
	top: 0;
	left: 0;
	padding: 180px 0 0;
	width: 100%;
	height: 425px;
	color: #333;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
	background: #fff;
	z-index: 1
}
#mohe-rili .mh-tips .mh-loading {
	display: block
}
#mohe-rili .mh-tips .mh-err-tips {
	display: none
}
#mohe-rili .mh-err .mh-loading {
	display: none
}
#mohe-rili .mh-err .mh-err-tips {
	display: block
}
#mohe-rili .mh-loading .mh-ico-loading {
	display: inline-block;
*zoom:1;
*display:inline;
	margin-right: 10px;
	width: 40px;
	height: 37px;
	font-size: 0;
	line-height: 32px;
	vertical-align: middle;
	background: url("images/loading.gif")/*tpa=http://www.qizuang.com/assets/home/huangli/images/loading.gif*/ no-repeat left top
}
#mohe-rili .mh-rili-ticket, #mohe-rili .mh-rili-ticket .mh-rili-widget {
	height: 521px
}
#mohe-rili .mh-rili-widget {
	line-height: 18px
}
#mohe-rili .mh-rili-widget a {
	color: #000;
	text-decoration: none
}
#mohe-rili .mh-rili-widget a:hover {
	color: #f00;
	text-decoration: underline
}
#mohe-rili .mh-rili-widget em {
	color: inherit
}
#mohe-rili .mh-rili-widget .red {
	color: #f00
}
#mohe-rili .mh-rili-widget .mh-doc-bd {
	background: #fee6c4;
	font-size: 12px
}
#mohe-rili .mh-rili-widget .mh-hint-bar {
    margin-left: 10px;
    margin-top: 10px;
    height: 45px;
    position: relative;
    z-index: 200;
}
#mohe-rili .mh-rili-widget .mh-control-bar {
	float: left;
	width: 410px;
	height: 46px;
	margin-left: 10px;
	margin-top: 10px;
	line-height: 20px;
	background: #fff;
}
#mohe-rili .mh-rili-widget .mh-control-bar .mh-control-bg{
	margin-left: 35px;

}
#mohe-rili .mh-rili-widget .mh-control-module {
	float: left;
	height: 20px;
	position: relative;
	background: url("../../../../p.ssl.qhimg.com/t01486f58f45a4bb3f1.gif")/*tpa=https://p.ssl.qhimg.com/t01486f58f45a4bb3f1.gif*/ repeat-x;
	border: 1px solid #c9cccf;

	margin-left: 15px;
	margin-top: 15px;
}
#mohe-rili .mh-rili-widget .mh-control {
	float: left;
	height: 12px;
	line-height: 12px;
	padding: 4px 10px;
	padding-bottom: 0;
	border-left: 1px solid #c9cccf;
	border-right: 1px solid #c9cccf
}
#mohe-rili .mh-rili-widget .mh-field {
	float: left;
	padding: 0;
	height: 12px;
	line-height: 12px
}
#mohe-rili .mh-rili-widget .mh-year {
	width: 43px;
	cursor: pointer
}
#mohe-rili .mh-rili-widget .mh-month {
	width: 26px;
	margin-left: 13px;
	cursor: pointer
}
#mohe-rili .mh-rili-widget .mh-year-control .mh-control {
	width: 48px
}
#mohe-rili .mh-rili-widget .mh-month-control .mh-control {
	width: 48px
}
#mohe-rili .mh-rili-widget .mh-prev, #mohe-rili .mh-rili-widget .mh-next {
	float: left;
	width: 15px;
	height: 20px
}
#mohe-rili .mh-rili-widget .mh-prev, #mohe-rili .mh-rili-widget .mh-next, #mohe-rili .mh-rili-widget .mh-trigger {
	background: url("../../../../p.ssl.qhimg.com/t01d8a137941c466737.gif")/*tpa=https://p.ssl.qhimg.com/t01d8a137941c466737.gif*/ no-repeat
}
#mohe-rili .mh-rili-widget .mh-next {
	background-position: 0 -25px
}
#mohe-rili .mh-rili-widget .mh-trigger {
	float: right;
	margin-top: -4px;
	margin-right: -10px;
	width: 15px;
	height: 12px;
	background-position: 0 -50px;
	cursor: pointer
}
#mohe-rili .mh-rili-widget .mh-holiday-control {
	width: 125px
}
#mohe-rili .mh-rili-widget .mh-holiday-control .mh-control {
	border: 0
}
#mohe-rili .mh-rili-widget .mh-holiday {
	width: 88px;
	cursor: pointer
}
#mohe-rili .mh-rili-widget .mh-list {
	text-align: center;
	padding: 0
}
#mohe-rili .mh-rili-widget .mh-list li:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
#mohe-rili .mh-rili-widget .mh-list li {
	clear: both;
	zoom: 1;
	margin-bottom: 10px
}
#mohe-rili .mh-rili-widget .mh-btn-today {
	float: left;
	width: 70px;
	height: 20px;
	background: url("../../../../p.ssl.qhimg.com/t01486f58f45a4bb3f1.gif")/*tpa=https://p.ssl.qhimg.com/t01486f58f45a4bb3f1.gif*/ repeat-x;
	border: 1px solid #c9cccf;
	text-align: center;
	cursor: pointer;
	margin-top: 15px;
	margin-left: 15px;
}
#mohe-rili .mh-rili-widget .mh-time-panel {
	float: right;
	padding-top: 0px;
	width: 125px;
	height: 0px;
	color: #999
}
#mohe-rili .mh-rili-widget .mh-time-panel .mh-time-monitor-title, #mohe-rili .mh-rili-widget .mh-time-panel .mh-time-monitor {
	float: left
}
#mohe-rili .mh-rili-widget .mh-time-panel .mh-time-monitor-title {
	margin-right: 5px
}
#mohe-rili .mh-rili-widget .mh-cal-main {
	margin: 0 auto;
*zoom:1;
	clear: both
}
#mohe-rili .mh-rili-widget .mh-cal-main:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
#mohe-rili .mh-rili-widget .mh-cal-main .mh-col-1 {
	width: 398px;
	float: left;
}
#mohe-rili .mh-rili-widget .mh-cal-main .mh-col-2 {
	width: auto;
	overflow: hidden
}
#mohe-rili .mh-rili-widget .mh-days-title {
	float: left;
	padding-top: 14px;
	padding-bottom: 12px;
	width: 56px;
	height: 13px;
	line-height: 13px;
	border: 1px solid #f1ebe4;
	border-left: none;
	text-align: center;
	font-size: 14px
}
#mohe-rili .mh-rili-widget .mh-control-bar .mh-list {
	position: absolute;
	top: 20px;
	left: 15px;
	display: none;
	z-index: 200;
	height: 169px;
	overflow: auto;
	background: #fff;
	border: 1px solid #c9cccf;
	border-top: 0
}
#mohe-rili .mh-rili-widget .mh-control {
    float: left;
    height: 16px;
    line-height: 12px;
    padding: 4px 10px;
    padding-bottom: 0;
    border-left: 1px solid #c9cccf;
    border-right: 1px solid #c9cccf
}
#mohe-rili .mh-rili-widget .mh-year-bar .mh-list {
	width: 68px
}
#mohe-rili .mh-rili-widget .mh-mouth-bar .mh-list {
	width: 67px
}
#mohe-rili .mh-rili-widget .mh-holiday-bar .mh-list {
	width: 125px;
	left: -1px
}
#mohe-rili .mh-rili-widget .mh-holiday-bar .mh-trigger {
	margin-right: -24px;
*margin-right:-10px
}
#mohe-rili .mh-rili-widget .mh-control-bar .mh-list li {
	cursor: pointer;
	text-align: center;
	line-height: 20px;
	height: 20px;
	text-align: center;
	color: #9a9a9a;
	margin-bottom: 1px;
	z-index: 200
}
#mohe-rili .mh-rili-widget .mh-control-bar .mh-list li:hover,
#mohe-rili .mh-rili-widget .mh-control-bar .mh-list li.mh-on {
	background: #77a1b4;
	color: #fff
}
#mohe-rili .mh-rili-widget .calendar-wrap{
	float: left;
    width: 410px;
    height: 394px;
    margin-left: 10px;
    background: #fff;
}
#mohe-rili .mh-rili-widget .mh-dates {
	height: 383px;
	z-index: 1;
	border-left: 1px solid #f1ebe4;
	border-right: 1px solid #f1ebe4;
	margin: 5px;
}
#mohe-rili .mh-rili-widget .mh-goupiao-dates {
	height: 479px
}
#mohe-rili .mh-rili-widget .mh-dates .mh-last {
	border-right: 0
}
#mohe-rili .mh-rili-widget .mh-dates-bd li {
	float: left;
	padding-top: 10px;
	width: 56px;
	height: 46px;
	background: #fff;
	border-right: 1px solid #f1ebe4;
	border-bottom: 1px solid #f1ebe4;
	font-size: 18px;
	cursor: pointer;
	z-index: 2
}
#mohe-rili .mh-rili-widget .mh-goupiao-dates .mh-dates-bd li {
	height: 62px
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item {
	font-size: 12px;
	position: relative
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item .mh-solar, #mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item .mh-lunar {
	height: 20px;
	line-height: 20px
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item .mh-spe-des, #mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item .mh-spe-cover-des {
	position: absolute;
	bottom: 0;
	left: 20;
	text-align: center;
	background: #b04343;
	color: #fff;
	line-height: 20px;
	height: 20px;
	width: 100%;
	z-index: 4
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item .mh-spe-cover {
	display: none;
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 80px;
	left: 0;
	top: 0
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item .mh-spe-cover img {
	display: block;
	width: 100%;
	height: 80px
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-spe-item .mh-spe-cover-des {
	z-index: 6
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-on {
	background-color: #EDFFEF;
}
#mohe-rili .mh-rili-widget .mh-dates-bd li.mh-fes {
	background-color: #fefbeb
}
#mohe-rili .mh-rili-widget .mh-dates-bd .mh-solar {
	width: 100%;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-weight: 600
}
#mohe-rili .mh-rili-widget .mh-weekend .mh-solar {
	color: #b04343
}
#mohe-rili .mh-rili-widget .mh-dates-bd .mh-cross-month {
	background: #FFFfF7;
	color: #BFBFBF;
}
#mohe-rili .mh-rili-widget .mh-dates-bd .mh-today {
	background: #EDFFEF;
}
#mohe-rili .mh-rili-widget .mh-lunar {
	display: block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
}
#mohe-rili .mh-rili-widget .mh-solar-style .mh-lunar {
	color: #8eb475
}
#mohe-rili .mh-rili-widget .mh-isolar-style .mh-lunar {
	color: #86a9c0
}
#mohe-rili .mh-rili-widget .mh-vacation .mh-lunar, #mohe-rili .mh-rili-widget .mh-vsolar-style .mh-lunar {
	color: #b04343
}
#mohe-rili .mh-rili-widget .mh-rest, #mohe-rili .mh-rili-widget .mh-work {
	position: relative;
	z-index: 6
}
#mohe-rili .mh-rili-widget .mh-rest .mh-border, #mohe-rili .mh-rili-widget .mh-work .mh-border {
	position: absolute;
	top: 1px;
	left: 1px;
	display: block;
	width: 15px;
	height: 16px;
	overflow: hidden;
	background-image: url("../../../../p.ssl.qhimg.com/t01931e605f678e0aa2.gif")/*tpa=https://p.ssl.qhimg.com/t01931e605f678e0aa2.gif*/;
	background-repeat: no-repeat
}
#mohe-rili .mh-rili-widget .mh-rest .mh-border {
	background-position: 0 0
}
#mohe-rili .mh-rili-widget .mh-work .mh-border {
	background-position: 0 -20px
}
#mohe-rili .mh-rili-widget .mh-ticket {
	display: block;
	margin: 2px auto;
	width: 98%;
	height: 16px;
	text-align: center;
	font-size: 12px;
	background: #f60;
	color: #3eaf0e;
	border-radius: 1px
}
#mohe-rili .mh-rili-widget .mh-hotticket {
	background: #fbf3f3;
	color: #c00
}
#mohe-rili .mh-rili-widget .mh-almanac {
	background-color: #fee6c4;
	height: 450px;
	border: 1px solid #fee6c4;
	font-family: "Microsoft YaHei";
}
#mohe-rili .mh-rili-widget .mh-almanac-goupiao {
	position: relative;
	height: 479px;
	_height: 497px
}
#mohe-rili .mh-rili-widget .mh-almanac-base {
	height: 190px;
	margin-top: 10px;
}
#mohe-rili .mh-rili-widget .mh-dates-bar {
	position: relative;
}
#mohe-rili .mh-rili-widget .mh-weekday {
	position: absolute;
    left: 132px;
    top: 20px;
    text-align: center;
    color: #fff;
}
#mohe-rili .mh-rili-widget .mh-date{
	position: absolute;
    top: 135px;
    left: 118px;
    color: #c00;
}
#mohe-rili .mh-rili-widget .mh-date-show-panel {
	width: 113px;
    height: 122px;
    background: url("images/weekday.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/weekday.png*/ no-repeat;
    line-height: 153px;
    font-size: 60px;
    color: #c00;
    text-align: center;
    margin: 12px auto;
}
#mohe-rili .mh-rili-widget .mh-desc {
	color: #c00;
	margin-top: 30px;
	padding-bottom: 30px;
	position: relative;
}
#mohe-rili .mh-rili-widget .mh-other-info{
	display: none;
}
#mohe-rili .mh-rili-widget .mh-lunar-term{
	position: absolute;
    top: -17px;
    left: 184px;
    color: #c00;
}
#mohe-rili .mh-rili-widget .mh-lunar-ganzhi,
#mohe-rili .mh-rili-widget .mh-other-info,
#mohe-rili .mh-rili-widget .mh-lunar-term {
	text-align: center
}
#mohe-rili .mh-rili-widget .mh-astro {
	padding-left: 5px
}
#mohe-rili .mh-rili-widget .mh-almanac-extra {
	margin: 0 14px;
	padding-bottom: 15px;
	height: 125px;
	overflow: hidden;
	line-height: 18px;
}
#mohe-rili .mh-rili-widget .mh-suited,
#mohe-rili .mh-rili-widget .mh-tapu{
	float: left;
	width: 280px;
	margin-right: 2px;
}
#mohe-rili .mh-rili-widget .mh-tapu {
	float: left;
	width: 280px;
	margin-right: 2px;
	margin-top: 25px;
}
#mohe-rili .mh-rili-widget .mh-suited .mh-st-label{
	background: #d4473d;
}
#mohe-rili .mh-rili-widget .mh-tapu .mh-st-label{
	background: #696866;
}

#mohe-rili .mh-rili-widget .mh-st-label {
	float: left;
	width: 40px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
}
#mohe-rili .mh-rili-widget .mh-almanac-extra .mh-st-items{
	width: 216px;
    float: left;
    margin-left: 16px;
}
#mohe-rili .mh-rili-widget .mh-almanac-extra .mh-suited .mh-st-items li{
	color: #d4473d;
}
#mohe-rili .mh-rili-widget .mh-almanac-extra .mh-tapu .mh-st-items li{
	color: #696866;
}
#mohe-rili .mh-rili-widget .mh-almanac-extra .mh-st-items li{
	float: left;
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    line-height: 20px;
}
#mohe-rili .mh-rili-widget .mh-phone-net, #mohe-rili .mh-rili-widget .mh-proxy {
	margin: 10px;
	padding-top: 20px;
	height: 82px;
	line-height: 18px;
	color: #666;
}
#mohe-rili .mh-rili-widget .mh-phone-net h3, #mohe-rili .mh-rili-widget .mh-proxy h3 {
	font-size: 12px
}
#mohe-rili .mh-rili-widget .mh-phone-net {
	border-bottom: 1px solid #eee
}
#mohe-rili .mh-rili-widget .mh-label-his {
	margin-top: 5px;
	padding-right: 10px;
	text-align: right
}
#mohe-rili .mh-rili-widget .mh-label-his a {
	color: #999
}
#mohe-rili .mh-rili-widget .mh-linktail-goupiao {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	line-height: 38px;
	background: #f6f6f6;
	text-align: center
}
#mohe-rili .mh-rili-widget .mh-linktail-goupiao a {
	color: #3eaf0e
}
.fs-rl {
	width: 1210px;
	overflow: hidden
}
.fs-zx {
	border-top: 1px solid #f1f1f1;
	padding-top: 20px
}
.fs-tu-list {
	position: relative;
	width: 560px;
	height: 340px;
	float: left
}
.fs-tu-list li {
	float: left;
	width: 260px;
	height: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative
}
.fs-tu-list li i {
	display: block;
	background: url("images/jx.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jx.png*/;
	position: absolute;
	width: 30px;
	height: 24px;
	left: -6px;
	top: 10px
}
.fs-tu-list li a {
	position: absolute;
	color: #fff;
	display: block;
	width: 240px;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
	background: rgba(0,0,0,.5);
	left: 0;
	top: 120px;
	text-align: center
}
.fs-tu-list li img {
	width: 100%;
	height: 100%;
	opacity: 0.8
}
.fs-tu-list li:hover img {
	opacity: 0.7
}
.fs-tu-list li:hover a:hover {
	text-decoration: none;
	color: #FFF
}
.fs-zx-list {
	float: right;
	width: 350px;
	padding-right: 20px;
	font-family: "Microsoft YaHei";
}
.fs-zx-list .fs-zx-tit {
	border-bottom: 1px dotted #f1f1f1;
	color: #888;
	padding-bottom: 20px;
	margin-bottom: 20px
}
.fs-zx-list .fs-zx-tit h1 {
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	font-weight: 100
}
.fs-zx-list .fs-zx-tit p {
	text-indent: 24px;
	overflow: hidden;
	line-height: 25px;
	height: 75px;
}
.fs-zx-list li {
	font-size: 14px;
	line-height: 28px;
	width: 350px;
	height: 28px;
	overflow: hidden
}
.fs-zx-list li span {
	margin-right: 10px
}
.fs-zx-list li span a {
	color: #888
}
.rl-hot-list {
	width: 220px;
    height: 458px;
    background: #faf2f0;
    float: left;
    margin-left: 20px;
    border: 1px solid #eee;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}
.rl-hot-list h1 {
	height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background: #f5e9db;
    color: #d0463c;
}
.rl-hot-list ul {
}
.rl-hot-list li {
	width: 220px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
}
.rl-hot-list li a{
	color: #d4473e;
}
.rl-hot-list li a:hover{
	color: #fff;
	text-decoration: none
}
.rl-hot-list li:hover {
    font-size: 18px;
    background: #ff7a01;
}
.side-list {
	float: right;
	width: 258px;
	font-family: "Microsoft YaHei";
	border: 1px #E4E4E4 solid;
	margin-top: 20px;
}
.side-list h1 {
	text-align: center;
	font-size: 16px;
	line-height: 45px;
	border-bottom: dotted 1px #f1f1f1;
	font-weight: 100
}
.side-list ul {
	padding: 10px 8px 10px 15px;
}
.side-list li {
	line-height: 28px;
	font-size: 16px;
	color: #333;
}
.side-list li a:hover {
	text-decoration: none
}
.day-yi-ji {
	padding: 20px;
	font-family: "Microsoft YaHei";
	margin-top: 23px;
}
.day-yi-ji dt {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px
}
.day-yi-ji dd {
	line-height: 30px;
	font-size: 14px
}
.day-yi-ji dd span.good {
	color: #4ac444;
	font-weight: 700;
	margin-left: 20px
}
.day-yi-ji dd span.bad {
	color: #e0843a;
	font-weight: 700;
	margin-left: 20px
}
.hl-info {
	border: 1px solid #f1f1f1;
	padding: 20px;
	overflow: hidden;
}
.hl-info-main {
	float: left;
	width: 630px;
}
.hl-info-bazi {
	border-right: 1px solid #f1f1f1;
	margin-bottom: 20px;
}
.hl-info-bazi td {
	border: 1px solid #f1f1f1;
	padding: 10px;
	width: 10%;
	text-align: center;
	border-right: 0
}
.hl-info-bazi td.tit {
	background: #f7f7f7
}
.hl-info-bazi td p {
	color: #17BD62
}
.hl-info-day {
	border: 1px solid #f1f1f1;
	border-bottom: 0;
}
.hl-info-day td {
	border-bottom: 1px solid #f1f1f1;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	font-family: "Microsoft YaHei";
}
.hl-info-day tr:hover {
	background: #FEFFEC
}
.hl-info-day td.tit {
	border-right: 1px solid #f1f1f1;
	width: 20%
}
.hl-info-tips {
	clear: both;
	color: #666;
	padding-top: 20px
}
.hl-day-info {
	float: right;
	width: 240px;
	font-family: "Microsoft YaHei"
}
.hl-day-info p {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px
}
.hl-day-info .day-big {
	width: 100px;
	height: 80px;
	border-radius: 10px;
	margin: 0 auto;
	line-height: 80px;
	text-align: center;
	position: relative;
	border: 1px solid #ccc;
	border-top: 3px double #ccc;
	border-bottom: 3px double #ccc;
	font-size: 60px;
	font-weight: bold;
	color: #3c3c3c;
	box-shadow: 0px 3px 3px rgba(0,0,0,.1)
}
.hl-day-info .day-big .day-mid-line {
	position: absolute;
	top: 35px;
	width: 104px;
	left: -2px;
	background: url("images/dayline.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/dayline.png*/;
	height: 9px;
	width: 104px
}
.hl-day-info dl {
	margin: 0 20px;
	margin-top: 20px;
}
.hl-day-info dt {
	font-size: 18px;
	clear: both;
	padding: 10px 0
}
.hl-day-info dd {
	line-height: 25px;
	float: left;
	margin-right: 20px;
	font-size: 14px
}
.mh-zxstar {
	line-height: 35px;
    text-align: center;
    color: #d4473e;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    margin: 20px auto;
}
.starrr {
	display: inline-block;
	margin-left: 5px;
	font-size: 20px;
}
.starBox i {

	padding: 0 1px;
	cursor: pointer;
	color: #ffc700;
	width: 20px;
	height: 20px;
}
.wenzrmain {
	border: 1px solid #eee;
	width: 258px;
	font-family: "Microsoft YaHei";
}
.wenzrtitle {
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	font-size: 16px;
	background: #f1f1f1
}
.sidelist ul {
	padding: 10px 8px 10px 15px;
}
.sidelist li {
	line-height: 28px;
	font-size: 16px;
	color: #333;
}
.sidelist li a:hover {
	text-decoration: none
}
.wenda {
	padding-bottom: 15px;
	padding-right: 7px;
}
.wenda li a {
	display: block;
	overflow: hidden;
	padding: 10px 10px 5px 10px;
	font-size: 16px;
}
.wenda li a:hover {
	text-decoration: none
}
.wenda li p {
	line-height: 23px;
	overflow: hidden;
	padding-left: 36px;
	font-size: 13px;
	color: #999;
}
.wenda li span {
	color: red;
}
.wenzrmain .wenzhot li a {
	width: 238px;
	height: 150px;
	display: block;
	overflow: hidden;
	padding: 10px;
	position: relative
}
.wenzhot li a img {
	width: 100%;
	height: 100%
}
.wenzrmain .wenzhot li a span {
	display: block;
	position: absolute;
	height: 25px;
	background: rgba(0,0,0,.6);
	color: #fff;
	line-height: 25px;
	bottom: 10px;
	width: 238px;
	text-align: center;
	overflow: hidden
}
.de-hot-diary {
	margin: 0 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.de-hot-diary li {
	border-bottom: 1px dotted #f1f1f1;
	padding-bottom: 6px;
	margin-top: 6px;
	height: 100%;
}
.de-hot-diary li a:hover {
	text-decoration: none;
	opacity: 0.8
}
.de-hot-diary li .img {
	float: left;
}
.de-hot-diary li .title {
	font-size: 15px;
	font-weight: 100;
	font-family: Microsoft YaHei;
	padding-left: 15px;
}
.de-hot-diary li img {
	height: 70px;
	width: 70px;
	margin-right: 15px;
}
.wlmain {
	margin: 0 auto;
	margin-top: 20px;
	border-top: 1px solid #eee;
	overflow: hidden;
	width: 930px
}
.wlmain .more-tit p {
	float: left
}
.wlmain .more-tit ul {
	font-size: 14px;
	float: right
}
.wlmain .more-tit ul li {
	float: left;
	margin-left: 50px;
}
.wlmain .more-tit ul li a {
	color: #aaa
}
.wlmain .more-tit ul li a:hover {
	text-decoration: none;
	color: #f00
}
.wlmain .more-tit {
	font-size: 28px;
	font-family: "Microsoft YaHei";
	line-height: 30px;
	margin: 20px 0;
	overflow: hidden
}
.wlmain .about-img {
	overflow: hidden;
	width: 950px
}
.wlmain .about-img dt {
	float: left;
	width: 180px;
	position: relative;
	margin-right: 20px;
	height: 125px;
}
.wlmain .about-img dt img {
	width: 180px;
	height: 125px;
}
.wlmain .about-img dt p {
	position: absolute;
	background: rgba(0,0,0,.5);
	left: 0;
	bottom: 0;
	padding: 0 10px;
	line-height: 25px;
	height: 30px;
	text-align: center;
	right: 0;
}
.wlmain .about-img dt p a {
	color: #fff
}
.wlmain .about-img dd {
	float: left;
	width: 245px;
	line-height: 25px;
	margin-right: 20px;
	overflow: hidden
}
.wlmain .about-img dd a {
	display: block;
	padding-left: 20px;
	height: 25px;
	overflow: hidden;
	background: url("../pic/liststyle.gif")/*tpa=http://www.qizuang.com/assets/home/pic/liststyle.gif*/ no-repeat left center
}
.wlmain .wl-wd {
	overflow: hidden
}
.wlmain .wl-wd .wl-aw {
	height: 215px;
	line-height: 25px;
	width: 400px;
	float: left;
	margin-right: 20px;
	border-right: 1px dotted #ccc
}
.wlmain .wl-wd .wl-aw dt, .wlmain .wl-wd .wl-qu dt {
	font-size: 16px;
	color: #FC0;
	font-family: "Microsoft YaHei";
	margin-bottom: 10px;
	text-shadow: -1px 0px 0px #F78911;
	text-align: center
}
.wlmain .wl-wd .wl-aw dd {
	color: #aaa;
	line-height: 30px;
	height: 60px;
	overflow: hidden;
	font-size: 14px
}
.wlmain .wl-wd .wl-aw dd p span {
	color: #0C9
}
.wlmain .wl-wd .wl-aw dd a span {
	color: #F60
}
.wlmain .wl-wd .wl-qu {
	width: 490px;
	line-height: 30px;
	overflow: hidden
}
.wlmain .wl-wd .wl-qu dd {
	float: left;
	width: 225px;
	margin-right: 20px;
	font-weight: bolder;
	height: 30px;
	overflow: hidden
}
.wlmain .img-l {
	overflow: hidden;
	width: 948px;
	overflow: hidden
}
.wlmain .img-l li {
	float: left;
	width: 217px;
	height: 150px;
	margin-right: 20px;
	position: relative
}
.wlmain .img-l li img {
	width: 217px;
	height: 150px
}
.wlmain .img-l li p {
	position: absolute;
	background: rgba(0,0,0,.5);
	left: 0;
	bottom: 0;
	padding: 0 10px;
	line-height: 25px;
	height: 30px;
	text-align: center;
	right: 0;
}
.wlmain .img-l li p a {
	color: #fff
}



/*装修吉日*/
.ht-banner {
    font-family: "Microsoft YaHei";
    margin-top: 30px;
    background: #FFD181;
    text-align: center;
    line-height: 30px;
    width: 1210px;
    height: 104px;
}
.ht-banner h1 {
    color: #a94100;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    float: left;
    padding: 22px 58px 26px 75px;
}
.ht-banner h1 i {
    font-style: normal;
    color: #ff5454;
}
.ht-banner .ht-msg {
    width: 588px;
    float: left;
    margin-top: 10px;
}
.ht-banner ul li {
    float: left;
    margin-right: 42px;
    margin-bottom: 10px;
}
.ht-banner ul li input {
    width: 240px;
    height: 34px;
    padding-left: 5px;
    border: 1px solid #dcd8d7;
}
.ht-banner ul li select {
    border: 1px solid #dcd8d9;
}
.ht-banner ul li .sle-time {
    width: 247px;
    height: 36px;
}
.ht-banner ul li .sle {
    width: 118px;
    height: 36px;
    margin-right: 7px;
}
.ht-banner a {
    display: block;
    float: left;
    width: 218px;
    height: 45px;
    line-height: 45px;
    margin-top: 30px;
    border-radius: 4px;
    background: #FF7A01;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Microsoft YaHei";
}
/*装修风水问答*/
.zxhl-ask-tit {
    margin-top: 20px;
}
.zxhl-ask-tit span {
    font-size: 30px;
    font-family: "Microsoft YaHei";
    margin-top: 25px;
}
.zxhl-ask {
    width: 931px;
    height: 356px;
    border: 1px solid #eee;
    margin-top: 15px;
    margin-right: 15px;
    float: left;
    background: #faf2f0;
    position: relative;
}
.zxhl-ask::before{content: "";width:28px;height:28px;background:url("images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;left: 10px;top: 10px;}
.zxhl-ask::after{content: "";width:28px;height:28px;background:url("images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;right: 10px;top: 10px;transform: rotate(90deg);}
.ask-con::before{content: "";width:28px;height:28px;background:url("images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;left: 10px;bottom: 10px;transform:rotate(270deg);}
.ask-con::after{content: "";width:28px;height:28px;background:url("images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;right: 10px;bottom: 10px;transform:rotate(180deg);}
.ask-con {
    width: 910px;
    height: 350px;
    margin: 10px auto;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}
.ask-con ul li {
    width: 350px;
    height: 120px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 65px;
}
.ask-con ul li i {
    width: 25px;
    height: 27px;
    background: url("images/ask-icon.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/ask-icon.png*/ no-repeat;
    display: block;
    float: left;
}
.ask-con ul li a {
    line-height: 27px;
    display: block;
    height: 27px;
    float: left;
    margin-left: 10px;
    font-size: 18px;
}
.ask-con ul li p {
    width: 308px;
    float: left;
    margin-left: 10px;
    font-size: 13px;
    color: #000;
}
.ask_icon_con i.ask_icon {
    background-position: 0 -39px;
}
.ask_icon_tit, .ask_icon_con {
    clear: both;
}
.ask_icon_con {
    padding-top: 10px;
}
#fd_box_form {
    margin-top: 15px;
    height: 354px;
}
