/*
* @Author: qz_xsc
* @Date:   2018-04-04 14:32:17
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-04-23 14:19:59
*/
.rel_form{display: none;}
.bg_video{background: url("../img/bgvideo.png")/*tpa=http://www.qizuang.com/assets/home/video/img/bgvideo.png*/ center center; width: 100%; height: 674px; position: relative; margin-bottom:15px}
.center_bg{ right:0px; left:0px; top:20px; bottom: 0px; height: 634px; margin:auto;}
.video_box{height: 479px; background: #313740; overflow: hidden; }
.play_box{height: 100%; width: 891px;float: left;position: relative; overflow: hidden;}
.jiangshi{text-align: center; display: table; float: left; width: 319px; height: 100%; color: #fff}
.jsicon{width: 139px;height: 139px; border-radius: 70px;margin:0px auto; overflow: hidden; margin-bottom: 36px}
.jsicon img{width:100%; height: 100%}
.jsname{font-weight: bold; font-size: 25px; margin-bottom: 66px;}
.askher{font-size: 16px; background: #ff5353; padding:8px 41px; display: inline-block; border-radius: 6px; cursor:pointer;}
.center_js{display: table-cell; vertical-align: middle;}
.play_list{position: relative; width:100%;}
.prev_veido,.next_veido{position: absolute; color:#999; width: 30px;height: 50px;
 font-size: 70px; text-align: center; cursor: pointer;}
.prev_veido{left: -57px; top:50%; margin-top: -50px}
.next_veido{right:-57px; top:50%; margin-top: -50px}
.item_box{position: relative; width:100%;background: #272C34; height: 130px; padding:22px 0px; overflow: hidden;}
.item_box ul{ height: 130px;  position:absolute; top:22px; overflow: hidden;}
.item_box ul li{float: left; overflow: hidden; height: 100%; width: 390px;margin:0px 3px 0px 9px; cursor: pointer;}
.item_box ul li:hover img{
    border:2px solid #ff5353; box-sizing: border-box;
}
.item_box ul li:hover h2{
    color: #ff5353;
}
.item_box ul li .item_icon{float: left; width: 188px; height: 130px}
.item_box ul li .item_icon img{width: 100%; height: 100%}
.item_content{color: #999; margin-left: 200px; position: relative; height: 100%}
.item_content h2{font-size: 17px;font-weight:normal; padding-top:10px; overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical; height: 73px;}
.item_content a{color: #999}
.bottom_eye{position: absolute; bottom: 10px; font-size: 16px;}
.bottom_eye img{border:none!important}
.bottom_eye i{padding-right: 10px;}
.video_active img{box-sizing: border-box; border:2px solid #ff5353;}
.video_active h2{color: #ff5353;}
.video_mb{position: absolute; width:100%; height: 100%; left:0px;top:0px;cursor: pointer;}
.video_mb .video_img{width: 100%; height: 100%}
.video_mb .video_icon{ position: absolute; margin:auto; left:0px; right:0px; bottom:0px; top:0px; }
.jianjie{color: #666}
.jianjie h3{font-size: 24px; font-weight: normal; color: #333;
   }
.jianjie .jj_text{font-size: 16px; padding-top: 12px; margin-bottom: 72px; }
.tk-l{
    width: 1168px !important;
    height: auto;
    margin-top: 33px;
    margin-bottom: 20px;
}
.tk-l .tk-rel{
    padding:10px 20px;
    margin:0px auto;
    width: 100% !important;
    border: 1px solid #e3e3e3;
}
.tk-l .tk-rel .rel-top{
    width: 100% !important;
    height: 206px;
    width: ;
    margin-bottom:
    margin-top: 13px;
    font-family: "Microsoft YaHei";
}
.rel-top .rel_topic p.h1{
    font-size: 20px;
    float: left;
    font-weight: normal;
}
.rel-top .rel_topic span{
    font-size: 12px;
    float: right;
    margin-top: 12px;
}
.rel-top .rel_text textarea{
    width: 99% !important;
    height: 74px;
    padding: 5px 0 0 8px;
    border: 1px solid #dcd8d9;
    resize: none;
    outline: none;
    margin-top: 6px;
}
.rel-top .rel_note{margin-top: 2px;font-family: "simsun";}
.rel-top .rel_note span{color: #999;}
.rel-top .rel_note span:first-child{
    float: left;
    margin-left: 12px;
}
.rel-top .rel_note span:last-child{
    float: right;
    margin-right: 12px;
}
.rel_login{
    margin-top: 17px;
    position: relative;
    font-family: "simsun";
}
.rel_login .login_k_acc{
    position: absolute;
    top: 36px;
    left: 8px;
    display: none;
}
.rel_login .login_k_pass{
    position: absolute;
    top: 36px;
    left: 225px;
    display: none;
}
.rel_login .login_pass{
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}
.rel_login .login_pass a{
    color: #989898;
}
.rel_login input{
    width: 186px;
    height: 34px;
    padding-left: 8px;
    border: 1px solid #dcd8d9;
    float: left;

}
.rel_login input:first-child{margin-right: 20px;}
.rel_login .login_hezuo{
    margin-left: 20px;
    float: left;
}
.rel_login .login_hezuo li{
    float: left;
    color: #666666;
    margin-right: 10px;
    line-height: 34px;
}
.rel_login .login_hezuo li a{
    width: 29px;
    height: 29px;
    margin-top: 3px;
    display: inline-block;
    background: url("../../zixun/img/hezuo.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/hezuo.png*/ no-repeat 0 0;
}
.login_hezuo li .hezuo_xinlang{background-position: 0 -29px !important;}
.login_hezuo li .hezuo_weixin{background-position: 0 -58px !important;;}
.rel_login .login_btn{
    background: #ff5353;
    float: right;
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.video_info_top{position: absolute; z-index: 10;color: #fff; width:100%;}
.video_info_top .video_name{width: 50%;overflow: hidden;text-overflow:ellipsis; white-space:nowrap;/* 不换行 */}
.video_name{float: left; font-size: 17px;margin-top: 4px; margin-left: 16px;}
.video_tool{float: right; font-size: 15px;margin-top:3px; margin-right: 25px;}
.video_tool .tooitem{float: left}
.video_tool .tooitem img{float: left; line-height: 22px; margin-top: 5px;}
.video_tool i{padding:0px 5px; font-size: 16px; cursor: pointer;}
.shadow_box{width:100%; height: 1px; top:-1px; box-shadow:0 0 80px 20px #000; z-index:9;position: absolute; }
.redcolor{color: #ff5353}
.bdsharebuttonbox{ width:20px !important; position: absolute; right:25px;top:0px;background: none ; }
.bds_more{background: none!important;padding-left:0px !important;display: block;width:17px; height: 30px; }
.hidden{display: none;}
#getAll{color: #ff5353; cursor: pointer;}
.tk-list{width: 1168px;}
.list-mod {width: 100% !important;padding: 10px 20px}
.list-mod .mod-main{width: 100% !important;}
.fix_warp{bottom: 86px !important}
.rel_login{display: block !important}
.main-msg .other_msg{width: 90% !important}
.dianzan, .dianzan1{cursor: pointer;}