/*
* @Author: qz_xsc
* @Date:   2018-04-04 09:02:20
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-04-23 14:10:55
*/
.bread{font-size: 15px}
.select_part{border-top: 1px solid #ff5353; margin-top:5px; padding-top: 11px; box-shadow: 1px 3px 5px #DEDEDE; padding-left: 8px;padding-bottom: 8px;margin-bottom: 42px}
.select_part ul{overflow: hidden; font-size: 0px; margin-bottom: 15px;}
.select_part ul li{  font-size: 14px;  margin-right: 10px; display: inline-block; padding:2px 10px;}
.type_name{text-align: right;width:75px; padding:0px !important; color:#999;}
.active_select{background: #ff5353; border-radius: 8px}
.active_select a{color:#fff;}
.videolist li{overflow: hidden;padding-bottom: 30px; border-bottom: 1px solid #DEDEDE;margin-bottom: 30px}
.videolist li .video_listimg{width: 462px; height: 236px; position: relative; overflow: hidden;}
.videolist li .video_listimg .video_icon{width: 100%; height: 100%}
.videolist li .video_listimg .play_icon{position: absolute; margin:auto; left:0px; right:0px; top:0px; bottom:0px; width:60px; height:60px;}
.videolist .video_cotnent{width: 723px;margin-left: 25px}
.videolist .video_cotnent h3{font-size: 24px; color: #333; font-weight: normal; padding-top: 8px}
.videolist .video_cotnent .host{font-size: 18px; color:#ff5353; padding-top: 18px;}
.videolist .video_detail{color:#666; font-size: 14px;padding-top: 7px; height: 102px;display: inline-block;}
.videolist .rec_desc{width:50%; position: relative;font-size: 14px; color: #666}
.videolist .rec_desc em{position: absolute; right: 0px; }
.video_detail a{color: #666}
.rec_desc span{padding-left:3px; padding-right: 10px; display: inline-block;}
.dianzan{float: left; margin-top:3px; margin-left: 10px; margin-right:6px;cursor: pointer; width: 14px; height: 14px;}
.rec_desc i{cursor: pointer;}
.no-border{height: 2px; background: #fff; margin-top: -31px}
.noresult_img{height: 513px; text-align: center; margin-top:-20px; }
.recommend{border-bottom: 1px solid #DEDEDE; font-size: 25px; color: #333;margin-bottom: 20px;padding-bottom: 10px}
