.clearfix::after{
	content: "";
	clear: both;
}
.clearfix::before{
	content: "";
	clear: both;
}
.page{margin-left: 200px;}
.redcolor{color:#ff5353 !important;}
.bgcolor{background:#ff5353 !important;}
.switch_box{cursor: pointer;}
.show{display: block !important;}
.bread{font-size: 12px;}
.tk-r {
    width: 260px;
    height: auto;
    float: right;
}
/*左边发表评论的样式*/
.tk-l{
	width: 930px;
	height: auto;
	float: left;
}
.tk-l .tk-rel{
	width: 928px;
	height: 236px;
	border: 1px solid #e3e3e3;
}
.tk-l .tk-rel .rel-top{
	width: 898px;
	height: 206px;
	margin: 0 auto;
	margin-top: 13px;
	font-family: "Microsoft YaHei";
}
.rel-top .rel_topic h1{
	font-size: 20px;
	float: left;
	font-weight: normal;
}
.rel-top .rel_topic span{
	font-size: 12px;
	float: right;
	margin-top: 12px;
}
.rel-top .rel_text textarea{
	width: 888px;
	height: 74px;
	padding: 5px 0 0 8px;
	border: 1px solid #dcd8d9;
	resize: none;
	outline: none;
	margin-top: 6px;
}
.rel-top .rel_note{margin-top: 2px;font-family: "simsun";}
.rel-top .rel_note span{color: #999;}
.rel-top .rel_note span:first-child{
	float: left;
	margin-left: 12px;
}
.word{
	float: right !important;
	margin-right: 12px;
}
.word_left{
	float: left;
	margin-left: 12px;
}
.rel_login{
	margin-top: 17px;
	position: relative;
	font-family: "simsun";
}
.rel_login .login_k_acc{
	position: absolute;
	top: 36px;
	left: 8px;
}
.rel_login .login_k_pass{
	position: absolute;
	top: 36px;
	left: 225px;
}
.rel_login .login_pass{
	float: left;
	margin-top: 8px;
	margin-left: 15px;
}
.rel_login .login_pass a{
	color: #989898;
}
.rel_login input{
	width: 186px;
	height: 34px;
	padding-left: 8px;
	border: 1px solid #dcd8d9;
	float: left;

}
.rel_login input:first-child{margin-right: 20px;}
.rel_login .login_hezuo{
	margin-left: 20px;
	float: left;
}
.rel_login .login_hezuo li{
	float: left;
	color: #666666;
	margin-right: 10px;
	line-height: 34px;
}
.rel_login .login_hezuo li a{
	width: 29px;
	height: 29px;
	margin-top: 3px;
	display: inline-block;
	background: url("../img/hezuo.png")/*tpa=http://www.qizuang.com/assets/home/video/img/hezuo.png*/ no-repeat 0 0;
}
.login_hezuo li .hezuo_xinlang{background-position: 0 -29px !important;}
.login_hezuo li .hezuo_weixin{background-position: 0 -58px !important;;}
.rel_login .login_btn{
	float: right;
	width: 120px;
	height: 36px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 36px;
	color: #fff;
	cursor: pointer;
}

/*评论列表的样式*/
.tk-l .tk-list .list-top{
	width: 899px;
	margin: 0 auto;
	margin-top: 26px;
	font-family: "Microsoft YaHei";
}
.list-top .list_topic h1{
	font-size: 20px;
	float: left;
	font-weight: normal;
}
.list-top .list_topic span{
	font-size: 16px;
    float: left;
    margin-top: 5px;
    margin-left: 12px;
}
.tk-list .list-mod{
	width: 928px;
	height: auto;
	margin-top: 15px;
	border: 1px solid #e3e3e3;
}
.list-mod .mod-main{
	width: 898px;
	margin: 0 auto;
}
.list-mod .mod-main .main-msg{
	margin-top: 20px;
	padding-bottom: 20px;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dashed #ccc;
}
.list-mod .mod-main .main-msg:last-child{
	border-bottom:none;
}
.mod-main .main-msg .user_t .user_img{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.main-msg .user_t .user_name{
	float: left;
	margin-left: 9px;
	line-height: 50px;
	font-size: 14px;
}
.mod-main .main-msg .user_t .user_time{
	float: right;
	line-height: 50px;
	color: #999999;
}
.main-msg .user_m p{
	margin-left: 59px;
	color: #666666;
}
.main-msg .user_m .user_m_res{
	float: right;
	margin-top: 10px;
}
.main-msg .user_m .user_m_res i{
	margin-left: 20px;
	font-size: 14px;
	cursor: pointer;
}
.main-msg .user_m .user_m_res i.fa-thumbs-o-up:hover{
	color:#fd6363;
}
.main-msg .user_m .user_m_res i.fa-thumbs-o-down:hover{
	color:#6c84b4;
}
.main-msg .user_m .user_m_res b{
	font-weight: normal;
	cursor: pointer;
	margin-left:20px;
}
.main-msg .user_m .user_m_res b:hover{
	color:#fd6363;
}
.main-msg .other_reply{

	position: relative;
	margin-top: 11px;
}

.main-msg .other_reply textarea{
	width: 1160px;
	height: 73px;
	border: 1px solid #dcd8d9;
	padding-left: 10px;
	padding-top: 5px;
	outline: none;
	resize: none;
}
.main-msg .other_reply i.top_icon{
	position: absolute;
	top: -4px;
	right: 6px;
	width: 8px;
	height: 8px;
	background: #fff;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	transform: rotate(45deg);
	display: block;
}
.main-msg .rel_login{display: none;}
.main-msg .other_msg{
	width: 848px;
	padding-top: 10px;
	margin: 10px auto;
	border-top: 1px dashed #ccc;
}
.main-msg .other_msg .user_t span.user_time{
	margin-right: 33px;
}
.main-msg .other_msg p{
	margin-left: 59px;
	margin-right: 30px;
}