/*
* @Author: qz_xsc
* @Date:   2017-09-09 10:16:40
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-06 16:38:57
*/
body{
    background: #FAFAFA;font-size: 14px;
}
.bodyList{background: #fff;}

p,ul{-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.baike-list{background: #F2F2F2;padding:20px 0px;}
.baike-list ul{width:1104px; margin:0 auto;overflow: hidden; height: 95px;}
.baike-list ul li{float: left;width: 138px; text-align:center; font-size: 14px;}
.baike-list ul li a{display: block;}
.baike-link img{margin:0 auto;}
.baike-link:hover{
    font-size: 13px;
}
.baike-link:hover img{
    width:60px;
}

.main-left{width: 900px;}
.left{float: left;}
.right{float: right;}
.main-right{width:280px;}
.item-head{margin-bottom:10px;}
.item-title{font-size: 22px;}
.item-body{overflow-x:hidden;position: relative; height: 341px;}
.btn-arrow{color: #fff;display: inline-block; padding:2px 6px;background: #808080;margin-top: 10px; cursor: pointer;}
#to-right{margin-left:10px;}
.item-img{width: 283px;float: left; margin-right:25px;}
.bkimg{width: 284px; position: relative; height: 215px; overflow: hidden; display: block;}
.item-img:nth-child(3){margin-right:0px;}
.bkimg img{width:284px; height: 215px; position: absolute; left:50%; margin-left: -142px; top:50%; margin-top: -108px;
transition: all 0.7s;
-moz-transition: all 0.7s;  /* Firefox 4 */
-webkit-transition: all 0.7s;   /* Safari 和 Chrome */
-o-transition: all 0.7s;
}
.bkimg:hover img{height:250px; width:310px;  margin-top: -125px; margin-left:-155px; left:50%; top:50%;}
.jxbk-container{padding:0px 12px; font-size: 14px;border:1px solid #e6e6e6;border-top: none; margin-top: -5px;padding-bottom: 15px;}
.jxbk-title{font-size: 16px;font-weight: bold;line-height: 50px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap; }
.new-baike-item{width: 46%;float: left; margin-left: 20px;margin-top: 20px;margin-bottom:0px;}
.new-baike-box{border:1px solid #e6e6e6;background: #fff;padding-bottom: 20px;}

.new-baike-item-img{width:160px;height: 120px; float: left; position:relative;overflow: hidden;}
.new-baike-item-img img{position: absolute;left:50%;margin-left: -80px; margin-top: -60px;top:50%; width:160px;height: 120px;
transition: all 0.7s;
-moz-transition: all 0.7s;  /* Firefox 4 */
-webkit-transition: all 0.7s;   /* Safari 和 Chrome */
-o-transition: all 0.7s;    /* Opera */
}
.new-baike-item-img:hover img{
    width:200px;height: 150px; margin-left: -100px; margin-top:-75px; left: 50%;top:50%;
}
.new-baike-content{margin-left: 180px;}
.new-baike-title{position: relative; height: 20px;overflow: hidden; width: 100%;margin-top: 6px;}
.title-text{margin-left: 60px; font-weight:bold; font-size: 16px;line-height: 20px;}
.little{background: #FF5353;position: absolute; }
.rect{width:40px;height: 20px; color: white;text-align: center; line-height: 20px;z-index:10;}
.arrow{width: 20px;height: 20px;transform: rotate(45deg);  -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);-moz-transform: rotate(45deg); left:30px;}
.new-baike-text{font-size: 14px;color:#909090;margin-top: 15px; line-height: 22px;}
.new-baike-text a{color: #909090}
.new-baike-text a:hover{color:#ff5353;}
.more-tuijian{font-size: 14px;padding-top: 10px;}
.tj-list ul{overflow: hidden;width: 110%}
.tj-list ul li{float: left; width:210px;background: #fff;margin-right:20px; margin-bottom: 20px;}
.tj-list ul li:nth-child(4n){margin-right: 0px;}
.tj-list ul li img{width:100%; height:160px;}
.fa-clock-o{padding-left: 0;}
.tj-item-bottom{margin-top: 10px; color: #909090}
.tj-item-bottom a{color: #909090;font-size: 12px}
.tj-item-bottom a:hover{color: #ff5353}
.bk-all-list {margin-left: 1px;}
.bk-all-list li{border:1px solid #e6e6e6; background: white;float: left;width:calc(25% - 1px);margin-left: -1px; margin-bottom:30px; min-height: 300px;}
.bk-all-list li:nth-child(1) .all-list-box,
.bk-all-list li:nth-child(2) .all-list-box,
.bk-all-list li:nth-child(3) .all-list-box,
.bk-all-list li:nth-child(4) .all-list-box{
    min-height: 500px !important;
}
.all-list-title{font-size: 15px;font-weight:bold; padding:10px;background: #F2F2F2}
.all-list-box{padding:15px;}
.all-list-box a{display: inline-block; width:50%; font-size: 14px;color: #909090;line-height: 30px; height: 30px;overflow: hidden;}
.all-list-box a:hover{color: #ff5353}
.allimg{width:210px;height: 160px; position: relative; display: block; overflow: hidden;}
.allimg img{width:210px;height: 160px; position: absolute; left:50%; margin-left: -105px; top:50%;margin-top: -80px;
transition: all 0.7s;
-moz-transition: all 0.7s;  /* Firefox 4 */
-webkit-transition: all 0.7s;   /* Safari 和 Chrome */
-o-transition: all 0.7s;    /* Opera */
}
.friend .tab-con-item a:hover{color: #ff5353}
.allimg:hover img{width:240px; height: 180px; margin-left:-120px; margin-top: -90px;}
.bj-form {
    background: url("../images/jisuanqibj.png")/*tpa=http://www.qizuang.com/assets/home/baike/images/jisuanqibj.png*/ no-repeat 100%;
    border: 0;
    height: 383px;

    -webkit-box-shadow: 0 0 10px rgba(1, 1, 1, .5);
    -moz-box-shadow: 0 0 10px rgba(1, 1, 1, .5);
    box-shadow: 0 0 10px rgba(1, 1, 1, .5);
    /* display: none; */
    margin-top: 30px;
    margin-bottom: 20px;
}
.bj-content {
    width: 220px;
    margin: 0 auto;
    overflow: hidden;
}
.bj-free-title {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #ff5353;
}
.jisuanjg {
    height: 45px;
    line-height: 45px;
    background: #fcfde9;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.bj-box {
    margin-top: 10px;
}
.bj-des-tit{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: 10px;
}

.bj-box .input-select {
    margin-bottom: 13px;
    position: relative;
}
.jisuanjg .shuzi {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}


.jisuanjg .danweiyuan {
    font-size: 12px;
    color: #7c7c74;
}
.bj-box .input-select select{
    width: 102px;
    height: 33px;
    border: 1px solid #e6e6e6;
}
.bj-box .input-select select:first-child{margin-right: 10px;}
.bj-box .input-select input{
    width: 220px;
    height: 33px;
    padding-left: 11px;
    border: 1px solid #e6e6e6;
}
.bj-box .input-select .pingfang{
    line-height: 35px;
    position: absolute;
    top: 0px;
    right: 8px;
}
.bj-box .input-select .right-now-btn{
    width: 220px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    background-color: #ff5353;
    font-size: 14px;
    color: #fff;
}
.bj-box .input-select .right-now-btn:hover{
    background-color: #D81C1C;
}
.bj-cal{
    width: 258px;
    height: 200px;
    margin-top: 30px;
    position: relative;
}
.bj-info{
    width: 258px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}
.bj-info p:nth-child(1){
    font-size: 20px;
    line-height: 20px;
    margin-left: 24px;
    margin-top: 32px;
    color: #fb8920;
    font-weight: bold;
}
.bj-info p:nth-child(2){
    font-size: 20px;
    line-height: 20px;
    margin-left: 112px;
    margin-top: 12px;
    color: #fb8920;
    font-weight: bold;
}
.bj-info a{
    width: 100px;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #ffab57;
    border-radius: 12px;
    margin-top: 44px;
    margin-left: 130px;
}
.qzbk-box{
    border:1px solid #e6e6e6; padding:20px; background: white;
}
/*计算结果*/
.jisuanjieguo{width: 258px;height: 383px;background: #f5f5f5;z-index: 999;margin-top: 30px;
display: none;}
 .jisuanjieguo .kuangzi{width: 220px;margin:0 auto;height: auto;overflow: hidden;}
 .jisuanjieguo .kuangzi .zxjgy{text-align: center;font-size: 18px;color: #333;margin-top: 18px;}
 .jisuanjieguo .kuangzi .zxjgy2{font-size: 14px;color:#333;text-align:center; }
 .jisuanjieguo .kuangzi .zxjgy2 span{font-size: 34px;color: #ff5353;}
 .jisuanjieguo .kuangzi .xiangxisj{padding: 22 26px;box-sizing: border-box;background: #fff;overflow: hidden;padding:10px;box-sizing: border-box;}
 .jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod{font-size: 14px;color: #666;margin:8px 0;overflow: hidden;}
 .jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod span{font-size: 14px;color: #333;display: inline-block;
    width:auto;}
 .jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod .lf{float: left;}
 .jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod .rt{float: right;}
 .jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod .rt span{margin-left: 5px;display: inline-block;}
 .jisuanjieguo .shuom{width: 220px;margin:0 auto;margin-top: 10px;}
 /*计算结果*/
.center-title{font-size:19px; text-align: center;padding-bottom: 6px;}
.left-title{font-size:19px;border-bottom: 1px solid #e6e6e6;padding-bottom: 6px; margin-bottom: 15px;}
.num-jilu i{font-size: 25px; color: #FF5353;padding-right: 15px;}
.num-jilu{font-size: 15px;line-height: 40px; padding-left: 20px;}
.create-btn{width:100%;font-size:14px;line-height: 35px;background: #ff5353;display: block; color: #fff; text-align: center; margin-top: 10px;}
.create-btn:hover{color: #fff;background-color: #D81C1C}
.news-baike li{position: relative; border-left: 2px solid #CCCCCC;padding:0px 10px 20px 30px; font-size: 14px;margin-left:15px;}
.time-point{position: absolute; display: block; width:36px;height: 36px;border-radius: 19px; text-align: center; line-height: 36px; border:2px solid #CCCCCC;
background: #fff;left: -20px;top:0px;}
.news-baike li:nth-last-child(1){
    border-left: 2px solid white;
}
.news-baike li div{min-height: 40px;}
.creater a{color:#6BA2EC;font-size: 14px; }
.creater a:hover{color: #ff5353}
.create-text{color: #B9B9B9; font-size:14px;padding:0px 10px;}
.search-title a{padding:8px;background: #EDEDED;display: inline-block;margin:2px;}

.bread{font-size: 14px;}
.baike-list-box{border:1px solid #e6e6e6;}
.baike-list-box .list-head ul{overflow: hidden; padding:10px 30px 0px 30px; height: 120px;position: relative;}
.list-head ul li{float: left; font-size: 16px; margin:10px 15px;  cursor: pointer;}
.list-head ul li span{display: block; text-align: center;margin-bottom: -9px;}
.list-head ul li i{display: block;display: none;}
.list-head ul li div{
    position: absolute; z-index:9;top:60px; width:1100px; left: 30px;display: none; font-size: 14px; line-height: 30px;
}
.gray-back{background-color:#F2F2F2;height: 100px; position: absolute; width:100%; left:0px; top:53px; }
.list-head ul li div a{padding:0px 15px; display: inline-block; }
.head-active{color: #ff5353;border-bottom: 2px solid #ff5353;}
.head-active i{display: block !important;}
.head-active div{display: block!important;}
.list-body ul{display: none;}

.baikeList-box {overflow: hidden;}
.baikeList-box li{width: 50%; float:left; overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0px;}
.baikeList-box li img{
    width:180px;height:136px; float: left;
}
.baikeList-box li .jxbk-title{line-height: 28px;}
.baikeList-box li .jxbk-container{
    margin-left:190px; border:none;
}


.jxbk-content{
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp:3;
height: 60px;
overflow: hidden;
}
.new-baike-text{
   display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp:3;
height: 70px;
overflow: hidden;
}
.bklist-box{width:180px;height: 136px; overflow: hidden; position: relative; display: block;float: left;}
.bklist-box img{position: absolute; width: 180px;height: 136px; left:50%; margin-left:-90px; top:50%; margin-top: -68px;}
.bklist-box:hover img{width: 200px;height: 150px; margin-top: -75px; margin-left: -100px;
transition: all 0.7s;
-moz-transition: all 0.7s;  /* Firefox 4 */
-webkit-transition: all 0.7s;   /* Safari 和 Chrome */
-o-transition: all 0.7s;    /* Opera */
}
.baikeList-box li .tj-item-bottom{margin-top: 8px;}
.f_box{width: 277px}
.f_box .f_list{width: 277px;}
.f_box_vf .f_item{width:277px;}
.f_box .input input[type=text]{width: 240px;}
.f_box .input button, .f_box .f_item .input a{width:248px;}
.page-box{width:662px;margin:40px auto;border:1px solid #e6e6e6;border-right: none; height: 30px; line-height: 30px;}
.page-box a{  border-right: 1px solid #e6e6e6; display: inline-block; width:35px;text-align: center; text-align: center;}
.page-box span{ padding:6px ;border-right: 1px solid #e6e6e6}
.banner{height: 344px;background: url("../images/banner.jpg")/*tpa=http://www.qizuang.com/assets/home/baike/images/banner.jpg*/ no-repeat center center;}
.tj-list1{overflow: hidden;}
.tj-list1 li{float:left; width:220px; color: #7D7D7D; margin-right: 27px; margin-bottom: 30px;}
.ejType{position: absolute; width:50%; right:3px; top:3px; background-color: rgba(0,0,0,0.7);color: #fff;z-index:8; border-radius:15px; line-height: 22px; text-align: center;  font-size: 12px;}
.tj-list1 li img{width:220px; height: 165px;}
.tj-list1 li:nth-child(5n){margin-right:0px;}
.tj-box{width:220px;height: 165px; position: relative; overflow: hidden; display: block; }
.tj-box img{width:220px;height:165px; position: absolute; left: 50%;margin-left:-110px; top:50%;margin-top: -84px;
transition: all 0.7s;
-moz-transition: all 0.7s;  /* Firefox 4 */
-webkit-transition: all 0.7s;   /* Safari 和 Chrome */
-o-transition: all 0.7s;    /* Opera */
}
.tj-box:hover img{
    width:240px;height: 180px; margin-top: -90px;margin-left:-120px;
}
.loading{width:170px;height:40px;line-height: 40px;text-align: center; background: url("../images/timg.gif")/*tpa=http://www.qizuang.com/assets/home/baike/images/timg.gif*/ no-repeat left center; background-size:20% 85%;font-size: 15px; margin:0 auto;}
.silder-main-img{width:110%!important;}


.lfsq_box{width: 280px; border:1px solid #f0f0f0; padding: 0 16px 20px;padding-bottom: 3px; box-sizing: border-box; margin-top: 30px; background-color: white; }
.lfsq_box .title {
    font-size: 18px;
    color: #333;
    background: #fff;
    height: 58px;
    line-height: 58px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
}
.lfsq_box .content{
    margin: 0;
    width: 244px;
    height: 225px;
    overflow: hidden;
}
.lfsq_box .content ul{
    width: 244px;
}
.lfsq_box li{
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #666;
    border-bottom: 1px solid #E8E8E8;
    text-align: left;
    float: none;
    vertical-align: top;
}
.lfsq_box li{
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #666;
    border-bottom: 1px dashed #E8E8E8;
    text-align: left;
    float: none;
    font-size: 14px;
    vertical-align: top;
}
.lfsq_box li:last-child{
    border-bottom: none;
}
.lfsq_box li>span{
    color: #fb8920;
    margin: 0 5px;
}
.lfsq_box li>a:hover, .lfsq_box li>a:focus {
    color: #dc4146;
}
