
.js-silder{
	position: relative;
	min-width: 320px;
	height: 341px;
}
.silder-scroll{
	width: 100%;
	overflow: hidden;
	height: 341px;
}
.silder-main{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 341px;
}
.silder-main-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.silder-scroll1{display: none;}