.muluwaikz{width: 890px;height: auto;border:1px solid #e3e3e3;margin: 0 auto;margin-top: 13px;overflow: hidden;}
.muluwaikz .mululeft{width: 68px;/*height: 100%;*/background: #f4f4f4;/*line-height: 100%;*/text-align: center;
float: left;font-size: 16px;
display: flex; justify-content: center; align-items: center;
}
.muluwaikz .muluright{display: inline-block;float:left;margin-left:10px;}
.muluwaikz .muluright li{line-height: 34px;font-size: 14px;}

.citiaoml{width: 890px;height:auto;margin: 0 auto;margin-top: 30px;
overflow: hidden;padding-bottom: 10px;}
.dibubk{border-bottom: none !important;border-top: 1px solid #e3e3e3;padding: 10px;}
.citiaoml .citiaoml_left{float: left;display: inline-block;width: 600px;}
.youbianzk{width: auto !important;}
.citiaoml .citiaoml_left .titlecitiao{font-size: 16px;font-weight: bold;}
.citiaoml .citiaoml_left .titlecitiao span{display: inline-block;padding-bottom: 9px;text-indent: 0 !important;margin-right: 6px;}
.citiaoml .citiaoml_left .zhengwen{height: 180px;overflow: hidden;font-size: 14px;margin-top: 10px;text-align: justify;}
.citiaoml .citiaoml_left .zhengwen2{height: auto;overflow: hidden;font-size: 14px;margin-top: 20px;text-align: justify;}
.citiaoml .citiaoml_left .zhengwen3{height: 190px;overflow: hidden;font-size: 14px;margin-top: 20px;text-align: justify;}
.citiaoml .citiaoml_left .zhengwen2 .firsttitle{font-weight: bold;font-size: 14px;margin-bottom: 15px;}
.citiaoml .citiaoml_left .zhengwen2 .firstneir1{font-size: 14px;margin-bottom: 15px;height: 50px;line-height: 25px;overflow: hidden;}
.citiaoml .citiaoml_left .zhengwen2 .firstneir2{font-size: 14px;height: 50px;line-height: 25px;overflow: hidden;}

.citiaoml .citiaoml_left .moregengd{text-align: right;}
.citiaoml .citiaoml_left .moregengd .zhankai{color: #2040df;cursor: pointer;font-size: 14px;}
.citiaoml .citiaoml_left .moregengd .shouqi{color: #2040df;cursor: pointer;font-size: 14px;display: none;}
.zhankaigaodu{height: auto !important;}
.citiaoml .citiaoml_left .moregengd .fa{margin-left: 3px;}

.citiaoml .citiaoml_right{float: right;display: inline-block;width: 228px;height: 228px;background: #dddddd;}
.citiaoml .citiaoml_right2{float: right;display: inline-block;width: 228px;max-height: 228px; padding-top: 52px;}
.citiaoml .baojiatan{float: right;display: inline-block;width: 228px;height: 228px;
	background:url("../images/baojiatan.png")/*tpa=http://www.qizuang.com/assets/home/baike/images/baojiatan.png*/ no-repeat;}

.wrapwkzxgbk{width: 930px;height: auto;border: 1px solid #e3e3e3;overflow: hidden;margin-top: 11px;color: #333;}
.wrapwkzxgbk .aboutbk{width: 890px;margin: 0 auto;text-align: left;font-size: 24px;font-weight: bold;}
.wrapwkzxgbk .tuwenkz{width: 890px;margin: 0 auto;height: auto;overflow: hidden;margin-top: 20px;padding-bottom: 35px;
border-bottom: 1px solid #e3e3e3;}
.wrapwkzxgbk .tuwenkz .tupbj{display: inline-block;float: left;width: 114px;height: 114px;background: #ddd;}
.wrapwkzxgbk .tuwenkz .tupbjsjtk{display: inline-block;float: left;width: 114px;height: 134px;
	background:url("../images/shejitankz.png")/*tpa=http://www.qizuang.com/assets/home/baike/images/shejitankz.png*/ no-repeat;}
.wrapwkzxgbk .tuwenkz .tupbjzxjr{display: inline-block;float: left;width: 114px;height: 114px;
	background:url("../images/zhuangxiujiri.png")/*tpa=http://www.qizuang.com/assets/home/baike/images/zhuangxiujiri.png*/ no-repeat;}
.wrapwkzxgbk .tuwenkz .wenzhangms{width: 600px;float: left;margin-left: 45px;}
.wrapwkzxgbk .tuwenkz .wenzhangms .tuwenbt{font-size: 14px;font-weight: bold;color: #333;}
.wrapwkzxgbk .tuwenkz .wenzhangms .tuwenbt:hover{color: #ff0000;cursor: default;}
.wrapwkzxgbk .tuwenkz .wenzhangms .tuwennr{font-size: 14px;color: #666;margin-top: 10px;height: 100px;
overflow: hidden;cursor: default;}
.wrapwkzxgbk .tuwenkz .wenzhangms .tuwennr:hover{color: #ff0000;}

.yinying{height: 100%;width: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: 0 auto;background: rgba(0,0,0,0.7);
display: none;z-index: 9999;}

.zxjrkz{width: 1210px;height: 107px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin:auto;
background: #ffd181;z-index: 9999;display: none;}
.zxjrkz .closegb{position: absolute;
    top: 3px;
    right: 8px;
    display: inline-block;
    color: #333;
    font-size:20px;cursor:pointer;}
.zxjrkz .jirims{text-align: center;display: inline-block;font-size: 16px;font-weight: bold;color: #a94100;
margin-top: 26px;margin-left: 75px;float: left;}
.zxjrkz .jirims .kgjiri01 span{color: #ff5454;}
.zxjrkz .jirims .kgjiri02{margin-top: 5px;}
.zxjrkz .jirims .kgjiri02 span{color: #ff5454;}

.formbd{width: 536px;height: 82px;margin-top: 10px;margin-left: 55px;display: inline-block;float: left;}
.formbd .shuruk{overflow: hidden;display: inline-block;}
.formbd .shuruk .yangshi{width: 245px;height: 35px;background: #fff;border:1px solid #dcd8d7;text-indent: 0.5em;}
.formbd .shuruk .yangshi2{width: 247px;height: 35px;background: #fff;border:1px solid #dcd8d7;padding:0;}
.formbd .shuruk .citykz{width: 116px;height: 35px;border: 1px solid #dcd8d7;}
.formbd .shuruk .arealocal{width: 116px;height: 35px;border: 1px solid #dcd8d7;margin-left: 10px;}
.zuobjv{margin-left: 35px !important;}
.formbd .topbianjv{margin-top: 10px;}
.zxjrkz .cesuanjr{width:218px;height: 45px;background: #ff7a01;border-radius: 5px;color: #fff;text-align: center;
line-height: 45px;font-size: 18px;margin: auto;margin-left: 66px;display: inline-block;margin-top: 30px;
cursor: default;}
.liredstyle{width:25px;height:20px;border: 1px solid #cccccc;background-color: red;color: white;text-align:center;vertical-align:middle; padding:0;margin: 0;font-size: 16px;font-weight: bold}