
/*公共*/
.zxmt-nav .zxmt-nav-main, .zxgl-nav .zxgl-nav-main, .more-nav .more-nav-main{margin-top: 30px;min-width:750px;width: auto !important;}
.zxmt-nav div, .zxgl-nav div, .more-nav div{margin:-8px 34px 0px 35px;}
.pub-nav-hover{height: 120px;}
.daohxiugitem{text-align: center;line-height: 38px !important;}
.daohxiugitem a{overflow: hidden;display: inline-block;font-size: 14px;}
.daohxiugitem a span:nth-child(2) {margin-top: -10px}
/*装修效果图*/
.daohxiugitem a .jiazlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/jiazhuagnxg01.png")/*tpa=http://www.qizuang.com/assets/common/img/jiazhuagnxg01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem a .jiazlogodh2{display: block;width:50px;height:50px;margin:auto;
	background: url("../img/jiazhuagnxg00.png")/*tpa=http://www.qizuang.com/assets/common/img/jiazhuagnxg00.png*/ no-repeat !important;background-size: 100% 100%;}
.daohxiugitem a .jiazuangdhms{display: block;text-align: center;color:#ff5353;}
.daohxiugitem a .jiazuangdhms3{display: block;text-align: center;color:#333 !important;}
.daohxiugitem a .jiazuangdhms2{display: block;text-align: center;color:#ff5353 !important;}

.daohxiugitem a .gongzuanglogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/gongzxg00.png")/*tpa=http://www.qizuang.com/assets/common/img/gongzxg00.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem a .gongzuanglogodh2{display: block;width:50px;height:50px;margin:auto;
	background: url("../img/gongzxg01.png")/*tpa=http://www.qizuang.com/assets/common/img/gongzxg01.png*/ no-repeat !important;background-size: 100% 100%;}
.daohxiugitem a .gongzuangdhms{display: block;text-align: center;color:#333;}
.daohxiugitem a .gongzuangdhms2{display: block;text-align: center;color:#ff5353 !important;}

.daohxiugitem a .quanwulogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/quanwu00.png")/*tpa=http://www.qizuang.com/assets/common/img/quanwu00.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem a .quanwulogodh2{display: block;width:50px;height:50px;margin:auto;
	background: url("../img/quanwu01.png")/*tpa=http://www.qizuang.com/assets/common/img/quanwu01.png*/ no-repeat !important;background-size: 100% 100%;}
.daohxiugitem a .quanwudhms{display: block;text-align: center;color:#333;}
.daohxiugitem a .quanwudhms2{display: block;text-align: center;color:#ff5353 !important;}

.daohxiugitem a .vrlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/vrshijing00.png")/*tpa=http://www.qizuang.com/assets/common/img/vrshijing00.png*/ no-repeat;background-size: 100% 100%;}
.vrlogodh2{display: block;width:50px;height:50px;margin:auto;
	background: url("../img/vrshijing01.png")/*tpa=http://www.qizuang.com/assets/common/img/vrshijing01.png*/ no-repeat !important;background-size: 100% 100%;}
.daohxiugitem a .vrgdhms{display: block;text-align: center;color:#333;}
.daohxiugitem a .vrgdhms2{display: block;text-align: center;color:#ff5353 !important;}

.daohxiugitem a .qiangsjlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/qiangsj00.png")/*tpa=http://www.qizuang.com/assets/common/img/qiangsj00.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem a .qiangsjlogodh2{display: block;width:50px;height:50px;margin:auto;
	background: url("../img/qiangsj01.png")/*tpa=http://www.qizuang.com/assets/common/img/qiangsj01.png*/ no-repeat !important;background-size: 100% 100%;}
.daohxiugitem a .qiangsjdhms{display: block;text-align: center;color: #ffa200;}
.daohxiugitem a .qiangsjdhms2{display: block;text-align: center;color:#ff5353 !important;}

.daohxiugitem:hover a .jiazlogodh2{display: block;width:50px;height:50px;margin:auto;
background: url("../img/jiazhuagnxg01.png")/*tpa=http://www.qizuang.com/assets/common/img/jiazhuagnxg01.png*/ no-repeat !important;background-size: 100% 100%;}
.daohxiugitem:hover a .jiazuangdhms3{color: #ff5353 !important;}
.daohxiugitem:hover a .gongzuanglogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/gongzxg01.png")/*tpa=http://www.qizuang.com/assets/common/img/gongzxg01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .gongzuangdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .quanwulogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/quanwu01.png")/*tpa=http://www.qizuang.com/assets/common/img/quanwu01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .quanwudhms{color: #ff5353 !important;}
.daohxiugitem:hover a .vrlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/vrshijing01.png")/*tpa=http://www.qizuang.com/assets/common/img/vrshijing01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .vrgdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .qiangsjlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/qiangsj01.png")/*tpa=http://www.qizuang.com/assets/common/img/qiangsj01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .qiangsjdhms{color: #ff5353 !important;}

/*装修攻略*/
/*1*/
.daohxiugitem a .zxlclogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiulc00.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiulc00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxlclogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiulc01.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiulc01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxlcdhms{display: block;text-align: center;}
.daohxiugitem a .zxlcdhms2{display: block;text-align: center;color: #ff5353 !important;}
/*2*/
.daohxiugitem a .zxjtlogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiujt00.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiujt00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxjtlogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiujt01.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiujt01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxjtdhms{display: block;text-align: center;}
.daohxiugitem a .zxjtdhms2{display: block;text-align: center;color: #ff5353 !important;}
/*3*/
.daohxiugitem a .zxbklogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiubk00.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiubk00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxbklogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiubk01.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiubk01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxbkdhms{display: block;text-align: center;}
.daohxiugitem a .zxbkdhms2{display: block;text-align: center;color: #ff5353 !important;}
/*4*/
.daohxiugitem a .zxwdlogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zaixianwd00.png")/*tpa=http://www.qizuang.com/assets/common/img/zaixianwd00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxwdlogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/zaixianwd01.png")/*tpa=http://www.qizuang.com/assets/common/img/zaixianwd01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .zxwddhms{display: block;text-align: center;}
.daohxiugitem a .zxwddhms2{display: block;text-align: center;color: #ff5353 !important;}
/*5*/
.daohxiugitem a .yhrjlogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/userriji00.png")/*tpa=http://www.qizuang.com/assets/common/img/userriji00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .yhrjlogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/userriji01.png")/*tpa=http://www.qizuang.com/assets/common/img/userriji01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .yhrjdhms{display: block;text-align: center;}
.daohxiugitem a .yhrjdhms2{display: block;text-align: center;color: #ff5353 !important;}
/*6*/
.daohxiugitem a .kgjrlogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/kaigongjiri00.png")/*tpa=http://www.qizuang.com/assets/common/img/kaigongjiri00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .kgjrlogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/kaigongjiri01.png")/*tpa=http://www.qizuang.com/assets/common/img/kaigongjiri01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .kgjrdhms{display: block;text-align: center;color: #ffa200;}
.daohxiugitem a .kgjrdhms2{display: block;text-align: center;color: #ff5353 !important;}
/*7*/

.daohxiugitem:hover a .zxlclogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiulc01.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiulc01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .zxlcdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .zxjtlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiujt01.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiujt01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .zxjtdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .zxbklogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/zuangxiubk01.png")/*tpa=http://www.qizuang.com/assets/common/img/zuangxiubk01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .zxbkdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .zxwdlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/zaixianwd01.png")/*tpa=http://www.qizuang.com/assets/common/img/zaixianwd01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .zxwddhms{color: #ff5353 !important;}
.daohxiugitem:hover a .yhrjlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/userriji01.png")/*tpa=http://www.qizuang.com/assets/common/img/userriji01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .yhrjdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .kgjrlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/kaigongjiri01.png")/*tpa=http://www.qizuang.com/assets/common/img/kaigongjiri01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .kgjrdhms{color: #ff5353 !important;}

/*更多*/
/*1*/
.daohxiugitem a .fastbjlogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/bambaojia00.png")/*tpa=http://www.qizuang.com/assets/common/img/bambaojia00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .fastbjlogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/bambaojia01.png")/*tpa=http://www.qizuang.com/assets/common/img/bambaojia01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .fastbjdhms{display: block;text-align: center;color: #ffa200;}
.daohxiugitem a .fastbjdhms2{display: block;text-align: center;color: #ff5353 !important;}
/*2*/
.daohxiugitem a .fuwubzlogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/fuwubaoz00.png")/*tpa=http://www.qizuang.com/assets/common/img/fuwubaoz00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .fuwubzlogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/fuwubaoz01.png")/*tpa=http://www.qizuang.com/assets/common/img/fuwubaoz01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .fuwubzdhms{display: block;text-align: center;}
.daohxiugitem a .fuwubzdhms2{display: block;text-align: center;color: #ff5353 !important;}
/*3*/
.daohxiugitem a .jczxlogodh{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/jiancaizx00.png")/*tpa=http://www.qizuang.com/assets/common/img/jiancaizx00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .jczxlogodh2{
	display: block;width:50px;height:50px;margin:auto;
background: url("../img/jiancaizx01.png")/*tpa=http://www.qizuang.com/assets/common/img/jiancaizx01.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .jczxdhms{display: block;text-align: center;}
.daohxiugitem a .jczxdhms2{display: block;text-align: center;color: #ff5353 !important;}

/*4*/
.daohxiugitem a .jjscdh{
    display: block;width:50px;height:50px;margin:auto;
    background: url("../img/jjscdh00.png")/*tpa=http://www.qizuang.com/assets/common/img/jjscdh00.png*/ no-repeat;background-size: 100% 100%;
}
.daohxiugitem a .jjscdhms{display: block;text-align: center;}

.daohxiugitem:hover a .fastbjlogodh{display: block;width:50px;height:50px;margin:auto;
    background: url("../img/bambaojia01.png")/*tpa=http://www.qizuang.com/assets/common/img/bambaojia01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .fastbjdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .fuwubzlogodh{display: block;width:50px;height:50px;margin:auto;
    background: url("../img/fuwubaoz01.png")/*tpa=http://www.qizuang.com/assets/common/img/fuwubaoz01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .fuwubzdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .jczxlogodh{display: block;width:50px;height:50px;margin:auto;
background: url("../img/jiancaizx01.png")/*tpa=http://www.qizuang.com/assets/common/img/jiancaizx01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .jczxdhms{color: #ff5353 !important;}
.daohxiugitem:hover a .jjscdh{display: block;width:50px;height:50px;margin:auto;
    background: url("../img/jjscdh01.png")/*tpa=http://www.qizuang.com/assets/common/img/jjscdh01.png*/ no-repeat;background-size: 100% 100%;}
.daohxiugitem:hover a .jjscdhms{color: #ff5353 !important;}