/*
理念：
1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
  /* color: #666; */
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;color: #333;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }

select,select option{padding-left: 5px;}

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*一些全局默认样式*/

::-moz-selection{ background:#b7b59b; color:#fff; text-shadow: none; }
::selection { background:#b7b59b; color:#fff; text-shadow: none; }
body{ font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif; color:#3c3c3c; background:#fff;min-width: 1210px;}
a{ color:#333;}
a:hover{ color:#dc4146;text-decoration: none;}
.f-red{ color:#ff5351 !important}
.mr-10{ margin-right:10px !important}
.mt-50{ margin-top:50px !important}
.wrap{ width:1210px; margin:0 auto}
.ofw{ overflow:hidden}
/*公共头部*/

.header-top-img{max-width: 1920px;width: 100%;overflow: hidden;height: 70px;position: relative;}
.header-top-img .header-top-pic{position: absolute;left: 50%;top:0;margin-left: -960px;}
.header-top-img .top-close{position: absolute;right: 10px;top: 23px;cursor: pointer;}

.pub-top{ height:36px; background:#f8f8f8;}
.pub-top .city{ float:left; color:#666;line-height:36px;}
.pub-top .city a{float: left;color:#666;}
.pub-top .pub-city .city-link{float: left;color:#ff5353;}
.pub-top .pub-city .separator{margin:0 14px;width: 1px;height: 12px;display: block;float: left;background: #ccc;margin-top: 12px;}
.pub-top .returnhome{background:url("../img/return.png")/*tpa=http://www.qizuang.com/assets/common/img/return.png*/ no-repeat; float: left;width: 14px;height: 12px;margin-top: 11px;margin-left:24px;}
.pub-top .city .location{color: #dd4248; margin-right: 4px;}
.pub-top .city strong{float: left; margin-right: 5px; color: #dd4248;}
.pub-top .city i{ font-size:16px;float: left; margin-top: 11px;}
.pub-top .pub-city i.fa-angle-right{float:left;line-height: 36px;font-size: 13px;margin:0 4px;margin-top: 0;}
.pub-top .menu{ float:right; margin-top:12px}
.pub-top .menu li{ float:left; padding:0 14px; border-right:1px solid #ccc;line-height: 12px;}
.pub-top .menu li:last-of-type{ border:0;padding-right: 0;}
.pub-top .menu li a{ color:#666}
.pub-top .menu li a:hover,.pub-top .menu li a.active{ color:#ff5353}
.pub-top .menu li span.menu-telnum{ color:#FF565D; font-size: 12px; font-weight: normal;}
.pub-top .pub-city{float: left; position: relative;}
.pub-top .pub-city.active .home-city{display: block;}


.pub-top .menu li a span.guanzhupic{display: inline-block;width: 12px;height: 12px;
background: url("../img/guanzhubj.png")/*tpa=http://www.qizuang.com/assets/common/img/guanzhubj.png*/ no-repeat;margin-right: 4px;vertical-align:middle;position: relative;
top: -1px;}
.pub-top .menu li.guanzhuli a{position: relative;}
.pub-top .menu li.guanzhuli a .erweimawk{width: 150px;height: 190px;display: inline-block;background: #fff;position: absolute;top: 24px;
left: -40px;z-index: 14;text-align: center;overflow: hidden;display: none;box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);}
.pub-top .menu li .erweimawk img{width: 132px;height: 132px;margin-top: 19px;}
.pub-top .menu li .erweimawk .guanzhums{color: #333;line-height: 14px;letter-spacing:1px;}
.pub-top .menu li a:hover .erweimawk{display: block;}

/**城市切换**/
.pub-top .home-city{ z-index: 1000; display: none; border:1px solid #eceaeb; width:430px; position:absolute; left: -1px; top:35px;background: #FFF;}
.pub-top .home-city .tab-con-item{ display:none}
.pub-top .home-city .tab-nav{float: none; background:#f7f7f7; height:30px; line-height:30px; margin-bottom:2px}
.pub-top .home-city .tab-nav a{  display:block; color:#3c3c3c; width:16.6%; float:left; text-align:center}
.pub-top .home-city .tab-nav a.current{ border-bottom:2px #dd0000 solid; color:#dd0000}
.pub-top .tab-con-item a{color: #666; width:20%; float:left; display:block; text-align:center; line-height:30px;}
.pub-top .tab-con-item a:hover{color: #dd4248;}
.pub-top .tab-con-item { padding:0 20px; overflow:hidden; padding:5px 0 5px 0}
.pub-top .tab-con-item .city-more{ color:#aaa}

.pub-head-box{width: 100%;position: relative;background: #fff;z-index: 13;}
.pub-head-empty{width: 100%;height: 80px;display: none;}
.fixed_top{position: fixed;top: 0;box-shadow: 0 10px 15px rgba(0,0,0,.1);z-index: 11}
.pub-head{width:1210px; margin:0 auto; height:80px;}
.logo{ float:left;width:298px; height:65px;margin-top: 15px}
.pub-head .logo .logo-img1{margin-right: 20px;float: left;}
.pub-head .logo .logo-img2{float: left;margin-top: 10px}

/*导航*/
.pub-head-nav{float: left;margin-left: 140px;width: 754px;overflow: hidden;}
.pub-head-nav .nav{width: 1000px;}
.pub-head-nav .nav li{float: left;height:80px;overflow:hidden;margin-right: 58px;cursor: pointer; }
.pub-head-nav .nav li a{font-size: 16px;line-height: 80px;}
.pub-head-nav .nav li.on a{color: #ff5353;}
.pub-head-nav .nav li:hover a{color: #ff5353;}
.pub-head-nav .nav li.active a{color: #ff5353;border-bottom: 2px solid #ff5353;padding-bottom: 12px;}
.pub-head-nav .nav li a i{font-size: 12px;line-height: 77px;float: right;margin-left: 5px;}
.pub-nav-hover{
	width: 100%;
	height: 69px;
  overflow: hidden;
	background: #fff;
	position: absolute;
	left: 0;
	top: 80px;
	z-index: 4;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	 display: none;
	box-shadow: 0 10px 15px rgba(0,0,0,.1);
	transition: all 0.5s ease;
}
.pub-nav-hover div.active a{color: #ff5353;}
.zxmt-nav,
.zxgl-nav,
.more-nav{width: 1210px;margin: 0 auto; text-align: center;}
.zxmt-nav div,
.zxgl-nav div,
.more-nav div{margin:0px 15px;font-size: 16px;color: #666;line-height: 69px; display: inline-block;}
.zxmt-nav .zxmt-nav-main,
.zxgl-nav .zxgl-nav-main,
.more-nav .more-nav-main{ width: 754px; float: right; text-align: center;}
.zxmt-nav div a:hover,.zxgl-nav div a:hover,.more-nav div a:hover{color: #ff5353}
/*搜索框*/
.pub-search{ float:left; margin-left:150px;margin-top: 28px;display: none;}
.pub-search .search-nav{float: left;position: relative;}
.pub-search a{ float:left; margin-left:20px; display:block; margin-top:8px; color:#df4346}
.pub-search .search-form{width: 455px;}
.pub-search .search-input{float: left;height: 38px;width:316px;border-bottom: 1px solid #e5e5e5;margin-left: 18px;}
.pub-search .search-input input{font-size: 16px;margin-left: 6px;width: 282px;margin-top: 3px}
.pub-search .search-input input::-webkit-input-placeholder {color:#999;}
.pub-search .search-input input:-moz-placeholder {color:#999;}
.pub-search .search-input input::-moz-placeholder {color:#999;}
.pub-search .search-input input:-ms-input-placeholder {color:#999;}
.pub-search .search-input button{width: 16px;height: 16px;background: url("../pic/sousuo.png")/*tpa=http://www.qizuang.com/assets/common/pic/sousuo.png*/;border:none;outline: none;margin-top:4px;}
.pub-search .search-form .first-search{width:120px;height: 24px;border-right: 1px solid #ccc;line-height: 24px;text-align: center; cursor: pointer; margin-top: 4px;font-size: 16px;float: left;}
.pub-search .search-form .first-search i{margin-right: 20px;float: right;font-size: 13px;line-height: 22px;}
.pub-search .search-close{margin-top: 10px;margin-left: 30px;float: left;cursor: pointer;}
.pub-search .search-form ul{width:120px;position: absolute;left: -13px;top: 52px;z-index: 3;background: #fff;box-shadow: 0 2px 7px 0 #A0A0A0;overflow: hidden;display: none;}
.pub-search .search-form ul li{font-size: 16px;text-align: center;line-height: 16px;margin: 20px 0;cursor: pointer;}
.pub-search .search-form ul li:hover{color: #ff5353;}

.validate .focus{border: 1px solid #DE4349 !important;}
.validate .valdate-info{color: #DE4349 !important; font-size: 12px; padding:2px;}
.validate .box-line{margin-bottom: 30px;}
.validate .height_auto{margin-bottom: 0 !important; height: 65px !important;}

.footer{text-align:center;background: transparent;}
.footer .kefu-box{ background:#f3f3f3;font-family: "Microsoft Yahei"; font-size:18px; padding:15px 0}
.footer .kefu-box a{ display:inline-block; font-size:14px; font-weight:bold; color:#fff}
.footer .kefu-box a img.kefu-qq{position: relative; top: 4px;}
.footer ul{ margin: 0 auto; width:1210px; margin-top:20px; overflow:hidden}
.footer ul a{ color:#666}
.footer ul li{ float:left; width:92px; border-right:1px solid #ddd; box-sizing:border-box}
.footer ul li:last-of-type{ border-right:0}
.footer p{ margin-top:10px; color:#999}
.footer p img{ margin: 0 20px}

.go-top{ position:fixed; bottom:20px; right:20px; width:50px; height:101px; border:1px solid #ddd; cursor:pointer}
.go-top li.t1{ border-bottom:1px solid #ddd; position:relative; height:50px; background:url("../img/weixin.png")/*tpa=http://www.qizuang.com/assets/common/img/weixin.png*/ #fff center center no-repeat}

.go-top li.t1 span{ display:none; background:#fff; position:absolute; right:51px; bottom:-1px; padding:10px; border:1px solid #ddd}
.go-top li.t1:hover span{ display:block}
.go-top li.t2{ height:50px; background:url("../img/top.png")/*tpa=http://www.qizuang.com/assets/common/img/top.png*/ #fff center center no-repeat}
.go-top li.t2 a{ display:block; height:50px;}
.go-top li:hover{ background-color:#f1f1f1}

.friend{ position: relative; width: 100%;overflow: hidden;background: #fff;}
.friend .wrap {border: 1px solid #eee;}
.friend .tab-nav {overflow: hidden;height: 64px;background: #eee;}
.friend .tab-nav a {border: 0; display: block; float: left;font-weight: bold;color: #666;width: 100px; height: 64px; line-height: 64px;text-align: center; text-decoration: none; font-size: 14px; font-family: "Microsoft Yahei";  }
.friend .tab-nav a.current { font-weight:bold; position:relative;background: #fff;}
.friend .tab-con { position: relative; overflow: hidden; height: auto; width: 100%; }
.friend .tab-con-item { display: none; color:#444; overflow:hidden; height: auto; width: auto;margin-top: 20px;padding-left: 40px;}
.friend .tab-con-item a{ float:left; display:block; color: #666;line-height: 12px;margin-bottom: 20px;font-size: 12px;margin-right: 20px;}
.friend .tab-con-item a:hover{color: #ff5353;}
.nav{border: 0;}
.pub-nav .nav li.active:before{display:none}

/*S-底部报价弹窗*/
.wrap-posi { position: relative; }
.zb_footer_box1 { position: fixed; left: 0; bottom: 0; width: 100%; height: 230px; z-index: 10001; display: none; }
.zb_footer_box1 .zb_footer_bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.7; filter: alpha(opacity=70); }
.zb_footer_box1 .zb_l_bg2 { position: absolute; left: 0px; top: -29px; width: 450px; height: 239px; background: url("../../home/v3/meitu/images/tanchuang1.png")/*tpa=http://www.qizuang.com/assets/home/v3/meitu/images/tanchuang1.png*/ no-repeat; }
.zb_footer_box1 .zb_m_container { position: absolute; padding: 0 20px; right: 250px; top: 0; width: 660px; height: 230px; background: #1C2837; color:#fff }
.zb_footer_box1 .zb_m_container p{ clear:both}
.zb_footer_box1 .zb_m_container:before{ content:""; position:absolute; left:-30px; border-top:0; border-bottom:transparent 230px solid; border-right:30px solid #1C2837; border-left:0}
.zb_footer_box1 .zb_m_container:after{ content:""; position:absolute; right:-30px; border-bottom:0; border-top:transparent 230px solid; border-left:30px solid #1C2837; border-right:0; top:0}
.zb_footer_box1 .zb_m_container .zb_m_tit { color: #FFF; font-size: 18px; padding: 15px 0; letter-spacing: 2px; font-weight: 400; text-align: center; font-family: microsoft yahei; }
.zb_footer_box1 .zb_m_container .zb_m_tit p { font-size: 23px; }
.zb_footer_box1 .zb_m_container .zb_m_tit span { font-size: 15px; display: block; }
.zb_footer_box1 .zb_m_container .zb_m_tit span a { color: #ff5353; }
.zb_footer_box1 .zb_m_container .zb_m_input { padding: 10px 0; text-align: center; color: #666; }
.zb_footer_box1 .zb_m_container .zb_m_input >* { display: inline-block;  *display:inline;
vertical-align: top; }
.zb_footer_box1 .zb_m_container .zb_m_input input[type=text] { color: #666; border: 1px solid #FFF; height: 33px; padding-left: 5px; width: 185px; line-height: 35px; }
.zb_footer_box1 .zb_m_container .zb_m_input button { width: 80px; height: 35px; cursor: pointer; text-align: center; background: #FF8400; font-size: 16px; font-weight: bold; color: #fff; border: none; margin-left: 9px; border-radius: 11px; }
.zb_footer_box1 .zb_close { position: absolute; cursor: pointer; right: 0px; top: 10px; background: url("../../home/v3/meitu/images/close.png")/*tpa=http://www.qizuang.com/assets/home/v3/meitu/images/close.png*/ no-repeat; width: 44px; height: 42px; }
.zb_footer_box_little { display: none; width: 155px; height: 215px; position: fixed; left: -155px; bottom: 0px; cursor: pointer; }
.zb-leftsider{width:248px; float:left;margin-top: 25px}
.zb-rightsider{ margin-top: 35px; width:280px; float:right}
.zb-rightsider dt{ font-size:14px;font-family: "Microsoft Yahei"; margin-top:10px; padding-bottom:10px}
.zb-rightsider dt em{ color:#ff5659; padding:0 5px}
.zb-rightsider dt a{
  display: inline-block;
  width: 73px;
  height: 20px;
  background-color: #FF8400;
  margin-left: 15px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}
.zb-rightsider dd{ line-height:43px; float:left; width:50%}
.zb-userlength{ font-size:14px; margin-top:10px; padding-bottom:10px}
.zb-userlength em{ color:#ff5659}
.zb_m_container_edit li{ height:36px; position:relative; margin-bottom:10px}
.zb_m_container_edit li span{ color:#999; position:absolute; right:10px; line-height:36px }
.zb_m_container_edit li input{ height:36px; border:1px solid #ddd; box-sizing:border-box; padding: 5px; width:248px}

.bj_btn{ background:url("../../home/v3/meitu/images/button1.png")/*tpa=http://www.qizuang.com/assets/home/v3/meitu/images/button1.png*/ no-repeat; width:73px; height:68px; border:0; cursor:pointer; margin-top:90px; margin-left:20px; float:left}
.bj_btn:focus{ outline:none}
.bj_btn:hover{ background:url("../../home/v3/meitu/images/button2.png")/*tpa=http://www.qizuang.com/assets/home/v3/meitu/images/button2.png*/ no-repeat;}

.rbj_btn{ background:url("../../home/v3/meitu/images/button3.png")/*tpa=http://www.qizuang.com/assets/home/v3/meitu/images//button3.png*/ no-repeat; width:73px; height:68px; border:0; cursor:pointer; margin-top:70px; margin-left:20px; float:left}
.rbj_btn:focus{ outline:none}
.rbj_btn:hover{ background:url("../../home/v3/meitu/images/button4.png")/*tpa=http://www.qizuang.com/assets/home/v3/meitu/images/button4.png*/ no-repeat;}
.s-p{position: relative;height: 50px;display: none;margin-top: 178px;}
/*E-底部报价弹窗*/

.page {text-align: center;line-height:38px; font-family:"Microsoft YaHei"; width:auto; max-width:1210px; margin:0 auto;font-size:14px;}
.page a,.page strong {display: inline-block;border: 1px solid #d8d8d8;border-left:0px;color: #505050;padding: 0px 12px;vertical-align: middle;margin-left:0px;box-shadow:none; border-radius:0px}
.page a:hover, .page a.current, .page strong {height: 40px; color: white!important;text-decoration: none;background:#FF5659;border: 1px solid #FF5659;border-left:0px;}
.page em{ margin:0 5px}
.page .pageheader{font-size: 14px; margin-left: 5px;}
.page a:first-child{border-left: 1px solid #d8d8d8;}
.page a:last-child{border-left: 1px solid #d8d8d8;}
.page a:nth-child(2){border-left: 1px solid #d8d8d8;}

.disclamer-line{color: #999; text-align: left;overflow:hidden; margin-top:-10px; margin-bottom:5px; }
.no-margin{margin-top:20px !important;}
.disclamer-line span{font-size: 12px !important}
.disclamer-line .disclamer-check{ width:10px; height: 10px; border:1px solid #999;border-radius: 2px; margin-top:3px !important; margin-right:5px !important;cursor:pointer;position:relative; display: inline-block}
.disclamer-line a{color:#1F80C7; border-bottom:1px solid #1F80C7; display: inline-block;width:63px;overflow:hidden;position:relative;height:17px;}
.disclamer-line a span{ width:72px;position:absolute; left:-4px !important;}
.disclamer-line span.disclamer-text{margin-right: 5px !important}
.disclamer-line .disclamer-check i.fa-check{position:absolute; top: -1px; color: #1F80C7;}
.foot-disclaimer{color:#666!important; margin-top:20px !important;}