/*qz_cityMask----------遮罩层*/
.qz_cityMask{
	background: rgba(4, 4, 4, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(4, 4, 4, 0.5);
	display: none;
	z-index: 99999;
}
/*qz_Area ----------- 三级城市父节点*/
.qz_Area{
	width: 80%;
	overflow:hidden;
	background: #fff;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -500px;
	display: none;
	z-index: 100000;
}
/*
qz_provinceArea ----------- 省份
qz_cityArea     ----------- 地级市
qz_currentArea  ----------- 区域
*/
.qz_provinceArea,.qz_cityArea,.qz_currentArea{
	width:33%;
	height: 100%;
	text-align: left;
	float: left;
}
.qz_provinceArea li,.qz_cityArea li,.qz_currentArea li{
	cursor: pointer;
	text-align: left;
	height: 43px;
	line-height: 43px;
}
.qz_provinceArea li span,.qz_cityArea li span,.qz_currentArea li span{
	display: block;
	/*line-height: 3em;*/
	height: 100%;
	width: 85%;
	border-bottom: 1px solid #e5e5e5;
	margin-left: 15%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-family: "微软雅黑";
	font-size: 14px;
	box-sizing: border-box;
	/*vertical-align: middle;*/

}
.qz_provinceArea{width: 34% !important;background-color: #fff;}
.qz_cityArea{background-color: #f8f8f8;}
.qz_currentArea{background-color: #fff;}

.qz_active{color:#ff5659;background: #f8f8f8;}