::-moz-placeholder { font-family: "微软雅黑",'Microsoft Yahei'; }
::-webkit-input-placeholder { font-family: "微软雅黑",'Microsoft Yahei'; }
:-ms-input-placeholder { font-family: "微软雅黑",'Microsoft Yahei'; }
input,select{font-family: "微软雅黑",'Microsoft Yahei' !important;}
/*弹窗*/
.windowbg {font-family: "Microsoft Yahei";}
.windowbg{  background:#000;background:rgba(0,0,0,.7);filter:alpha(opacity=50)\9; position: fixed; top:0; bottom:0; left:0; right:0; z-index:99999}
.windowbg .order-window{ width:330px; border-radius:3px; background:#fff; margin:0 auto; position:relative; margin-top:10%; overflow:hidden}
.windowbg .order-window .tit{ height:50px; line-height:50px;border-bottom:1px #ddd solid; background:#f3f3f3;font-family: "Microsoft Yahei"; font-size:18px; text-align:center}
.windowbg .order-window .shutdown{ position:absolute; right:10px; top:0; color:#fff; text-shadow:0 0 1px #666; font-size:20px; cursor:pointer}
.windowbg .order-window h3 { font-family: "Microsoft Yahei";font-size: 14px; font-weight: 100; margin-bottom:10px}
.windowbg .edit-text { width: 100%; }
.windowbg .edit-text input[type=text]{padding-left:10px;display: block;  box-sizing: border-box; height:35px;  border: 1px solid #dcd8d9;font-size: 14px;color: #333;font-family: 'Microsoft Yahei'}
.order-info .edit-text .edit-half-right{padding-left:10px;display: block;  box-sizing: border-box; height:35px;  border: 1px solid #dcd8d9;font-size: 14px;color: #333;font-family: 'Microsoft Yahei'}
.windowbg .edit-text input[type=text]::-webkit-input-placeholder{color: #999;font-size: 14px;font-family: 'Microsoft Yahei'}
.windowbg .edit-text input[type=text]::-moz-placeholder{color: #999;font-size: 14px;font-family: 'Microsoft Yahei'}
.windowbg .edit-text input[type=text]:-ms-input-placeholder{color: #999;font-size: 14px;font-family: 'Microsoft Yahei'}
.windowbg .order-window .edit-text .edit-city { width: 100%; height: 35px; border: 1px solid #dcd8d9; }
.windowbg .order-window button { width: 100%; height: 35px; border-radius: 3px; background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer }
.windowbg .order-window .order-info{ padding:20px; text-align:center;}
.windowbg .order-window p{ margin-top:10px; text-align:center ; color:#666}
.windowbg .order-window .weiximg{ padding:30px 0; margin:0 auto; display:block}


/*新弹窗*/
.windowbg .big-order-window{ width: 500px;margin-top: 5%; }
.windowbg .big-order-window .tit{font-size: 20px; }
.windowbg .big-order-window .order-icon{position: absolute; right: 10px; top: 5px;}
.windowbg .big-order-window .edit-text {margin-bottom: 10px; position: relative; float: left;}
.windowbg .big-order-window .order-info{font-size: 15px; padding:45px;padding-top:20px;text-align: left;}
.windowbg .big-order-window .order-info:after{content: "";clear: both;display: block;}
.windowbg .big-order-window .edit-half-left{width:25%; float: left;padding-top:8px;}
.windowbg .big-order-window .edit-half-right{width:74%;float: right}
.windowbg .big-order-window .edit-text textarea{padding-left: 5px; width: 100%; height: 60px; resize: none; border: 1px solid #dcd8d9; }
.windowbg .big-order-window .edit-area{height: auto;}
.windowbg .big-order-window .selectbox {width:74%;float: right; height: 35px; border: 1px solid #dcd8d9;}
.windowbg .big-order-window .selectbox_two {width:35%;float: right; height: 35px; border: 1px solid #dcd8d9;}
.windowbg .box-line {padding-bottom:10px;}

.windowbg .focus{border: 1px solid #DE4349 !important;}
.windowbg .err {color: #DE4349 !important; font-size: 12px; padding:2px;text-align: center;}

/*S-最后一步X0603版*/
.xwindow{display: block;}
.x_win_last_content{position:absolute;top:50%;left:50%;margin-top:-75px;margin-left:-154px;width:310px;height:400px;height:150px}
.x_zb_box_one{padding:10px;padding-bottom:0;color:#666;text-align:center;font-family:'微软雅黑';line-height:18px}
.x_red{color:#dc4146}
.x_zb_box_title{position:relative;border-bottom:1px solid #ccc;background-color:#f2f2f2;color:#666}
.x_zb_box_in{position:absolute;top:50%;left:50%;margin-top:-145px;margin-left:-200px;width:434px;height:305px;background:#fff}
.x_zb_box_last p{margin-bottom:3px;color:#666;text-align:center;font-size:13px;font-family:'微软雅黑'}
.x_weiximg{position:relative;left:25px}
.x_zb_box_hd h1{margin-bottom:10px;padding-top:10px;color:#333;text-align:center;font-weight:400;font-size:20px;font-family:'微软雅黑'}
.x_win_box_close{position:absolute;top:5px;right:10px;display:block;width:18px;height:19px;background:url("../img/global.png")/*tpa=http://www.qizuang.com/assets/common/img/global.png*/ no-repeat;background-position:-7px -6px;cursor:pointer}
/*E-最后一步X0603版*/

/*修改弹窗1*/
.windowbg .big-order-window .tit{border-bottom: none;background: none;font-size: 26px;}
.windowbg .big-order-window .tit span{color: #ff5353;}
.windowbg .ganxsq2{width: 634px;font-family: "微软雅黑";padding: 45px 75px;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */border:10px solid #ffe6d2;
border-radius: 10px;position: fixed;overflow: visible;top: 0;bottom: 0;left: 0;right: 0;margin: auto;height: 432px;}
.windowbg .order-window p{font-size: 16px;font-family: "微软雅黑";}
.guanbisheji{width: 39px;height: 90px;display: inline-block;
	background: url("../img/guanbianniu.png")/*tpa=http://www.qizuang.com/assets/common/img/guanbianniu.png*/ no-repeat !important;position: absolute;right: 5px;
top: -70px;}

/*修改弹窗2*/
.windowbg .shifensj{width: 634px;font-family: "微软雅黑";padding: 45px 75px;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */border:10px solid #ffe6d2;
border-radius: 10px;position: fixed;overflow: visible;top: 0;bottom: 0;left: 0;right: 0;margin: auto;height: 432px;padding-top: 36px;}
.windowbg .big-order-window .tit{background: none;border-bottom: none;font-size: 26px;}
.windowbg .big-order-window .tit span{color: #ff5353;}
.windowbg .order-window p{font-size: 16px;}
.sjguanbi{width: 39px;height: 90px;display: inline-block;
	background: url("../img/guanbianniu.png")/*tpa=http://www.qizuang.com/assets/common/img/guanbianniu.png*/ no-repeat !important;position: absolute;right: 5px;
top: -70px;}
/*修改弹窗3*/
.windowbg .liangfang{width: 634px;font-family: "微软雅黑";padding: 45px 75px;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */border:10px solid #ffe6d2;
border-radius: 10px;position: fixed;overflow: visible;top: 0;bottom: 0;left: 0;right: 0;margin: auto;height: 432px;padding-top: 36px;}
.windowbg .liangfang .big-order-window .tit{background: none;border-bottom: none;font-size: 26px;}
.windowbg .order-window p{font-size: 16px;text-align: center !important;}
.lfguanbi{width: 39px;height: 90px;display: inline-block;
	background: url("../img/guanbianniu.png")/*tpa=http://www.qizuang.com/assets/common/img/guanbianniu.png*/ no-repeat !important;position: absolute;right: 5px;
top: -70px;}
/*首页感谢申请弹窗*/
.bjbox .line{margin: 0;}
.windowbg .order-window p{font-size: 16px;font-family: "微软雅黑";text-align: left;}
.windowbg .big-order-window2{width: 655px;height:520px;background: none;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;/*margin-top: 12.5%;*/}
.windowbg .order-window .tit2{background: none;border: 0;height: 60px;}
.windowbg .order-window .shutdown2{width: 39px;height: 90px;background: url("../img/guanbianniu.png")/*tpa=http://www.qizuang.com/assets/common/img/guanbianniu.png*/ no-repeat !important;position: absolute;
right: 15px;top: 5px; }
.zhutineritr .order-info p{text-align: center !important;}
/*感谢申请弹窗*/
.baojiasq{background: none;}
.windowbg .big-order-window .tit{border-bottom: none;background: none;font-size: 26px;}
.windowbg .big-order-window .tit span{color: #ff5353;}
.windowbg .ganxsq3{width: 634px;font-family: "微软雅黑";padding: 45px 75px;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */border:10px solid #ffe6d2;
border-radius: 10px;position: fixed;overflow: visible;top: 0;bottom: 0;left: 0;right: 0;margin: auto;height:481px;padding-top: 25px;}
.guanbisheji2{width: 39px;height: 90px;display: inline-block;
	background: url("../img/guanbianniu.png")/*tpa=http://www.qizuang.com/assets/common/img/guanbianniu.png*/ no-repeat !important;position: absolute;right: 5px;
top: -70px;}
.windowbg .order-window p{font-size: 16px;font-family: "微软雅黑";text-align: left;}
/*提交成功弹窗*/
.x_zb_box_in2{width: 634px;height: 432px;border-radius: 10px;border:10px solid #ffe6d2;box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding: 50px 104px;position: absolute;top: 50%;left: 50%;
margin-top: -216px;margin-left: -317px;}
.x_zb_box_title{background: none;border-bottom: none;}
.neirong{text-align: center;margin-top: 50px; position: relative}
.neirong .nr-pa-text{
    position: absolute;
    z-index: 29;
    text-align: left;
    left: 210px;
    top: 64px;
    line-height: 25px;
    color: #666;
    font-size: 14px;
}
.neirong .nr-pa-text i{
    color: #ff5353;
    font-size: 10px;
    padding-right: 5px;
}

.x_weiximg2{left: 0 !important;}
.guanbisheji3{width: 39px;height: 90px;display: inline-block;cursor: pointer;
	background: url("../img/guanbianniu.png")/*tpa=http://www.qizuang.com/assets/common/img/guanbianniu.png*/ no-repeat !important;position: absolute;right: -82px;
top: -118px;}
.x_zb_box_hd h1{font-size: 26px;}


