/*小贴士第一部分*/
body{font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
color: #333;}
.fix_nav .moqu_kefu{}
.fix_nav .moqu_kefu .xiaotiestishi{display: none !important; width: 151px;height: 102px;display: inline-block;
    background: url("../../mobile/guajian/img/xiaotieszhiyin.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaotieszhiyin.png*/ no-repeat;position: absolute;left: -134px;
top:-48px;font-size: 12px;color: #fb8920;padding-top:4px;padding-left:5px;box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;z-index: 9;cursor: default;}
.fix_nav .moqu_kefu .xiaotiestishi .zxxtsbiaot{font-size: 14px;color: #f5ba29;display: block;margin-top: 12px;margin-left: 22px;}
.fix_nav .moqu_kefu .xiaotiestishi .lingjy{font-size: 12px;color: #333;margin-left: 18px;display: inline-block;}
.fix_nav .moqu_kefu .xiaotiestishi .xiaotieshiguanbi{width: 22px;height: 22px;display: inline-block;
background:url("../../mobile/guajian/img/xiaotiesguanbi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaotiesguanbi.png*/ no-repeat;position: absolute;top: -10px;left: -10px;
cursor: pointer;display: none;}
.xiaotiesbjzhms{color: #fff !important;background: #ff5353 !important;}
.xiaotiesbjzhms2{color: #ff5353 !important;background: #fff !important;}
 .xiaotieskz3 input{border: 1px solid #d4d4d4;}
 .biaodanys2 input{border: 1px solid #d4d4d4;}
 .biaodanys3 input{border: 1px solid #d4d4d4;}
.toumyingy{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.7);display: none;
z-index: 10;}
.xiaotieskz{width: 732px;height:670px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.xiaotieskz .kuangxs{width:100%;height: 666px;background: url("../../mobile/guajian/img/xiaotieshisybj.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaotieshisybj.png*/ no-repeat;position: relative;border-radius: 10px;
border-top-right-radius: 0;}
.xiaotieskz .kuangxs .xiaoqi{width: 116px;height: 118px;display: inline-block;
    background: url("../../mobile/guajian/img/xiaoqilogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo.png*/ no-repeat;margin-top:33px;margin-left: 26px;float: left;}
.xiaotieskz .kuangxs .tishi{width: 473px;height: 56px;background: url("../../mobile/guajian/img/tishixx.jpg")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/tishixx.jpg*/ no-repeat;
margin-top: 50px;display: inline-block;float: left;}
.xiaotieskz .kuangxs .zxfg{width: 161px;height: 161px;display: inline-block;border-radius: 50%;background: #fff;
text-align: center;cursor: pointer;position:absolute;top: 274px;left: 285px;border: 2px solid #63b9ff;}
.xiaotieskz .kuangxs .zxfg .zxfgtp{width: 35px;height: 35px;background: url("../../mobile/guajian/img/zxfgxlogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfgxlogo.png*/ no-repeat;
display: inline-block;margin-top: 13px;background-size: 100% 100%;}
.xiaotieskz .kuangxs .zxfg .zxfgms{display: block;color: #63b9ff;font-size: 18px;margin-top: 46px;}
.xiaotieskz .kuangxs .zxfg:hover{background: #63b9ff;}
.xiaotieskz .kuangxs .zxfg:hover .zxfgtp{display: none;}
.xiaotieskz .kuangxs .zxfg:hover .zxfgms{margin-top: 57px;color: #fff;}
.xiaotieskz .kuangxs .zxzq{width: 122px;height: 122px;display: inline-block;background: #fff;text-align: center;
cursor: pointer;position: absolute;top: 204px;left: 121px;border-radius: 50%;border: 2px solid #ff7156;}

.xiaotieskz .kuangxs .zxzq .zxzqtp{width: 35px;height: 36px;background: url("../../mobile/guajian/img/zxzqxlogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxzqxlogo.png*/ no-repeat;
display: inline-block;margin-top: 11px;}
.xiaotieskz .kuangxs .zxzq .zxzqms{display: block;color: #ff7156;font-size: 18px;margin-top:32px;border-radius: 10px;}
.xiaotieskz .kuangxs .zxzq:hover{background: #ff7156;}
.xiaotieskz .kuangxs .zxzq:hover .zxzqtp{display: none;}
.xiaotieskz .kuangxs .zxzq:hover .zxzqms{margin-top:38px;color: #fff;}
.xiaotieskz .kuangxs .zxjc{width: 122px;height: 122px;display: inline-block;background: #fff;text-align: center;
cursor: pointer;position: absolute;top: 127px;left: 331px;border-radius: 50%;border: 2px solid #fcab4a;}
.xiaotieskz .kuangxs .zxjc .zxjctp{width: 34px;height: 30px;background: url("../../mobile/guajian/img/zxjclogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxjclogo.png*/ no-repeat;
display: inline-block;margin-top: 11px;}
.xiaotieskz .kuangxs .zxjc .zxjcms{display: block;color: #fcab4a;font-size: 18px;margin-top:29px;}
.xiaotieskz .kuangxs .zxjc:hover{background: #fcab4a;}
.xiaotieskz .kuangxs .zxjc:hover .zxjctp{display: none;}
.xiaotieskz .kuangxs .zxjc:hover .zxjcms{margin-top: 33px;color: #fff;font-size: 18px;}
.xiaotieskz .kuangxs .zxfy{width: 122px;height: 122px;display: inline-block;background: #fff;text-align: center;
cursor: pointer;position: absolute;top: 415px;left: 188px;border-radius: 50%;border: 2px solid #66dbc5;}
.xiaotieskz .kuangxs .zxfy .zxfytp{width: 34px;height: 34px;background: url("../../mobile/guajian/img/zxfylogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfylogo.png*/ no-repeat;
display: inline-block;margin-top: 11px;}
.xiaotieskz .kuangxs .zxfy .zxfyms{display: block;color: #66dbc5;font-size: 18px;margin-top:29px;}
.xiaotieskz .kuangxs .zxfy:hover{background: #66dbc5;}
.xiaotieskz .kuangxs .zxfy:hover .zxfytp{display: none;}
.xiaotieskz .kuangxs .zxfy:hover .zxfyms{margin-top: 38px;color:#fff;}
.xiaotieskz .kuangxs .zxlc{width: 122px;height: 122px;display: inline-block;background: #fff;text-align: center;
cursor: pointer;position: absolute;top: 395px;right: 138px;border-radius: 50%;border: 2px solid #8473f0;}
.xiaotieskz .kuangxs .zxlc .zxlctp{width: 34px;height: 34px;background: url("../../mobile/guajian/img/zxlclogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxlclogo.png*/ no-repeat;
display: inline-block;margin-top: 11px;}
.xiaotieskz .kuangxs .zxlc .zxlcms{display: block;color: #8473f0;font-size: 18px;margin-top:29px;}
.xiaotieskz .kuangxs .zxlc:hover{background: #8473f0;}
.xiaotieskz .kuangxs .zxlc:hover .zxlctp{display: none;}
.xiaotieskz .kuangxs .zxlc:hover .zxlcms{margin-top: 36px;color: #fff;}
.xiaotieskz .kuangxs .zxfs{width: 141px;height: 141px;display: inline-block;background: #fff;text-align: center;
cursor: pointer;position: absolute;top: 240px;right: 112px;border-radius: 50%;border: 2px solid #ffc928;}
.xiaotieskz .kuangxs .zxfs .zxfsms{display: block;color: #ffc928;font-size: 18px;margin-top: 35px;}
.xiaotieskz .kuangxs .zxfs .zxfstp{width: 35px;height: 35px;background: url("../../mobile/guajian/img/banbaojiatup.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/banbaojiatup.png*/ no-repeat;
display: inline-block;margin-top: 11px;background-size: 100% 100%;}
.xiaotieskz .kuangxs .zxfs:hover{background: #ffc928;}
.xiaotieskz .kuangxs .zxfs:hover .zxfstp{display: none;}
.xiaotieskz .kuangxs .zxfs:hover .zxfsms{margin-top: 44px;color: #fff;}

.xiaotieskz .kuangxs .footms{position: absolute;bottom: 30px;text-align: center;}
.xiaotieskz .kuangxs .footms .miaoshu{color: #333;font-size: 14px;display: inline-block;margin-left: 85px;}
.xiaotieskz .kuangxs .footms .mianfeifa{padding: 6px 7px;border:1px solid #ff5353;border-radius: 5px;cursor: pointer;
color: #ff5353}

.xiaotieskz .topleva{text-align: center;position: absolute;right: -50px;top: 0;}
.xiaotieskz .topleva .leavelout{width: 50px;height: 100px;line-height:53px;background: #ff5353;display: inline-block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}

/*小贴士第一部分*/

.xiaotieskz2{width: 732px;height:710px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.xiaotieskz2 .zxfskz{width: 100%;height: 700px;background:#fff;border-radius: 10px;position: relative;
border-top-right-radius: 0;}
.xiaotieskz2 .zxfskz .logozxfs{width: 114px;height: 103px;display: inline-block;float: left;
    background: url("../../mobile/guajian/img/xiaoqilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo2.png*/ no-repeat;margin-top: 36px;margin-left: 50px;}
.xiaotieskz2 .zxfskz .sanzzxfs{font-size: 20px;color: #333;display: inline-block;float: left;margin-top: 57px;
margin-left: 52px;font-weight: bold;}
.xiaotieskz2 .zxfskz .sanzzxfs span{color: #fcb51c;}
.xiaotieskz2 .zxfskz .ulwenzms{clear: both;display:block;margin:0 auto;text-align: center;}
.xiaotieskz2 .zxfskz .ulwenzms li{font-size: 16px;color: #333;text-align: left;margin-left: 224px;
    letter-spacing: 1.5px;}
.xiaotieskz2 .zxfskz .ulwenzms li span{font-weight: bold;}

.xiaotieskz2 .zxfskz .zxfsduibi{width: 660px;height: 287px;margin:0 auto;
    background: url("../../mobile/guajian/img/zxfsduibi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfsduibi.png*/ no-repeat;margin-top: 62px;margin-bottom: 40px;}
.xiaotieskz2 .zxfskz .wenxints{text-align: center;line-height: 30px;position:absolute;bottom:30px;left: 98px;
font-size: 14px;}
.xiaotieskz2 .zxfskz .wenxints .dibuzhis{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.xiaotieskz2 .zxfskz .wenxints .mianfeihuode{padding: 2px 10px;border:1px solid #ff5353;border-radius: 5px;
cursor:pointer;margin-left: 10px;color: #ff5353;}
.xiaotieskz2 .topguanbi{text-align: center;position: absolute;top: 0;right: -50px;}
.xiaotieskz2 .topguanbi .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.xiaotieskz2 .topguanbi .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}



.xiaotieskz3{width: 732px;height:620px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.xiaotieskz3 .baojiaye{width: 100%;height: 660px;background: #fff;border-radius: 10px;border-top-right-radius: 0;}
.xiaotieskz3 .baojiaye .logobaojia{width: 118px;height: 118px;display: inline-block;float: left;
    background: url("../../mobile/guajian/img/xiaoqilogo3.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo3.png*/ no-repeat;margin-left: 46px;margin-top: 15px;}
.xiaotieskz3 .baojiaye .baojaititle{float: left;font-size: 24px;font-weight: bold;margin-top: 58px;margin-left: 10px;}

.baojiawk{width: 400px;height:auto;margin:0 auto;clear: both;position: relative;top: -10px;}
.money-img{
    height: 40px;
    margin-top: 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 6px;
}
.xiaotieskz3 .num{
    width: 16px;
    height: 28px;
    background: url("../../mobile/guajian/img/num.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/num.png*/ no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.xiaotieskz3 .num-gray{background-position: -2px 0 !important;}
.xiaotieskz3 .num-0{background-position: -22px 0 !important;}
.xiaotieskz3 .num-1{background-position: -42px 0 !important;}
.xiaotieskz3 .num-2{background-position: -63px 0 !important;}
.xiaotieskz3 .num-3{background-position: -84px 0 !important;}
.xiaotieskz3 .num-4{background-position: -104px 0 !important;}
.xiaotieskz3 .num-5{background-position: -124px 0 !important;}
.xiaotieskz3 .num-6{background-position: -145px 0 !important;}
.xiaotieskz3 .num-7{background-position: -165px 0 !important;}
.xiaotieskz3 .num-8{background-position: -186px 0 !important;}
.xiaotieskz3 .num-9{background-position: -206px 0 !important;}
.xiaotieskz3 .home-style span{
    display: block;
    float: left;
    width: 33%;
    font-size: 14px;
    line-height: 14px;
    margin: 14px auto;
    /*background: blue;*/
    overflow: hidden;
}

.baojiawk .zxfsbd{width: 100%;overflow:hidden;}
.baojiawk .zxfsbd li{width: 100%;overflow: hidden;font-size:18px;margin-top: 24px;}
.baojiawk .zxfsbd .chengshi{width: 180px;height: 48px;border:1px solid #d4d4d4;box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding: 0;display: inline-block;float: left;}
.baojiawk .zxfsbd .diqu{width: 183px;height: 48px;border:1px solid #d4d4d4;margin-left: 31px;box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding: 0;display: inline-block;float:right;}
.baojiawk .zxfsbd .phonesj{width: 100%;height: 48px;box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-left: 5px;}
.baojiawk .zxfsbd .mjdanw{position: relative;}
.baojiawk .zxfsbd .mianji{width: 100%;height: 48px;box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-left: 5px;}
.baojiawk .zxfsbd .mjdanw i{position: absolute;right: 24px;top: 10px;color: #ff5353;}
.baojiawk .zxfsbd .xiaoqu{width: 100%;height: 48px;box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-left: 5px;}
.baojiawk .zxfsbd .tijiao{width: 100%;height: 48px;background: #ff5353;color: #fff;cursor: pointer;}
.baojiawk .zxfsbd .biaodantis{text-align: center;color: #DE4349 !important;font-size: 12px;display: none;}
.baojiawk .zxfsbd .yezhu{font-size: 14px;color: #666;margin-top: 12px;}
.baojiawk .zxfsbd .yezhu span{color: #ff5353;}
.xiaotieskz3 .zxfsbjfoot{text-align: center;position: absolute;top: 0;right: -50px;}
.xiaotieskz3 .zxfsbjfoot .zxfsbjfh{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.xiaotieskz3 .zxfsbjfoot .zxfsbjlk{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}



.xiaotieskz4{width: 732px;height:620px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.xiaotieskz4 .jieguobd{width: 100%;height: 616px;background: #fff;border-radius: 10px;border-top-right-radius: 0;}
.xiaotieskz4 .jieguobd .logojieguo{width: 118px;height: 118px;display: inline-block;float: left;
    background: url("../../mobile/guajian/img/xiaoqilogo3.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo3.png*/ no-repeat;margin-left: 46px;margin-top: 15px;}
.xiaotieskz4 .jieguobd .jieguotitle{float: left;font-size: 24px;font-weight: bold;margin-top: 58px;margin-left: 10px;}
.xiaotieskz4 .jieguobd .jieguotitle2{font-size: 18px;color: #333;clear: both;display: inline-block;margin-left: 10px;}
.xiaotieskz4 .jieguobd .jieguoneir{width: 484px;margin: 0 auto;margin-top: 35px;}
.xiaotieskz4 .jieguobd .jieguoneir .jieguoul{width: 100%;overflow:hidden;}
.xiaotieskz4 .jieguobd .jieguoneir .jieguoul li{margin-top: 26px;overflow: hidden;}
.xiaotieskz4 .jieguobd .jieguoneir .jieguoul .ktzj{font-size: 20px;display: inline-block;float: left;}
.xiaotieskz4 .jieguobd .jieguoneir .jieguoul .number{font-size: 20px;display: inline-block;float: right;color: #ff5353;}
.xiaotieskz4 .jieguobd .jieguoneir .jieguoul .number span{color: #333;}
.xiaotieskz4 .jieguobd .jieguoneir .jieguoul .xian{width: 100%;height: 1px;background: #ffdfdf;}
.xiaotieskz4 .jieguofoot{text-align: center;position: absolute;top: 0;right: -50px;}
.xiaotieskz4 .jieguofoot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.xiaotieskz4 .jieguofoot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}


.zxfytanchuan2{width: 732px;height:694px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.zxfytanchuan2 .zxfsneirong{width: 100%;height: 692px;background:#fff;border-radius: 10px;position: relative;border-top-right-radius: 0;}
.zxfytanchuan2 .zxfsneirong .zxfslogotc{width: 114px;height: 103px;display: inline-block;float: left;margin-right: 50px;
    background: url("../../mobile/guajian/img/xiaoqilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo2.png*/ no-repeat;margin-left: 46px;margin-top: 15px;}
.zxfytanchuan2 .zxfsneirong .zxfytitle{float: left;font-size: 24px;font-weight: bold;margin-top: 26px;margin-left: 10px;}
.zxfytanchuan2 .zxfsneirong .zxfytitle2{font-size: 18px;color: #333;clear: both;display: inline-block;margin-left: 10px;}
.zxfytanchuan2 .zxfsneirong .zxfybj{width: 389px;height: 214px;background: url("../../mobile/guajian/img/zxfybjt.jpg")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfybjt.jpg*/ no-repeat;
margin: 0 auto;clear: both;margin-top: 25px;}
.zxfytanchuan2 .zxfsneirong .zxfyzcbf{width: 660px;height: 246px;background: url("../../mobile/guajian/img/zxfyzcbf.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfyzcbf.png*/ no-repeat;
margin: 0 auto;background-size: 100% 100%;margin-top: 10px;margin-bottom: 10px;}
.zxfytanchuan2 .zxfsneirong .yingzhuagn2 li .jiacu{font-weight: bold;font-size: 16px;}
.zxfytanchuan2 .zxfsneirong .zxfywxts{font-size: 14px;text-align: center;clear: both;position:absolute;bottom: 30px;
    line-height: 30px;left: 74px;}
.zxfytanchuan2 .zxfsneirong .zxfywxts .zxfyzhis{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxfytanchuan2 .zxfsneirong .zxfywxts .zxfyfangan{padding: 2px 10px;border:1px solid #ff5353;border-radius: 5px;
cursor:pointer;margin-left: 10px;color: #ff5353;}
.zxfytanchuan2 .zxfyfoot{text-align: center;position: absolute;top: 0;right: -50px;}
.zxfytanchuan2 .zxfyfoot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.zxfytanchuan2 .zxfyfoot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}



.zxjctanchuan2{width: 732px;height:670px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.zxjctanchuan2 .zxjcneirong{width: 100%;height: 666px;background:#fff;border-radius: 10px;position: relative;
border-top-right-radius: 0;}
.zxjctanchuan2 .zxjcneirong .baozhu{overflow: hidden;}
.zxjctanchuan2 .zxjcneirong .zxjclogotc{width: 114px;height: 103px;display: inline-block;float: left;margin-right: 50px;
    background: url("../../mobile/guajian/img/xiaoqilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo2.png*/ no-repeat;margin-left: 46px;margin-top: 36px;}
.zxjctanchuan2 .zxjcneirong .zxjctitle{float: left;font-size: 20px;font-weight: bold;margin-top: 50px;margin-left: 10px;}
.zxjctanchuan2 .zxjcneirong .zcjies{font-size: 16px;text-align: center;clear: both;margin-top: 52px;}
.zxjctanchuan2 .zxjcneirong .zcjies a{display: inline-block;color: #ff5353;font-size: 16px;margin-left: 25px;}
.zxjctanchuan2 .zxjcneirong .zctubiao{overflow: hidden;text-align: center;margin-top: 22px;}
.zxjctanchuan2 .zxjcneirong .zctubiao a:hover{color: #333;}
.zxjctanchuan2 .zxjcneirong .zctubiao li{display: inline-block;width: 100px;height: 100px;margin-bottom: 5px;
    margin-right: 2px;text-align: center;border-radius: 5px;background: #f5f5f5;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover{background: #ff5353;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .chuguims{color: #fff;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:last-child{margin-right:0}
.zxjctanchuan2 .zxjcneirong .zctubiao .chuiguilogo{width: 26px;height: 29px;background: url("../../mobile/guajian/img/chuguilogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/chuguilogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .chuiguilogo{width: 26px;height: 29px;background: url("../../mobile/guajian/img/chuguilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/chuguilogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .chuguims{text-align: center;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .wujinlogo{width: 29px;height: 28px;background: url("../../mobile/guajian/img/wujinlogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/wujinlogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .wujinlogo{width: 29px;height: 28px;background: url("../../mobile/guajian/img/wujinlogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/wujinlogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .dengshilogo{width: 27px;height: 30px;background: url("../../mobile/guajian/img/dengshilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dengshilogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .dengshilogo{width: 27px;height: 30px;background: url("../../mobile/guajian/img/dengshilogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dengshilogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .menchuanglogo{width: 32px;height: 31px;background: url("../../mobile/guajian/img/menchuagnlogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/menchuagnlogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .menchuanglogo{width: 32px;height: 31px;background: url("../../mobile/guajian/img/menchuagnlogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/menchuagnlogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .cizuanlogo{width: 30px;height: 30px;background: url("../../mobile/guajian/img/cizuanlogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/cizuanlogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .cizuanlogo{width: 30px;height: 30px;background: url("../../mobile/guajian/img/cizuanlogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/cizuanlogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .labalogo{width: 29px;height: 28px;background: url("../../mobile/guajian/img/labalogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/labalogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .labalogo{width: 29px;height: 28px;background: url("../../mobile/guajian/img/labalogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/labalogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .shuidilogo{width: 26px;height: 28px;background: url("../../mobile/guajian/img/shuidilogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/shuidilogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .shuidilogo{width: 26px;height: 28px;background: url("../../mobile/guajian/img/shuidilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/shuidilogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .bancailogo{width: 29px;height: 25px;background: url("../../mobile/guajian/img/bancailogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/bancailogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .bancailogo{width: 29px;height: 25px;background: url("../../mobile/guajian/img/bancailogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/bancailogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao .qitonglogo{width: 22px;height: 29px;background: url("../../mobile/guajian/img/qitonglogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/qitonglogo.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zctubiao li:hover .qitonglogo{width: 22px;height: 29px;background: url("../../mobile/guajian/img/qitonglogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/qitonglogo2.png*/ no-repeat;
margin: 0 auto;margin-top: 20px;}
.zxjctanchuan2 .zxjcneirong .zxjcwxts{font-size: 14px;text-align: center;clear: both;position:absolute;
    bottom: 30px;line-height: 36px;left: 62px;}
.zxjctanchuan2 .zxjcneirong .zxjcwxts .zxjczhis{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxjctanchuan2 .zxjcneirong .zxjcwxts .zxjcfangan{padding: 2px 10px;border:1px solid #ff5353;border-radius: 5px;
cursor:pointer;margin-left: 10px;color: #ff5353;}
.zxjctanchuan2 .zxjcfoot{text-align: center;position: absolute;top: 0;right: -50px;}
.zxjctanchuan2 .zxjcfoot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.zxjctanchuan2 .zxjcfoot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}



.zxlctanchuan2{width: 732px;height:670px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.zxlctanchuan2 .zxlcneirong{width: 100%;height: 666px;background:#fff;border-radius: 10px;position: relative;
border-top-right-radius: 0;}
.zxlctanchuan2 .zxlcneirong .baozhu{overflow: hidden;}
.zxlctanchuan2 .zxlcneirong .zxlclogotc{width: 114px;height: 103px;display: inline-block;float: left;margin-right: 50px;
    background: url("../../mobile/guajian/img/xiaoqilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo2.png*/ no-repeat;margin-left: 46px;margin-top: 36px;}
.zxlctanchuan2 .zxlcneirong .zxlctitle{float: left;font-size: 20px;font-weight: bold;margin-top: 50px;margin-left: 10px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing{width: 338px;height: 338px;border-radius: 50%;position: relative;
    background: url("../../mobile/guajian/img/beijinglogo0.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/beijinglogo0.png*/ no-repeat;margin: 0 auto;margin-top: 30px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul li{display: inline-block;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .buzou01{width: 24px;height: 24px;border: 1px solid #ff5c5c;
    display: inline-block;border-radius: 50%;line-height: 24px;text-align: center;color: #fff;
position: absolute;top: 61px;left: 20px;cursor: pointer;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .qianqizbbj{width: 13px;height: 18px;display: inline-block;
background: url("../../mobile/guajian/img/0_1.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/0_1.png*/ no-repeat;position: absolute;top: 35px;left: -6px;}

.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .qianqizbms{position: absolute;top: 35px;
    left: 12px;font-size: 14px;color: #ccc;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .buzou02{width: 24px;height: 24px;border: 1px solid #ff5c5c;
    display: inline-block;border-radius: 50%;line-height: 24px;text-align: center;color: #ff5353;background: #fff;
position: absolute;top: 224px;left: 4px;cursor: pointer;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .shuidianbj{width: 18px;height: 18px;display: inline-block;
background: url("../../mobile/guajian/img/1_2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/1_2.png*/ no-repeat;position: absolute;top: 227px;left: -51px;}

.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .shuidianms{color: #ccc;position: absolute;top: 227px;
    left: -29px;font-size: 14px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .buzou03{width: 24px;height: 24px;border: 1px solid #ff5c5c;
    display: inline-block;border-radius: 50%;line-height: 24px;text-align: center;color: #ff5353;background: #fff;
position: absolute;bottom:-13px;left: 158px;cursor: pointer;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .niwabj{width: 18px;height: 18px;display: inline-block;
background: url("../../mobile/guajian/img/2_2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/2_2.png*/ no-repeat;position: absolute;bottom: -35px;left: 128px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .niwams{color: #ccc;position: absolute;bottom: -38px;
    left: 158px;font-size: 14px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .buzou04{width: 24px;height: 24px;border: 1px solid #ff5c5c;
    display: inline-block;border-radius: 50%;line-height: 24px;text-align: center;color: #ff5353;background: #fff;
position: absolute;bottom:91px;right: 4px;cursor: pointer;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .youqibj{width: 18px;height: 18px;display: inline-block;
background: url("../../mobile/guajian/img/3_2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/3_2.png*/ no-repeat;position: absolute;bottom: 94px;right:-19px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .youqims{color: #ccc;position: absolute;bottom: 91px;
    right: -58px;font-size: 14px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .buzou05{width: 24px;height: 24px;border: 1px solid #ff5c5c;
    display: inline-block;border-radius: 50%;line-height: 24px;text-align: center;color: #ff5353;background: #fff;
position: absolute;top:61px;right: 19px;cursor: pointer;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .jgysbj{width: 18px;height: 18px;display: inline-block;
background: url("../../mobile/guajian/img/4_2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/4_2.png*/ no-repeat;position: absolute;top: 64px;right:-6px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .jgysms{color: #ccc;position: absolute;top: 64px;
    right: -71px;font-size: 14px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .buzou06{width: 24px;height: 24px;border: 1px solid #ff5c5c;
    display: inline-block;border-radius: 50%;line-height: 24px;text-align: center;color: #ff5353;background: #fff;
position: absolute;top:-12px;right: 19px;right: 157px;cursor: pointer;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .ruanzbj{width: 18px;height: 18px;display: inline-block;
background: url("../../mobile/guajian/img/5_2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/5_2.png*/ no-repeat;position: absolute;top: -36px;right:181px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .ruanzms{color: #ccc;position: absolute;top: -35px;
    right: 140px;font-size: 14px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .yqianzb{position: absolute;top: 64px;left:112px;text-align: center;
font-size: 30px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .yqianzb2{position: absolute;top: 64px;left:140px;text-align: center;
font-size: 30px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .yuanneir{display: none;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul :first-child .yuanneir{display: block;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .yzbnr{font-size: 12px;position: absolute;top: 112px;left: 39px;line-height: 30px;
width: 270px;}
.zxlctanchuan2 .zxlcneirong .zxlcbjing .zxlcul .chakgd{font-size: 12px;color: #ff5353;position: absolute;top: 264px;left: 147px;}
.zxlctanchuan2 .zxlcneirong .zxlcwxts{font-size: 14px;text-align: center;clear: both;position:absolute;bottom: 30px;
    line-height: 36px;left: 104px;}
.zxlctanchuan2 .zxlcneirong .zxlcwxts .zxlczhishi{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxlctanchuan2 .zxlcneirong .zxlcwxts .zxlcfangan{padding: 2px 10px;border:1px solid #ff5353;border-radius: 5px;
cursor:pointer;margin-left: 10px;color: #ff5353;}
.zxlctanchuan2 .zxlcfoot{text-align: center;position: absolute;top: 0;right: -50px;}
.zxlctanchuan2 .zxlcfoot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.zxlctanchuan2 .zxlcfoot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}



.biaodanys2{width: 732px;height:564px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.biaodanys2 .biaodan2top{width: 100%;height: 561px;background:#fff;overflow: hidden;border-radius: 10px;border-top-right-radius: 0;}
.biaodanys2 .biaodan2top .bdzhungbj{width: 116px;height: 115px;
    background: url("../../mobile/guajian/img/xiaoqilogo.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo.png*/ no-repeat;float: left;margin-top: 30px;
margin-left: 32px;}
.biaodanys2 .biaodan2top .biaodantb{font-size: 24px;color: #333;margin-top: 55px;margin-left: 12px;display: inline-block;
float: left;}
.biaodanys2 .biaodan2top .biaodantb span{color: #ff5353;}
.biaodanys2 .biaodan2top .biaodantb2{color: #666;font-size: 18px;clear: both;text-align: center;position: relative;top: -40px;}
.biaodanys2 .biaodan2top .biaodantb2 span{color: #ff5353;}
.biaodanys2 .baojiawk .zxfsbd .biaodantis{text-align: center;color: #DE4349 !important;font-size: 12px;display:none;}
.biaodanys2 .baojiawk .zxfsbd .tijiao2{width: 100%;height: 48px;background: #ff5353;color: #fff;cursor: pointer;}
.biaodanys2 .biaodanys2foot{text-align: center;position: absolute;top: 0;right: -50px;}
.biaodanys2 .biaodanys2foot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 10px;}
.biaodanys2 .biaodanys2foot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}

.biaodanys3{width: 732px;height:596px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.biaodanys3 .biaodanys3top{width: 100%;height: 588px;background:#fff;overflow: hidden;border-radius: 10px;border-top-right-radius: 0;}
.biaodanys3 .biaodanys3top .logobaojia{width: 118px;height: 118px;display: inline-block;float: left;
    background: url("../../mobile/guajian/img/xiaoqilogo3.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo3.png*/ no-repeat;margin-left: 46px;margin-top: 15px;}
.biaodanys3 .biaodanys3top .successqing{color: #ff5353;font-size: 24px;text-align:center;float: left;
margin-left: 93px;margin-top: 35px;font-weight: bold;}
.biaodanys3 .biaodanys3top .successqing2{font-size: 16px;text-align:left;float: left;
margin-left: 14px;margin-top: 20px;}
.biaodanys3 .biaodanys3top .baojiawk .jiadianxuanz{width: 100%;height: 48px;border: 1px solid #d4d4d4;
    box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color: #999;}
.biaodanys3 .biaodanys3top .baojiawk .kaigongxz{width: 100%;height: 48px;border: 1px solid #d4d4d4;
    box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color: #999;}
.biaodanys3 .baojiawk .zxfsbd .biaodantis{text-align: center;color: #DE4349 !important;font-size: 12px;}
.biaodanys3 .baojiawk .zxfsbd .tijiao3{width: 100%;height: 48px;background: #ff5353;color: #fff;cursor: pointer;}
.biaodanys3 .biaodanys3foot{text-align: center;position: absolute;top: 0;right: -50px;}
.biaodanys3 .biaodanys3foot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.biaodanys3 .biaodanys3foot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}


.successweix{width: 732px;height:480px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.successweix .successweixtop{width: 100%;height: 473px;background:#fff;overflow: hidden;border-radius: 10px;
border-top-right-radius: 0;}
.successweix .successweixtop .toubukz{overflow: hidden;height: auto;width: 100%;}
.successweix .successweixtop .logobaojia{width: 118px;height: 118px;display: inline-block;float: left;
    background: url("../../mobile/guajian/img/xiaoqilogo3.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo3.png*/ no-repeat;margin-left: 46px;margin-top: 15px;}
.successweix .successweixtop .weixbiaoti{color: #ff5353;font-size: 20px;font-weight: bold;display: inline-block;
float: left;margin-left: 42px;margin-top: 58px;}
.successweix .successweixtop .weixbiaoti2{font-size: 18px;display: inline-block;
float: left;margin-left: 80px;margin-top: 35px;overflow: hidden;}
.successweix .successweixtop .weixbiaoti2 span{color: #ff5353;}
.successweix .successweixtop .weixbiaoti3{font-size: 18px;text-align: center;
clear:both;margin:0 auto;margin-top: 37px;}
.successweix .successweixtop .saomerwm{width: 462px;height: 173px;margin: 0 auto;
    background: url("../../mobile/guajian/img/chegngerweima.jpg")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/chegngerweima.jpg*/ no-repeat;margin-top: 46px;}
.successweix .successweixfoot{text-align: center;position: absolute;top: 0;right: -50px;}
.successweix .successweixfoot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.successweix .successweixfoot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}

.zxzqtanchuang2{width: 732px;height:670px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.zxzqtanchuang2 .zxzqnerirntop{width: 100%;height: 666px;background:#fff;border-radius: 10px;position: relative;
border-top-right-radius: 0;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqfdkz{overflow:hidden;height: auto;}
.zxzqtanchuang2 .zxzqnerirntop .zxzq2logo{width: 114px;height: 103px;display: inline-block;float: left;margin-right: 50px;
    background: url("../../mobile/guajian/img/xiaoqilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo2.png*/ no-repeat;margin-left: 48px;margin-top: 36px;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqdzrx{font-size: 20px;font-weight: bold;display: inline-block;float: left;
margin-left: 50px;margin-top: 58px;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqdzrx2{font-size: 16px;display: inline-block;float: left;
margin-left: 50px;margin-top: 16px;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqbjtup{width: 642px;height: 371px;background: url("../../mobile/guajian/img/zxzqbjtup.jpg")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxzqbjtup.jpg*/ no-repeat;
margin-top: 10px;margin:0 auto;clear: both;position: relative;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqbjtup .zxzhiqian{position: absolute;display: inline-block;top: 300px;right: 16px;
font-size: 14px;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqbjtup a{text-decoration: underline;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqbjtup a:hover{text-decoration: underline;color: #ff5353;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqbjtup .zxzhong{position: absolute;display: inline-block;top: 242px;left: -1px;
font-size: 14px;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqbjtup .zxzhihou{position: absolute;display: inline-block;top: 47px;left: 369px;
font-size: 14px;}

.zxzqtanchuang2 .zxzqnerirntop .zxzqwxts{font-size: 14px;text-align: center;clear: both;position:absolute;bottom:30px;
    line-height: 28px;left: 106px;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqwxts .zxzqzhishi{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxzqtanchuang2 .zxzqnerirntop .zxzqwxts .zxzqfangan{padding: 2px 10px;border:1px solid #ff5353;border-radius: 5px;
cursor:pointer;margin-left: 10px;color: #ff5353;}
.zxzqtanchuang2 .zxzqtanchuang2foot{text-align: center;position: absolute;top: 0;right: -50px;}
.zxzqtanchuang2 .zxzqtanchuang2foot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.zxzqtanchuang2 .zxzqtanchuang2foot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}

.zxfgtanchuang2{width: 732px;height:668px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.zxfgtanchuang2 .zxfgtctop{width: 100%;height: 666px;background:#fff;border-radius: 10px;position: relative;border-top-right-radius: 0;}
.zxfgtanchuang2 .zxfgtctop .zxfgefdwaik{overflow: hidden;height: auto;}
.zxfgtanchuang2 .zxfgtctop .zxfgbjlogo{width: 114px;height: 103px;display: inline-block;float: left;
    background: url("../../mobile/guajian/img/xiaoqilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo2.png*/ no-repeat;margin-left: 48px;margin-top: 36px;}
.zxfgtanchuang2 .zxfgtctop .zxfgbiaoti{font-size: 20px;font-weight: bold;display: inline-block;float: left;
margin-left: 70px;margin-top: 58px;}
.zxfgtanchuang2 .zxfgtctop .zxfgbiaoti span{color:#ff5353;}
.zxfgtanchuang2 .zxfgtctop .zxfgtupzs{margin-top: 32px;clear: both;height: auto;}
.zxfgtanchuang2 .zxfgtctop .zxfgtupzs li{text-align: center;}
.zxfgtanchuang2 .zxfgtctop .zxfgtupzs .zxfgtopjvli{margin-top: 24px;}
.zxfgtanchuang2 .zxfgtctop .oushijianyue{display: inline-block;width: 221px;margin-right: 52px;}
.zxfgtanchuang2 .zxfgtctop .oushijianyue img{width: 221px;height: 141px;cursor: pointer;}
.zxfgtanchuang2 .zxfgtctop .oushijianyue .ousfgms{font-size: 14px;font-family: "微软雅黑";margin-top: 10px;}
.zxfgtanchuang2 .zxfgtctop .dizhonghaifg{display: inline-block;width: 221px;}
.zxfgtanchuang2 .zxfgtctop .dizhonghaifg img{width: 221px;height: 141px;cursor: pointer;}
.zxfgtanchuang2 .zxfgtctop .dizhonghaifg .dzhfgms{font-size: 14px;font-family: "微软雅黑";margin-top: 10px;}
.zxfgtanchuang2 .zxfgtctop .jianyuerishi{display: inline-block;width: 221px;margin-right: 52px;}
.zxfgtanchuang2 .zxfgtctop .jianyuerishi img{width: 221px;height: 141px;cursor: pointer;}
.zxfgtanchuang2 .zxfgtctop .jianyuerishi .jyrsfgms{font-size: 14px;font-family: "微软雅黑";margin-top: 10px;}
.zxfgtanchuang2 .zxfgtctop .xiandaizsfg{display: inline-block;width: 221px;}
.zxfgtanchuang2 .zxfgtctop .xiandaizsfg img{width: 221px;height: 141px;cursor: pointer;}
.zxfgtanchuang2 .zxfgtctop .xiandaizsfg .xdzsfgms{font-size: 14px;font-family: "微软雅黑";margin-top: 10px;}
.zxfgtanchuang2 .zxfgtctop .zxfgwxts{font-size: 14px;text-align: center;clear: both;position:absolute;bottom: 30px;
    left:116px;line-height: 28px;}
.zxfgtanchuang2 .zxfgtctop .zxfgwxts .zxfgzhishi{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxfgtanchuang2 .zxfgtctop .zxfgwxts .zxfgfangan{padding: 2px 10px;border:1px solid #ff5353;border-radius: 5px;
cursor:pointer;margin-left: 10px;color: #ff5353;}
.zxfgtanchuang2 .zxfgtanchuang2foot{text-align: center;position: absolute;top: 0;right: -50px;}
.zxfgtanchuang2 .zxfgtanchuang2foot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.zxfgtanchuang2 .zxfgtanchuang2foot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}

.zxfglunbotc{width: 732px;height:668px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.zxfglbtctop{width: 100%;height: 666px;background:#fff;border-radius: 10px;position: relative;border-top-right-radius: 0;}
.zxfglbtctop .zxfglbwk{overflow: hidden;height: auto;}
.zxfglbtctop .zxfglbbjlogo{width: 114px;height: 103px;display: inline-block;float: left;
    background: url("../../mobile/guajian/img/xiaoqilogo2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/xiaoqilogo2.png*/ no-repeat;margin-left: 48px;margin-top: 36px;}
.zxfglbtctop .zxfglbbiaoti{font-size: 20px;font-weight: bold;display: inline-block;float: left;
margin-left: 47px;margin-top: 54px;}
.zxfglbtctop .zxfglbwk .zxfgfbt{position:relative;clear: both;left: 212px;top: -35px;
}
.zxfglbtctop .zxfglbwk .zxfgfbt .renmenzhishu{font-size: 14px;display: inline-block;margin-right: 30px;}
.zxfglbtctop .zxfglbwk .zxfgfbt .renmenzhishu i{width: 20px;height: 20px;display: inline-block;
    background:url("../../mobile/guajian/img/zxfgxingji.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfgxingji.png*/ no-repeat center center;
    vertical-align: middle;position: relative;top: -1px;}
.zxfglbtctop .zxfglbwk .zxfgfbt .shiheage{font-size: 14px;display: inline-block;}
.zxfglbtctop .zxfglbwk .zxfgfbt .geijiazx{font-size: 14px;color: #ff5353;border: 1px solid #ff5353;padding:3px 8px;
box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-radius: 5px;margin-left: 25px;cursor: pointer;}
.zxfglbtctop .zxfgbtjianjie{font-size: 24px;font-weight: bold;text-align: center;}
.zxfglbtctop .zxfgoslunbo{width: 614px;height: 358px;margin: 0 auto;margin-top: 30px;}
.zxfglbtctop .zxfgoslunbo .lbtpms{width: 480px;height: 324px;overflow: hidden;margin: 0 auto;position: relative;}
.zxfglbtctop .fa-chevron-left{display: none;}
.zxfglbtctop .fa-chevron-right{display: none;}
.zxfglbtctop .zxfgoslunbo .swiper-slide{text-align: center;}
.zxfglbtctop .zxfgoslunbo .swiper-button-prev{width: 22px;height: 41px;
    background: url("../../mobile/guajian/img/zxfglbjiantou.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfglbjiantou.png*/ no-repeat center center;}
.zxfglbtctop .zxfgoslunbo .swiper-button-next{width: 22px;height: 41px;
    background: url("../../mobile/guajian/img/zxfglbjiantou2.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/zxfglbjiantou2.png*/ no-repeat center center;}
.zxfglbtctop .zxfgoslunbo .miaoshu{font-size: 14px;color: #fff;width: 480px;overflow: hidden;
height: 51px;background: rgba(0,0,0,0.5);position: absolute;bottom: 0;text-align: left;padding:5px;
box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.zxfglbtctop .zxfglunbowxts{font-size: 14px;text-align: center;clear: both;bottom: 30px;line-height: 28px;
position: absolute;left: 120px;}
.zxfglbtctop .zxfglunbowxts .zxfggdzhis{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxfglbtctop .zxfglunbowxts .zxfglunbotc4{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxfglbtctop .zxfglunbowxts .zxfgoushizhis{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxfglbtctop .zxfglunbowxts .zxfgrishizhis{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxfglbtctop .zxfglunbowxts .zxfggdzhis2{width: 34px;height: 28px;background: url("../../mobile/guajian/img/dibuzhishi.png")/*tpa=http://www.qizuang.com/assets/mobile/guajian/img/dibuzhishi.png*/ no-repeat;
background-size: 100% 100%;display: inline-block;position: relative;top: 5px;}
.zxfglbtctop .zxfglunbowxts .zxfglbfangan{padding: 2px 10px;border:1px solid #ff5353;border-radius: 5px;
cursor:pointer;margin-left: 10px;color: #ff5353;}
.zxfglunbofoot{text-align: center;position: absolute;top: 0;right: -50px;}
.zxfglunbofoot .fanhui{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;margin-top: 2px;}
.zxfglunbofoot .likai{width: 50px;height: 100px;line-height:53px;background: #ff5353;display:block;
    text-align: center;border-radius: 5px;font-size: 16px;cursor: pointer;color: #fff;border-top-left-radius: 0;
border-bottom-left-radius: 0; writing-mode: vertical-lr;   letter-spacing: 5px;
    writing-mode: tb-lr;}

.zxfglunbotc2{width: 732px;height:668px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}

.zxfglunbotc3{width: 732px;height:668px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}

.zxfglunbotc4{width: 732px;height:668px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 11;}
.xiaotieskz4 .baojia-result p{
    float: left;
}