.middlezuyao{width: 171px;height: auto;position: relative;margin:0 auto;}

.middlezuyao .xian_01{width: 1px;height: 68px;background: #ff5353;margin:0 auto;margin-top: 2px;}
.middlezuyao .time_eq{width: 171px;height: 61px;background: url("../img/time_2017.jpg")/*tpa=http://www.qizuang.com/assets/home/about/img/time_2017.jpg*/ no-repeat;background-size: 100% 100%;
display: inline-block;}
.middlezuyao .feijibj{width: 243px;height: 172px;background: url("../img/feijibj.jpg")/*tpa=http://www.qizuang.com/assets/home/about/img/feijibj.jpg*/ no-repeat;background-size: 100% 100%;
display: inline-block;position:absolute;top: 118px;left: -325px;}
.middlezuyao .xian_02{width: 1px;height: 165px;background: #ff5353;margin:0 auto;position: relative;top: -8px;}
.middlezuyao .yuandian_01{width: 10px;height: 10px;border-radius: 50%;border:1px solid #ff5757;margin: 0 auto;
position: relative;top: -3px;}
.middlezuyao .xian_03{width: 1px;height: 121px;background: #ff5353;margin:0 auto;position: relative;top: 2px;}
.middlezuyao .xian_04{width: 164px;height: 1px;background: #ff5353;margin:0 auto;position: absolute;top:331px;left: 98px;}
.middlezuyao .tzxl_wzjs{width: 148px;height: 56px;font-size: 14px;color: #666;position: absolute;top: 263px;left: 105px;
line-height: 20px;}
.middlezuyao .tzxl_fengm{width: 233px;height: 144px;background: url("../../../../../staticqn.qizuang.com/file/20171011/FkhizTeYKsy4ZdTvPp_51TavDPV3.png")/*tpa=http://staticqn.qizuang.com/file/20171011/FkhizTeYKsy4ZdTvPp_51TavDPV3.png*/ no-repeat;
position: absolute;top: 256px;left: 270px;border:3px solid #ff5353;cursor: pointer;}
.middlezuyao .tzxl_jj{font-size: 20px;color: #333;position: absolute;top: 215px;left: 300px;display: inline-block;
width: 170px;}
.middlezuyao .yuandian_02{width: 10px;height: 10px;border-radius: 50%;border:1px solid #ff5757;margin: 0 auto;
position: relative;top: 6px;}
.middlezuyao .xian_05{width: 164px;height: 1px;background: #ff5353;margin:0 auto;position: absolute;top:474px;left: -90px;}
.middlezuyao .xian_06{width: 1px;height: 120px;background: #ff5353;margin:0 auto;position: relative;top: 10px;}
.middlezuyao .gzzy_wzjs{width: 148px;height: 56px;font-size: 14px;color: #666;position: absolute;top: 418px;left: -76px;
line-height: 20px;}
.middlezuyao .gzzy_fengm{width: 233px;height: 144px;background: url("../../../../../staticqn.qizuang.com/file/20171011/FrzGRtJHCvJBnd9za5b1WQKUjT-8.png")/*tpa=http://staticqn.qizuang.com/file/20171011/FrzGRtJHCvJBnd9za5b1WQKUjT-8.png*/ no-repeat;
position: absolute;top: 395px;left: -335px;border:3px solid #ff5353;cursor: pointer;}
.middlezuyao .gzzy_jj{font-size: 20px;color: #333;position: absolute;top: 353px;left: -297px;display: inline-block;
width: 170px;}
.middlezuyao .yuandian_03{width: 10px;height: 10px;border-radius: 50%;border:1px solid #ff5757;margin: 0 auto;
position: relative;top: 14px;}
.middlezuyao .xian_07{width: 1px;height: 120px;background: #ff5353;margin:0 auto;position: relative;top: 19px;}
.middlezuyao .xian_08{width: 164px;height: 1px;background: #ff5353;margin:0 auto;position: absolute;top:613px;left: 98px;}
.middlezuyao .lyet_fengm{width: 233px;height: 144px;
position: absolute;top: 513px;left: 270px;cursor: pointer;}
.middlezuyao .yuandian_04{width: 10px;height: 10px;border-radius: 50%;border:1px solid #ff5757;margin: 0 auto;
position: relative;top: 23px;}
.middlezuyao .lyet_jj{font-size: 20px;color: #333;position: absolute;top: 470px;left: 300px;display: inline-block;
width: 170px;}
.middlezuyao .lyet_wzjs{width: 148px;height: 56px;font-size: 14px;color: #666;position: absolute;top: 548px;left: 105px;
line-height: 20px;}
.middlezuyao .xian_09{width: 1px;height: 120px;background: #ff5353;margin:0 auto;position: relative;top: 26px;}
.middlezuyao .xian_10{width: 164px;height: 1px;background: #ff5353;margin:0 auto;position: absolute;top:755px;left: -90px;}
.middlezuyao .hjnh_fengm{width: 233px;height: 144px;background: url("../../../../../staticqn.qizuang.com/file/20171011/FsX8XsEkT6tpxC9eMAmzC3ozFLaw.png")/*tpa=http://staticqn.qizuang.com/file/20171011/FsX8XsEkT6tpxC9eMAmzC3ozFLaw.png*/ no-repeat;
position: absolute;top: 673px;left: -335px;border:3px solid #ff5353;cursor: pointer;}
.middlezuyao .hjnh_wzjs{width: 148px;height: 56px;font-size: 14px;color: #666;position: absolute;top: 681px;left: -76px;
line-height: 20px;}
.middlezuyao .hjnh_jj{font-size: 20px;color: #333;position: absolute;top: 634px;left: -297px;display: inline-block;
width: 170px;}
.middlezuyao .time_el{width: 171px;height: 61px;background: url("../img/time_2016.jpg")/*tpa=http://www.qizuang.com/assets/home/about/img/time_2016.jpg*/ no-repeat;background-size: 100% 100%;
display: inline-block;position: relative;top: 26px;}
.middlezuyao .ygfc_bjq{width: 315px;height: 269px;background: url("../img/ygfc_bjq.jpg")/*tpa=http://www.qizuang.com/assets/home/about/img/ygfc_bjq.jpg*/ no-repeat;
position: absolute;top: 791px;left: 207px;}
.middlezuyao .xian_11{width: 1px;height: 165px;background: #ff5353;margin:0 auto;position: relative;top: 18px;}
.middlezuyao .yuandian_05{width: 10px;height: 10px;border-radius: 50%;border:1px solid #ff5757;margin: 0 auto;
position: relative;top: 23px;}
.middlezuyao .xian_12{width: 1px;height: 120px;background: #ff5353;margin:0 auto;position: relative;top: 28px;}
.middlezuyao .xian_13{width: 164px;height: 1px;background: #ff5353;margin:0 auto;position: absolute;top:1120px;left: -90px;}
.middlezuyao .qyjs_fengm{width: 233px;height: 144px;background: url("../../../../../staticqn.qizuang.com/file/20171011/FgJZl3S0UnQ6ywotZx7zuvvIrdvb.png")/*tpa=http://staticqn.qizuang.com/file/20171011/FgJZl3S0UnQ6ywotZx7zuvvIrdvb.png*/ no-repeat;
position: absolute;top: 1038px;left: -335px;border:3px solid #ff5353;cursor: pointer;}
.middlezuyao .qyjs_wzjs{width: 148px;height: 56px;font-size: 14px;color: #666;position: absolute;top: 1051px;left: -76px;
line-height: 20px;}
.middlezuyao .qyjs_jj{font-size: 20px;color: #333;position: absolute;top: 996px;left: -297px;display: inline-block;
width: 170px;}
.middlezuyao .yuandian_06{width: 10px;height: 10px;border-radius: 50%;border:1px solid #ff5757;margin: 0 auto;
position: relative;top: 32px;}
.middlezuyao .xian_14{width: 1px;height: 120px;background: #ff5353;margin:0 auto;position: relative;top: 36px;}
.middlezuyao .ygsr_fengm{width: 233px;height: 144px;background: url("../../../../../staticqn.qizuang.com/file/20171011/FsjuLSSpP1N0lWkkVal_Qmq2hXaD.png")/*tpa=http://staticqn.qizuang.com/file/20171011/FsjuLSSpP1N0lWkkVal_Qmq2hXaD.png*/ no-repeat;
position: absolute;top: 1184px;left: 270px;border:3px solid #ff5353;cursor: pointer;}
.middlezuyao .ygsr_wzjs{width: 148px;height: 56px;font-size: 14px;color: #666;position: absolute;top: 1204px;left: 105px;
line-height: 20px;}
.middlezuyao .ygsr_jj{font-size: 20px;color: #333;position: absolute;top: 1143px;left: 300px;display: inline-block;
width: 170px;}
.middlezuyao .xian_15{width: 164px;height: 1px;background: #ff5353;margin:0 auto;position: absolute;top:1261px;left: 98px;}


.bantoumbj{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(4,4,4,0.7);z-index: 999;
display: none;}
.bantoumbj2{display: none;}
.bantoumbj3{display: none;}
.bantoumbj4{display: none;}
.bantoumbj5{display: none;}
.swiper-container{height:auto;}




/*新增便于扩展的时间轴*/
.time-item{position:relative;}
.futureus{text-align: center;font-size: 18px;color: #666;}
.daizhuiyi{display: inline-block;font-size: 18px;color: #666;width: 100px;height: 30px;
    line-height: 30px;text-align: center;margin: 0 auto;margin-left: 35px;position: relative;top: 37px;}
.head-line{
    width: 1px;
    height: 68px;
    background: #ff5353;
    margin: 0 auto;
    margin-top: 2px;
}
.time-item .year-box{
    width: 171px;
    height: 61px;
    background: url("../img/time_bj.jpg")/*tpa=http://www.qizuang.com/assets/home/about/img/time_bj.jpg*/ no-repeat;
    margin:0px auto;
    background-size: 100% 100%;
    text-align:center;
    line-height: 44px;
    font-weight:bold;
    color:#ff5353;
    font-size: 32px;
}
.year-line{
    width: 1px;
    height: 165px;
    background: #ff5353;
    margin: 0 auto;
    position: relative;
}
.radius-point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ff5757;
    margin-left: -0.5px;
    margin: 0 auto;
    position: relative;
}
.radius-point .left-content{
    position:absolute;
    height: 176px;
    width:233px;
    left:-416px;
    top:-115px;
}
.radius-point .left-line{
    width: 148px;
    position: absolute;
    left:-165px;
    font-size:14px;
    bottom:3px;
    color: #666;
    line-height: 20px;
    border-bottom:1px solid #ff5353;
    text-align:justify;
    padding:8px 5px;

}
.content-title{
    font-size:20px;
    color:#333;
    text-align:center;
    margin-bottom: 20px;

}
.content-icon{
    width: 233px;
    height: 144px;
    border: 3px solid #ff5353;
    cursor: pointer;
    overflow: hidden;
}

.radius-point .right-content{
    position:absolute;
    height: 176px;
    width:233px;
    left:189px;
    top:-115px;
}
.radius-point .right-line{
    width: 148px;
    position: absolute;
    left:17px;
    font-size:14px;
    bottom:3px;
    color: #666;
    line-height: 20px;
    border-bottom:1px solid #ff5353;
    text-align:justify;
    padding:8px 5px;

}

.contain-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(4,4,4,0.7);
    z-index: 999;
    display: none;
}
.swp-list{
    display: none;
}

.slider-box{position:fixed;width: 883px;height: 604px;display: inline-block;top: 0;bottom: 0;left: 0;right: 0;
    margin:auto;z-index: 9999;left: 313px;}
.ygfc_gdjs{width: 100%;height: 40px;line-height: 40px;background: rgba(0,0,0,0.5);position: absolute;bottom: 0;
text-indent: 2em;color: #fff; z-index: 9999}

.slider-box ul{height: 604px;position: relative;}
.slider-box ul li{height: 604px;background: #999;float: left;list-style: none;}

.swiper-button-prev{background: url("../img/jiantou_left.png")/*tpa=http://www.qizuang.com/assets/home/about/img/jiantou_left.png*/ no-repeat;background-size: 100% 100%;}
.swiper-button-next{background: url("../img/jiantou_right.png")/*tpa=http://www.qizuang.com/assets/home/about/img/jiantou_right.png*/ no-repeat;background-size: 100% 100%;}
.guanbi{color: #fff;position: absolute;right: 0px;top: 0px;width: 27px;height: 27px;line-height:27px;
    display: inline-block;text-align: center;z-index: 99999;font-size: 20px;background: #575757;cursor: pointer;
font-weight: 500;background: url("../img/guanbi2.png")/*tpa=http://www.qizuang.com/assets/home/about/img/guanbi2.png*/ no-repeat;}
.ygfc_gdjs span{margin: 3px;}
.year-frame-right{position:absolute; right: 0px; margin-top: -130px}
.year-frame-left{position:absolute; left: 0px; margin-top: -80px}