.aboutnav{ background:url("../img/aboutusnav.jpg")/*tpa=http://www.qizuang.com/assets/home/about/img/aboutusnav.jpg*/ #f1f1f1 no-repeat; width:290px; float:left; padding-top:251px; padding-bottom:30px}
.aboutnav ul li{ height:45px; line-height:45px; text-align:center; font-size:16px; font-family:"Microsoft YaHei"}
.aboutnav ul li a{ display:block}
.aboutnav ul li.active a,.aboutnav ul li a:hover{ background:#f7f7f7; border-right:#ed5a6b 2px solid; border-left:#ed5a6b 2px solid; color:#ed5a6b; text-decoration:none}

.aboutmain{ width:890px; float:right;font-family:"Microsoft YaHei" ;line-height:25px;}
.abouttit{ border-bottom:1px solid #eee; color:#ccc; height:40px; line-height:40px;  font-size:20px; margin-bottom:20px}.abouttit span{ font-size:16px}
.aboutmain dl{ font-size:14px;  overflow:hidden; padding:20px}
.aboutmain dl dt,.aboutmain dl dd{ float:left; width:380px; margin-right:20px; margin-bottom:50px}
.aboutmain dl dd img{ height:auto; max-width:380px}

.aboutmain .bigimg{
    width: 100%;
    max-width: 780px !important;
}

.dzbox h3{ text-align:center; font-size:18px; margin-top:20px}
.dzbox p{ padding:20px;background:#f7f7f7; margin-bottom:10px; display:block}.dzbox span{ text-align:center; display:block}
.dzbox .aboutcity,.dzbox .citylist{ width:860px; margin:0 auto; overflow:hidden}
.dzbox .aboutcity li{ display:block; float:left; width:78px; margin:2px; text-align:center; height:30px; line-height:30px;}.dzbox .aboutcity li a{ display: block; background:#eee; color:#ed5a6b; font-weight:bold}
.dzbox .aboutcity li a:hover{ background:#f7f7f7; text-decoration:none}
.dzbox .citylist li{ width:234px; float:left ;padding:20px;background:#f7f7f7; margin:5px; height:150px;}

.dzbox .abouttit span{display: inline; font-size: 14px; }
/*招聘信息*/
.allzp a{ font-size:18px; line-height:30px; color:#E80B10; text-decoration:underline}
.zw{ border-top:double 3px #eee; padding:20px 0; margin:20px 0; line-height:30px}
.zhiwei{}/*职位*/
.zptit{ font-size:14px;font-weight: bold; margin-top:10px}/*小标题*/
.zpim{ font-weight: bold;}/*润色字*/


.hezuo-menu{ border-bottom:1px solid #ccc;margin-bottom:20px; height:51px; line-height:30px}
.hezuo-menu li{float:left; border:1px solid #fff; padding:10px 20px; font-size:16px; height:30px; text-align:center; width:100px;border-bottom:0; position:relative}
.hezuo-menu li.active{ border:1px solid #ccc;background:#fff; border-bottom:0; padding-top:11px}
.hezuo-menu li a{ text-decoration:none}

.hzstep{ background:url("../img/step1.gif")/*tpa=http://www.qizuang.com/assets/home/about/img/step1.gif*/ center no-repeat; height:95px; margin:20px 0}

.sqedit { border-top:3px solid #eee}
.sqedit h3{ font-size:24px; line-height:80px; margin-bottom:20px; text-align:center}
.aboutmain .sqedit ul{ float: left;width: 480px;}
.sqedit li { overflow:hidden; margin-bottom:20px; width:422px}
.sqedit li span{ display:block; float:left; width:100px; color: #666; margin-right:20px; text-align:right; font-size:16px; line-height:30px}
.sqedit li input[type=text]{ height:33px; padding-left: 5px; color: #666; border:1px solid #ccc; float:left; width:295px}
.sqedit li textarea{ float:left; resize: none;padding-left: 5px; width:295px; color: #666; height:120px;border:1px solid #ccc;}
.sqedit li input[type="text"].half{width: 150px;}
.sqedit li .jmbtn{ display: inline-block; margin-left:120px; width:100px; cursor:pointer; background:#f84d4d; height:30px; color:#fff; font-size:14px; font-weight:bold}
.hzct{ float:right; width:370px; height:289px; background:url("../img/hz.jpg")/*tpa=http://www.qizuang.com/assets/home/about/img/hz.jpg*/}
.sqedit li .verify{cursor: pointer; margin-left: 5px;}
.sqedit li .err-tips{display: inline-block;}
.sqedit li input[type=text].focus{border: 1px solid #DE4348;}

.aboutmain{ width:860px; float:right;font-family:"Microsoft YaHei" ;line-height:25px;}
.abouttit{ border-bottom:1px solid #eee; color:#ccc; height:40px; line-height:40px;  font-size:20px; margin-bottom:20px}.abouttit span{ font-size:16px}
.aboutmain ul{ width:890px; font-size:14px;  overflow:hidden; padding:20px}
.aboutmain ul li,.aboutmain ul li{ float:left; margin-left:25px; margin-bottom:50px}
.aboutmain ul li img{max-width:380px}
#BMapLib_nav_tab0{width: auto;}
#BMapLib_nav0 ul{ width:auto;}
#BMapLib_tab_tohere0,#BMapLib_tab_fromhere0{width: 33% !important;}

