/*
* @Author: qz_xsc
* @Date:   2017-10-30 15:14:32
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-10-31 11:34:07
*/

.body_bg{ background:#F7F7F7; font-size: 14px; padding-bottom: 30px;}
.footer{margin-top: 0px;}
.clearfix{overflow: hidden;}
.top_item{overflow: hidden; padding:10px 0px; margin-bottom: 20px;}
.top_item div{width:50%;}
.color{color:#FF5353; padding:0px 15px;}
.top_item a{padding:0px 8px;}
.item{background: #fff; border:1px solid #EAEAEA; border-bottom: none; margin-bottom: 40px;}
.item-header{border-bottom: 1px solid #EAEAEA; padding:10px 20px;}
.item-header a{font-size: 18px;}
.item-header span{padding-left:40px; font-size: 13px;}
.item-body{overflow: hidden;border-bottom:1px solid #EAEAEA}
.list_box{overflow: hidden;}
.zimu{float: left; text-align: center; color:#FF5353; padding:0px 20px;}
.href_list{ overflow: hidden;}
.href_list a{float: left; margin-left:15px;margin-right:15px;margin-bottom:15px;}
.mt-title{width:100px; text-align: center; margin-top: 20px; font-size: 16px;}
.mt-content{margin-left: 100px;margin-top: 20px; overflow: hidden;}
.mt-content a{float: left; margin-right:15px;margin-bottom:15px;margin-left: 15px; }
.zd-content{overflow: hidden;margin-left:15px; font-size: 15px;}
.zd-content a{float: left;margin-right:15px;margin-bottom:15px;margin-top: 20px;}