html,body{font-family: "微软雅黑","Microsoft YaHei" !important;color: #333;}
.ruzhubanner{width: 100%;height: 400px;background: url("../img/banner.jpg")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/banner.jpg*/ no-repeat center center;}
.ruzhubanner .zhongbuwz{width: 1210px;height:100%;margin:auto;overflow:hidden;}
.zhongbuwz .mycooperation{width: 180px;height: 46px;line-height: 46px;text-align: center;color: #fff;font-size: 22px;
border-radius: 5px;margin: auto;display:block;margin-top: 296px;cursor: pointer;
outline: none;}
.kunjing{width: 100%;height: 634px;background: #fff;}
.kunjing .middlezj{width:1210px;height: 100%;margin: auto;position: relative;overflow:hidden;}
.middlezj img{position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;}
.middlezj .kunjingms{font-size: 30px;text-align: center;margin-top: 35px;}
.middlezj .kunjingms span{color: #ff5353;font-size: 42px;font-weight: bold;font-style: italic;}
.getinterest{width:100%;height:530px;background: #f5f8fa;}
.getinterest .getmiddle{width: 1210px;height: 100%;overflow: hidden;margin: auto;}
.getmiddle .getqizwms{font-size: 30px;text-align: center;margin-top: 35px;}
.getmiddle .getqizwms span{color: #ff5353;font-size: 42px;font-weight: bold;font-style: italic;}
.getmiddle .getqizwpic{width: 1210px;height: 300px;margin:auto;padding: 0 105px;margin-top: 45px;
box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;text-align: center;}
.getmiddle .getqizwpic .picitem{width: 300px;height: 300px;margin-right: 50px;display: inline-block;float: left;position: relative;}
.getmiddle .getqizwpic .picitem01{background: url("../img/getpic01.jpg")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/getpic01.jpg*/ no-repeat center center;}
.getmiddle .getqizwpic .picitem02{background: url("../img/getpic02.jpg")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/getpic02.jpg*/ no-repeat center center;}
.getmiddle .getqizwpic .picitem03{background: url("../img/getpic03.jpg")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/getpic03.jpg*/ no-repeat center center;
margin-right: 0 !important;}
.bantoumpic{position: absolute;width: 100%;height: 100%;top: 0;left: 0;
	background:url("../img/gettoumyy.png")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/gettoumyy.png*/ no-repeat center center;}
.bantoumpic	.midzjms01{color: #fff;font-size: 18px;margin-top: 112px;}
.bantoumpic	.midzjms02{color: #ffab40;font-size: 40px;}
.advantage{width: 100%;height: 684px;}
.advantage .youshimid{width: 1210px;height: 100%;margin:auto;overflow: hidden;}
.youshimid .youshimidms{font-size: 30px;color: #333;text-align: center;margin-top: 60px;}
.youshimid .youshimidms span{color: #ff5353;font-size: 48px;font-weight: bold;font-style: italic;}
.advantage .youshimid img{display: block;margin:auto;margin-top: 50px;}
.enjoy{width: 100%;height: 711px;background: #f5f8fa;}
.enjoy .enjoymid{width: 1210px;height: 100%;margin:auto;overflow: hidden;}
.enjoy .enjoymid .enjoymidms{font-size: 30px;color: #333;text-align: center;margin-top: 60px;}
.enjoy .enjoymid .enjoymidms span{color: #ff5353;font-size: 48px;font-weight: bold;font-style: italic;}
.enjoy .enjoymid .enjoyul{overflow: hidden;height: auto;display: block;margin-top: 50px;}
.enjoymid .enjoyul li{width: 50%;height: 60px;line-height: 60px;text-align: center;float: left;background: #fff;
font-size: 16px;color: #ffab40;background: #fff5e8;}
.enjoyul_li01{background: #ffab40 !important;color: #fff !important;font-weight: bold;font-size: 22px;}
.enjoyul_li02{background: #1e88e5 !important;color: #fff !important;font-weight: bold;font-size: 22px;}
.enjoyul_li04{background: #e5f3ff !important;color: #1e88e5 !important;}
.enjoyul_li05{background: #fff !important;}
.enjoyul_li06{background: #fff !important;color: #1e88e5 !important;}
.enjoyul_li08{background: #e5f3ff !important;color: #1e88e5 !important;}
.enjoyul_li09{background: #fff !important;}
.enjoyul_li10{background: #fff !important;color: #1e88e5 !important;}
.enjoyul_li11{color: #ffab40 !important;}
.enjoyul_li12{background: #e5f3ff !important;color: #1e88e5 !important;}
.enjoyul_li13{background: #fff !important;}
.enjoyul_li14{background: #fff !important;color: #1e88e5 !important;}
.enjoyul_li16{background: #e5f3ff !important;color: #1e88e5 !important;}
.hezuo{width: 100%;height: 540px;background: #fff;}
.hezuo .hezuomid{width: 1210px;height: 100%;margin:auto;}
.hezuomid .hezuomidms{font-size: 30px;color: #333;text-align: center;margin-top: 60px;}
.hezuomid .hezuomidms span{color: #ff5353;font-size: 48px;font-weight: bold;font-style: italic;}
.hezuomid .gongslogoul{overflow: hidden;}
.hezuomid .gongslogoul li{width:125px;height: 62px;overflow: hidden;display: inline-block;float: left;
margin-right: 30px;margin-top: 32px;}
.hezuomid .gongslogoul li img{width: 100%;height: 100%;}
.companypic08{margin-right: 0 !important;}
.companypic09{margin-left:59px;}
.companypic23{margin-right: 0 !important;}
.companypic24{margin-left:59px;}
.ruzhulc{width: 100%;height: 307px;background: #f5f8fa;}
.ruzhulc .ruzhulcmid{width: 1210px;height: 100%;margin: auto;overflow: hidden;text-align: center;}
.ruzhulcmid .ruzhulcmidms{font-size: 30px;color: #333;text-align: center;margin-top: 60px;}
.ruzhulcmid .ruzhulcmidms span{color: #ff5353;font-size: 48px;font-weight: bold;font-style: italic;}
.ruzhulcmid .ruzhulcul{overflow: hidden;display:inline-block;text-align: center;margin-top: 35px;}
.ruzhulcmid .ruzhulcul li{display: inline-block;float: left;text-align: center;font-size: 16px;color: #1e88e5;
height: 88px;}
.ruzhulcmid .ruzhulcul li img{width: 38px;height: 38px;}
.ruzhulcmid .ruzhulcul li p{margin-top: 20px;}
.ruzhulcmid .ruzhulcul li img.jiantou{width: 20px !important;height: 20px !important;margin: 0 50px;
margin-top: 10px;}
.fadanmok{width: 100%;height: 526px;background: url("../img/fadanpic.jpg")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/fadanpic.jpg*/ no-repeat center center;
background-size: 100% 100%;position: relative;}
.fadanmok .yinyintoum{width: 100%;height: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;
background: rgba(0,0,0,0.7);background: #000\0;filter:alpha(opacity=70)\0;}
.fadanmok .fadanmokmid{width: 1210px;height: 100%;margin: auto;position: relative;z-index: 9;overflow: hidden;
text-align: center;}
.fadanmokmid .fadanmokmidms{font-size: 30px;color: #fff;text-align: center;margin-top: 60px;}
.fadanmokmid .fadanmokmidms span{color: #ff5353;font-size: 48px;font-weight: bold;font-style: italic;}
.fadaninput{overflow: hidden;display: inline-block;margin-top: 24px;}
.fadaninput .fadanhang{overflow: hidden;}
.fadanhang .tishi{height: 15px;line-height: 15px;text-align: left;margin-left: 94px;
color: #ff5353;font-size: 12px;}
.fadanhang .fadan_msgn{display: inline-block;font-size: 16px;color: #fff;width: 74px;text-align: left;}
.fadanhang .fadan_msgn span{color: #ff5353;}
.fadanhang .textyu{width: 320px;height: 40px;border-radius: 5px;margin-left: 20px;text-indent: 0.5em;
font-size: 16px;color: #333;outline: none;}
.fadanhang select{color: #333;width: 155px;height: 40px;border-radius: 5px;outline: none;font-size: 16px;
color: #333;}
.fadanhang .citycs{margin-left: 20px;margin-right: 10px;}
.fadanhang .noquyu{font-size: 14px;color: #fff;text-align: right;margin-left:94px;margin-top: 10px;}
.fadanhang .noquyu span{cursor: pointer;text-decoration: underline;}
.fadanhang .tianxiearea{margin-left: 94px;font-size: 16px;color: #333;width: 320px;height: 40px;outline: none;
border-radius: 5px;display: none;text-indent: 0.5em;}
.fadanhang .shenqrz{margin-left: 94px;width: 320px;height: 40px;line-height: 40px;text-align: center;
color: #fff;background: #ff5353;font-size: 16px;border-radius: 5px;cursor: pointer;
outline: none;margin-top: 16px;}
.fadanhang .joinhz{margin-left: 94px;width: 320px;text-align: center;font-size: 18px;color: #fff;margin-top: 10px;}

.fadansuccyy{width: 100%;height: 100%;position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;
background: rgba(0,0,0,0.7);background: #000\0;filter:alpha(opacity=70)\0 !important;z-index: 99;display: none;}
.fdsuccessts{width: 1000px;height: 515px;background:url("../img/bg_success.png")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/bg_success.png*/;border-radius: 5px;position: fixed;top: 0;bottom: 0; left: 0;right: 0;margin: auto;z-index: 100;text-align: center;overflow: hidden; display:none;}
.fdsuccessts .ruzhucgbj{width: 258px;height: 54px;margin: auto;margin-top: 46px;
background: url("../img/rzcgts.jpg")/*tpa=http://www.qizuang.com/assets/home/CompanyConsult/img/rzcgts.jpg*/ no-repeat center center;}
.successBox{
    width:100%; height: 405px; position: relative; top:102px;
}
.successBox table{
    width:100%; height: 405px; text-align: center; table-layout: fixed;
}
.centerTips{width: 322px; margin:0px auto;}
.centerTips img{width:50px; height: 50px; margin-bottom: 22px;}
.centerTips h3{color:#ff5353; font-size: 30px; font-weight: bold; margin-bottom: 8px;}
.centerTips p{color:#fe900f; font-size: 14px;}
.fdsuccessts .latets{color: #333;font-size: 16px;margin-top: 20px;}
.fdsuccessts .clseIcon {position: absolute; right: 15px; top:40px;}
.fdsuccessts .succguanbi{display: inline-block;font-size: 25px;color: #333;padding: 5px 10px;cursor: pointer;
position: absolute;top:0;right:0;line-height: 15px;}
.thanksText {width:340px; margin:0px auto;}
.thanksText .thanksTitle{font-size: 30px; margin-bottom: 60px}
.bottomDetails{text-align: left;}
.wehelp{font-size: 18px; color:#333; font-weight: bold; margin-bottom: 8px;}
.bottomDetails ul li{
    font-size: 16px;color:#666; line-height: 27px;
}
.konwMore{color:#808080; padding-top: 6px; font-size:12px;}
.bottomDetails ul li{overflow:hidden;}
.bottomDetails ul li i{border:1px solid #999; color:#ff5353; font-size:13px; float:left; margin-top:7px; margin-right: 6px;}
.bottomDetails ul li span{color:#ff5353; font-weight: bold;}
.fix_warp{display: none !important;}
.rigfixed{width: 60px;height: 120px;background: #1e88e5;color: #fff;
position: fixed;right: 0;top: 0;bottom: 0;margin: auto;border-top-left-radius: 5px;border-bottom-left-radius: 5px;
overflow: hidden;cursor:pointer;display: none;}
.rigfixed .shupai{width: 16px;height: auto;margin: auto;font-size: 16px;margin-top: 20px;line-height: 20px;}