/*底部弹窗*/

.jiadakuangz {
    height: auto;
}

.foottc {
    width: 100%;
    height: 370px;
    background: url("../../../common/img/hover-mark.png")/*tpa=http://www.qizuang.com/assets/common/img/hover-mark.png*/;
    position: fixed;
    bottom: -262px;
    margin: 0 auto;
    z-index: 999;
}

.foottc .cter {
    position: relative;
    width: 1210px;
    height: 372px;
    clear: both;
    margin: 0 auto;
}

.foottc .cter .toubu {
    width: 712px;
    height: 108px;
    position: relative;
    margin: 0 auto;
}

.tu-box {
    float: left;
    width: 652px;
    height: 86px;
    border: 2px solid #fff;
    margin-top: 7px;
}

.foottc .cter .qzlogo {
    width: 69px;
    height: 63px;
    display: block;
    margin-top: 10px;
    margin-left: 14px;
    float: left;
    background: url("../img/company-pop-xiaolu.png")/*tpa=http://www.qizuang.com/assets/home/company/img/company-pop-xiaolu.png*/ no-repeat;
}

.foottc .cter .dbwzjs {
    width: 482px;
    height: 34px;
    background: url("../img/company-pop-text.png")/*tpa=http://www.qizuang.com/assets/home/company/img/company-pop-text.png*/ no-repeat;
    float: left;
    margin-left: 25px;
    margin-top: 27px;
}

.foottc .cter .jiantou01 {
    width: 30px;
    height: 44px;
    background: url("../img/arrow-three.png")/*tpa=http://www.qizuang.com/assets/home/company/img/arrow-three.png*/ no-repeat;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 41px;
    animation:mymove 0.5s linear infinite alternate;
    -webkit-animation:mymove 0.5s linear infinite alternate;
}
@-webkit-keyframes mymove {
    from {top:40px;}
    to {top:20px;}
}
@keyframes mymove
{
    from {top:40px;}
    to {top:20px;}
}

@-moz-keyframes mymove 
{
    from {top:40px;}
    to {top:20px;}
}

.foottc .cter .jiantou02 {
    width: 30px;
    height: 44px;
    background: url("../img/arrow-three-down.png")/*tpa=http://www.qizuang.com/assets/home/company/img/arrow-three-down.png*/ no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 41px;
}
.foottc .cter .pop-step-1{width: 1111px;height: 252px;margin:0 auto;}
.foottc .cter .pop-step-2{width: 718px;height: 252px;margin:0 auto;display: none;}
.foottc .cter .nrkz {
    width: 1069px;
    height: 248px;
    border: 2px solid #fff;
    float: left;
    position: relative;
}
.foottc .cter .nrkz2 {
    width: 677px;
    height: 248px;
    border: 2px solid #fff;
    float: left;
    position: relative;
}
.pop-close{
    width: 16px;
    height: 54px;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    float: left;
    cursor: pointer;
}


.foottc .cter .nrkz2 .rtt {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}
.foottc .cter .nrkz2 .rtt .bt{
    font-size: 26px;
    line-height: 26px;
    margin-top: 19px;
}
.foottc .cter .nrkz2 .rtt .bt-sm{
    font-size: 16px;
    line-height: 16px;
    margin-top: 13px;
    margin-bottom: 12px;
}

.foottc .cter .nrkz2 .rtt .wxss {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    margin-top: 11px;
}

.foottc .cter .nrkz2 .rtt .erwma {
    width: 100px;
    height: 100px;
    background: url("../img/erweima.png")/*tpa=http://www.qizuang.com/assets/home/company/img/erweima.png*/ no-repeat;
    margin: 0 auto;
}

.foottc .cter .nrkz2 .rtt .sjanli {
    text-align: center;
    font-size: 16px;
    margin-top: 22px;
    color: #fff;
    margin-top: 8px;
}

.foottc .cter .nrkz2 .rtt .sjanli span {
    color: #fccc35;
}

.foottc .cter .nrkz .biaodanqu {
    width: 298px;
    height: 100%;
    display: inline-block;
    margin-top: 14px;
    margin-left: 65px;
    float: left;
    overflow: hidden;
}

.foottc .cter .nrkz .biaodanqu .btwz {
    font-size: 16px;
    color: #fff;
    line-height: 16px;
    margin-bottom: 19px;
}

.foottc .cter .nrkz .biaodanqu .btwz span {
    font-size: 16px;
    color: #fccc35;
}

.foottc .cter .nrkz .biaodanqu .btul {
    margin-top: 15px;
    width: 360px;
    margin: 0 auto;
}

.foottc .cter .nrkz .biaodanqu .btul li {
    margin-bottom: 15px;
    overflow: hidden;
}

.foottc .cter .nrkz .biaodanqu .btul li .shurudiv {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.foottc .cter .nrkz .biaodanqu .btul li span {
    font-size: 16px;
    color: #fff;
}

.foottc .cter .nrkz .biaodanqu .btul li .shurudiv input {
    width: 202px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    background: #333;
    color: #fff;

}
.foottc .cter .nrkz .biaodanqu .btul li .shurudiv input::-webkit-input-placeholder{
    color: #cfcfcf
}
.foottc .cter .nrkz .biaodanqu .btul li .shurudiv input:-moz-placeholder{
    color: #cfcfcf
}
.foottc .cter .nrkz .biaodanqu .btul li .shurudiv input::-moz-placeholder{
    color: #cfcfcf
}
.foottc .cter .nrkz .biaodanqu .btul li .shurudiv input:-ms-input-placeholder{
    color: #cfcfcf
}

.foottc .cter .nrkz .biaodanqu .btul li .shurudiv i {
    position: absolute;
    right: 5px;
    top: 9px;
}

.foottc .cter .nrkz .biaodanqu .btul li .shurudiv select {
    height: 35px;
    border: 1px solid #c4c4c4;
    width: 100px;
    font-size: 14px;
    background: #333;
    color: #fff;
}

.foottc .cter .nrkz .biaodanqu .btul li .shurudiv .freesj_cs {
    margin-right: 10px;
}

.foottc .cter .nrkz .tijiao {
    width: 92px;
    height: 92px;
    background: url("../img/company-pop-btn.png")/*tpa=http://www.qizuang.com/assets/home/company/img/company-pop-btn.png*/ no-repeat;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 490px;
    cursor: pointer;
}

.foottc .cter .nrkz .bjtu {
    width: 411px;
    height: 198px;
    background: url("../img/company-dingwei.png")/*tpa=http://www.qizuang.com/assets/home/company/img/company-dingwei.png*/ no-repeat;
    float: right;
    margin-right: 29px;
    margin-top: 27px;
}

.tijiao_forie {
    display: none;
}


.calc-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 90px;
    height: 90px;
    background: #ff5353;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 45px;
    z-index: 15
}

.calc-btn em {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    top: 50%;
    margin-top: -22px;
}

.circle-animate {
    position: absolute;
    top: -10px;
    right: -9px;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f5d4d4;
    z-index: 12;
    -webkit-animation: scale-three2 1.5s ease infinite;
    -moz-animation: scale-three2 1.5s ease infinite;
    -o-animation: scale-three2 1.5s ease infinite;
    animation: scale-three2 1.5s ease infinite;
    animation-fill-mode: both
}
.foottc .cter .pop-step-3{
    width: 194px;
    height: 114px;
    position: fixed;
    left: -194px;
    bottom: 22px;
    cursor: pointer;
}
@keyframes scale-three2 {
    0% {
        transform: scale(1);
        opacity: .8
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

@-webkit-keyframes scale-three2 {
    0% {
        -webkit-transform: scale(1);
        opacity: .7
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0
    }
}

@-moz-keyframes scale-three2 {
    0% {
        -moz-transform: scale(1);
        opacity: .7
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0
    }
}

@-o-keyframes scale-three2 {
    0% {
        -o-transform: scale(1);
        opacity: .7
    }

    100% {
        -o-transform: scale(1.3);
        opacity: 0
    }
}
.bottom_mianze{
    position:absolute;
    bottom: 0px;
    margin:auto;
    width:222px;
    left:50%;
    margin-left:-130px;

}

/*底部弹窗*/