.zt-head{height:55px;width:1210px;margin:0 auto}
.zt-head .zt-logo{height:55px;float:left;}
.zt-head .zt-logo img{height:55px;width:auto;display:block}
.zt-head .zt-nav{float:left;line-height:55px}
.zt-head .zt-nav li{float:left;position:relative}
.zt-head .zt-nav li a{display:block;padding:0 30px;font-family:"Microsoft Yahei";font-size:16px;}
.zt-head .zt-nav li.zt-nav-list:after{content:"";position:absolute;top:27px;right:15px;border-top:4px solid #333;border-left:4px dashed transparent;border-right:4px dashed transparent;}
.zt-head .zt-nav li.zt-nav-list:hover:after{content:"";position:absolute;top:26px;right:15px;border-top:0;border-bottom:4px solid #333;border-left:4px dashed transparent;border-right:4px dashed transparent;}
.zt-head .zt-nav li dl{display:none;position:absolute;left:0;right:0;text-align:center;line-height:40px;}
.zt-head .zt-nav li dl dd{background:rgba(255,255,255,.9);margin-top:1px;}
.zt-head .zt-nav li dl dd:hover a{background:rgba(255,83,83,.8);color:#fff}
.zt-head .zt-nav li:hover dl{display:block}
.zp-bg1{background:url("../img/zp-banner.jpg")/*tpa=http://www.qizuang.com/assets/home/job/img/zp-banner.jpg*//*tpa=http://www.qizuang.com/assets/home/job/img/zp-banner.jpg*/ no-repeat center;height:660px}


.zp-bg2 .qz-msg,
.zp-bg6 .qz-job,
.zp-bg7 .resume{width:1050px;margin:0 auto;padding-bottom: 20px;}
.zp-bg2 .qz-msg .qzw{width: 202px;height: 56px;background: url("../img/qzw.png")/*tpa=http://www.qizuang.com/assets/home/job/img/qzw.png*//*tpa=http://www.qizuang.com/assets/home/job/img/qzw.png*/ no-repeat;margin: 30px auto;}
.zp-bg2 .qz-msg .p-icon{width: 93px;height: 137px;background: url("../img/p-icon.png")/*tpa=http://www.qizuang.com/assets/home/job/img/p-icon.png*//*tpa=http://www.qizuang.com/assets/home/job/img/p-icon.png*/ no-repeat;margin-left: 220px;margin-right:50px; float: left;}
.zp-bg2 .qz-msg .p-into{font-size: 18px;font-weight: bold;font-family: "Microsoft YaHei"; color: #747474; padding-top: 10px;line-height: 40px;}
.zp-bg2 .qz-msg ul{width: 1000px;height: 200px;display: block;margin:50px auto;}
.clear{clear: both;}
.zp-bg2 .qz-msg ul li{width: 350px;height: 80px;float: left;margin:30px 70px 0 80px;}
.zp-bg2 .qz-msg ul li span{font-size: 20px;font-family: "Microsoft YaHei"; color: #747474;line-height: 60px;margin-left: 60px;}
.zp-bg2 .qz-msg ul li i{width: 66px;height: 54px;background: url("../img/p1.png")/*tpa=http://www.qizuang.com/assets/home/job/img/p1.png*//*tpa=http://www.qizuang.com/assets/home/job/img/p1.png*/ no-repeat;display: block;float: left;}
.zp-bg2 .qz-msg ul li i.p2{background-position: 0 -54px;}
.zp-bg2 .qz-msg ul li i.p3{background-position: 0 -108px;}
.zp-bg2 .qz-msg ul li i.p4{background-position: 0 -162px;}
.zp-bg3{background:url("../img/zp-bg3.jpg")/*tpa=http://www.qizuang.com/assets/home/job/img/zp-bg3.jpg*//*tpa=http://www.qizuang.com/assets/home/job/img/zp-bg3.jpg*/ no-repeat center;height:622px}
.zp-bg4{background:url("../img/zp-bg4.jpg")/*tpa=http://www.qizuang.com/assets/home/job/img/zp-bg4.jpg*//*tpa=http://www.qizuang.com/assets/home/job/img/zp-bg4.jpg*/ no-repeat center;height:970px}
.zp-bg5{background:url("../img/zp-bg6.jpg")/*tpa=http://www.qizuang.com/assets/home/job/img/zp-bg6.jpg*//*tpa=http://www.qizuang.com/assets/home/job/img/zp-bg6.jpg*/ no-repeat center;height:519px}
.zp-bg6 .qz-job{margin-bottom:30px;border-bottom:1px dashed #33c0e2;font-family: "Microsoft YaHei";}
.zp-bg6 .qz-job .job-list{width: 620px;height:auto;overflow:hidden;margin: 0 auto;}
.zp-bg6 .qz-job .job-list .num{width: 60px;height: 60px;background: url("../img/num.png")/*tpa=http://www.qizuang.com/assets/home/job/img/num.png*//*tpa=http://www.qizuang.com/assets/home/job/img/num.png*/no-repeat;float: left;}
.zp-bg6 .qz-job .job-list .job-con{width: 540px;float: left;margin-top: 12px;margin-left: 20px;}
.zp-bg6 .qz-job .job-list .job-con h2{font-size: 20px;margin-bottom: 20px;}
.zp-bg6 .qz-job .job-list .job-con h4{font-size: 16px;margin: 10px 0;}
.zp-bg6 .qz-job .job-list .job-con p{font-size: 16px;line-height: 25px;}
.zp-bg6 .qz-job .job-list .job-con span{font-size: 16px;line-height: 20px;font-weight:normal;}
.zp-bg6 .qz-job .job-list .dgt2{background-position: 0 -60px;}
.zp-bg6 .qz-job .job-list .dgt3{background-position: 0 -120px;}
.zp-bg6 .qz-job .job-list .dgt4{background-position: 0 -180px;}
.zp-bg6 .qz-job .job-list .dgt5{background-position: 0 -240px;}
.zp-bg6 .qz-job .job-list .dgt6{background-position: 0 -300px;}
.zp-bg6 .qz-job .job-list .dgt7{background-position: 0 -360px;}
.zp-bg6 .qz-job .job-list .dgt8{background-position: 0 -420px;}
.zp-bg6 .qz-job .job-list .dgt9{background-position: 0 -480px;}
.zp-bg6 .qz-job .job-list .dgt10{background-position: 0 -540px;}
.zp-bg6 .qz-job .job-list .dgt11{background-position: 0 -600px;}
.zp-bg6 .qz-job .job-list .dgt12{background-position: 0 -660px;}
.zp-bg6 .qz-job .job-list .dgt13{background-position: 0 -720px;}

.zp-bg7{height: 180px;background-color: #fdcb48;}
.zp-bg7 .resume{padding-top: 30px;}
.zp-bg7 .resume .zp-order{width:201px;height:46px;display:block;margin:10px auto;background: url("../img/jianli.jpg.png")/*tpa=http://www.qizuang.com/assets/home/job/img/jianli.jpg*/ no-repeat;}
.zp-bg7 .resume p{line-height: 35px; font-size: 18px;color:#000;margin:0 auto;text-align: center;font-family: "Microsoft YaHei";}


#zp-nav{position: fixed;top: 300px;right:200px;}
#zp-nav ul li{text-align:center;line-height:30px;width: 86px;height: 30px;background: url("../img/zp-nav.png")/*tpa=http://www.qizuang.com/assets/home/job/img/zp-nav.png*//*tpa=http://www.qizuang.com/assets/home/job/img/zp-nav.png*/ no-repeat;display: block;font-size: 14px;color: #fff;font-family: "Microsoft YaHei";cursor: pointer;}
@media screen and (max-width: 1440px) {
	#zp-nav{display: none;}
}