::-moz-placeholder { color: #999; font-family: "Microsoft Yahei"; }
::-webkit-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }
:-ms-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }
.zb-bg1{ background:#82BDFF; height:450px;}
.zb-bg1-bg{
	background: url("../img/banner_p220.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/banner_p220.jpg*/ no-repeat;
	width:1920px;
	height:450px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -960px;
}
body{overflow-x: hidden;}
.zb-bg2{ background:#d7f1fe; height:666px;}
.zb-tit{ text-align:center; padding-top:30px}
.zb-bg3{ background: url("../img/4711.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/4711.png*/ center 20px no-repeat; height:850px; width:1000px; margin:0 auto}
.zb-bg4{ background:url("../img/baojia_bg2.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/baojia_bg2.jpg*/ center; height:1300px}
.zb-bg4 .ua{ width:1170px}
.zb-bg4 .ub{ width:870px}
.zb-bg4 .bg4-ul1 {  margin:0 auto;margin-top:50px; height:325px;}
.zb-bg4 .bg4-ul1 li{ position:relative;width:209px; height:237px; margin:0 40px; background:#334272; float:left; margin-bottom:110px}
.zb-bg4 .bg4-ul1 li span{width:209px; height:237px; overflow:hidden; display:block}
.zb-bg4 .bg4-ul1 li:hover img{filter: blur(3px);-webkit-filter: blur(3px)}
.zb-bg4 .bg4-ul1 li:hover p{ visibility:visible;}
.zb-bg4 .bg4-ul1 li p{ color:#fff; visibility:hidden;position: absolute; top:0; bottom:0; left:0; right:0; padding:60px 20px; background:rgba(0,0,0,0.4)}
.zb-bg4 .bg4-ul1 li em{ position:absolute;font-family: "Microsoft Yahei"; font-size:18px; text-align:center; color:#fff; left:0; right:0; font-weight:600; bottom:-50px}
.zb-bg4 .bg4-ul1 li u{ text-align:center;left:0; right:0; position:absolute;text-decoration:none; color:#fff; bottom:-70px}
.zb-bg4 .bg4-ul1 li u a{ text-decoration: underline; color:#EFDF0D}
.zb-bg2-bg{ background:url("../img/baojia_bg3.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/baojia_bg3.png*/ no-repeat center 20px ; width:500px; height:500px; float:left}
.j-tab-nav{ float:left}
.step-tab { margin-top:20px; margin-left:20px; float:left; height:570px; background:url("../img/bg2-line.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/bg2-line.png*/ no-repeat 50px 35px}
.step-tab .tab-con .j-tab-con{ position:relative; float:left}
.step-tab .tab-con-item{ display:none; background:url("../img/kuang.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/kuang.png*/ no-repeat; width:248px; height:107px; position:absolute; padding:10px 10px 10px 25px; color:#fff; line-height:21px}
.step-tab .tt1{ top:-32px; left:-80px}
.step-tab .tt2{ top:50px; left:-10px}
.step-tab .tt3{ top:158px; left:20px}
.step-tab .tt4{ top:263px; left:-10px}
.step-tab .tt5{ top:350px; left:-80px}
.step-tab .tt6{ top:435px; left:-170px}
.step-tab a{ font-family: "Microsoft Yahei";display:block; line-height:55px; height:57px; overflow:hidden; margin-bottom:28px}
.step-tab a:nth-of-type(1){ margin-left:100px}
.step-tab a:nth-of-type(2){ margin-left:170px}
.step-tab a:nth-of-type(3){ margin:50px 0 48px 200px;}
.step-tab a:nth-of-type(4){ margin-left:170px}
.step-tab a:nth-of-type(5){ margin-left:100px}
.step-tab a:nth-of-type(6){ margin-left:10px}
.step-tab a span{ display:block; float:left;text-align:center; font-weight:bold; color:#fff; background:#98c7f1; box-shadow:2px 2px 1px rgba(0,0,0,.3);width:55px; height:55px; border-radius:50px; font-size:26px}
.step-tab a em{display:block; float:left; margin-left:10px; font-size:18px; font-weight:bold; color:#5996cd}
.step-tab a.current span{ background:#5996cd}
.zb-tit-font { overflow:hidden; line-height:40px; margin-bottom:6px}
.zb-tit-font p, .zb-tit-font a{ float:left;font-family: "Microsoft Yahei";font-size: 14px;}
.zb-tit-font a{ display:inline-block; padding:0 10px; background:#ff5659; color:#fff; line-height:25px; margin-left:10px; margin-top:8px}
.zb-tit-font h3{ float:left;font-family: "Microsoft Yahei"; font-weight:400;font-size:24px; margin-right:10px;margin-left: 20px;color: #333;}
.scroll-list{ padding:26px 0 50px 0; width:655px; float:left; position:relative}

.zb-scroll-box{ border:1px solid #eee; border-radius:10px; overflow:hidden; height:230px; padding:20px;}
.scroll-list:before{ content:""; background:url("../img/box-shadow1.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/box-shadow1.png*/; position:absolute; left:5px; height:41px; width:329px; bottom:9px}
.scroll-list:after{content:""; background:url("../img/box-shadow2.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/box-shadow2.png*/; position:absolute; right:5px; height:41px; width:329px; bottom:9px}
.tlist1{ width:16%}
.tlist2{ width:25%; width:24%\9}
.maquee{ height:180px; overflow:hidden;}
.maquee li{ line-height:29px; height:29px; text-align:center; border-bottom:1px dashed #ddd}
.maquee li:hover{ background:#e4e4e4}
.maquee li span{ display:block; float:left}
.newser { background:#fff; font-family: "Microsoft Yahei"; font-size:14px;display:block; height:30px; text-align:center; line-height:30px; border-bottom:1px solid #ddd;}
.newser li{ float:left}
.user-mes{ float:right; padding:26px 0 50px 0; width:530px; position:relative; }
.user-mes .user-mes-box{ border:1px solid #eee; border-radius:10px; overflow:hidden; height:230px; padding:20px;position: relative;}
.user-mes:before{content:""; background:url("../img/box-shadow1.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/box-shadow1.png*/; position:absolute; left:5px; height:41px; width:329px; bottom:9px}
.user-mes:after{content:""; background:url("../img/box-shadow2.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/box-shadow2.png*/; position:absolute; right:5px; height:41px; width:329px; bottom:9px}

.user-info .user-head{ float:left; width:88px; height:88px; overflow: hidden; border-radius:50%}
.user-info .user-head img{ width:100%; height:auto}
.user-info p{ line-height:25px; padding-top:20px; margin-left:20px; float:left; color:#666}
.user-info p span{ font-family: "Microsoft Yahei"; font-size:18px; margin-right:10px; color:#333}
.user-info .zb-star{ float:right; margin-top:25px}
.user-info .zb-star li{ height:16px; width:16px; background:url("../img/star-on.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/star-on.png*/; float:left}
.user-messge{ clear:both; color:#666; padding-top:20px}
.user-mes-list .user-mes-item{display: none;}
.user-mes-list .user-mes-item:first-child{display: block;}
.common-title p{text-align: center;}
.main-title{font-size: 40px;color: #ff5353;line-height:40px;font-weight: 800;font-family: 'microsoft yahei';margin-top: 60px;margin-bottom: 10px;}
.sub-title{height: 38px;font-size: 22px;color: #333;line-height: 22px;background: url("../img/biaotixian.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/biaotixian.png*/;margin-bottom: 20px;}
.liangfang-img {position: relative;overflow: hidden;margin-bottom: 60px;}
.liangfang-img img{margin-right: 31px;}
.fuzhu-line{width: 2px;height: 162px;background: url("../img/fuzhuline.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/fuzhuline.png*/;position: absolute;left: 0;top: 60px;}
.liangfang-img .line-1{left: 396px;}
.liangfang-img .line-2{left: 811px;}
.last_liangfang{margin-right: 0 !important;}
.sheji{width:100%;height:626px;background: url("../img/beijing01.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/beijing01.jpg*/ no-repeat;overflow: hidden;}
.sheji-img img{float: left;}
.sheji-img img:first-child{margin-right: 20px;}
.sheji-img img:nth-child(2){margin-bottom: 20px;}
.sheji-img img:nth-child(3){margin-right: 20px;}
.jisuan-img{margin-bottom: 60px;}
.jisuan-img img{margin-right: 26px;}
.jisuan-img img:last-child{margin-right: 0px;}
.fuwu{width: 100%;height: 827px;background: url("../img/beijing02.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/beijing02.jpg*/ no-repeat;overflow: hidden;}
.fuwu .common-title{margin-bottom: 30px;}
.fuwu-main{background: #fff;overflow: hidden;padding-bottom: 38px;height: 626px；}
.fuwu-hd{height: 80px;line-height: 80px;font-size: 30px;text-align: center;}
.fuwu-hd .duibi{font-family: 'microsoft yahei';color:#ff5353;font-weight: bold;margin-left: 46px;}
.fuwu-hd .qz-company{float:left;margin-left: 232px;}
.fuwu-hd .other-company{float:right;margin-right: 183px;}
.fuwu-main img{float: left;margin: 0 30px;margin-bottom: 2px;}
.line-x{text-align: center;position: absolute;left: 0;bottom: 25px;width: 100%}
.line-x span{display: inline-block;width: 20px;height: 3px;margin-right: 8px;background: #b3b3b3;cursor: pointer;}
.line-x span.current{background: #ff5353}
.baodao{width:100%;height:572px;background: url("../img/beijing03.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/beijing03.jpg*/ no-repeat;overflow: hidden;}
/* 横向滚动
------------------------------ */

.news-tit{ font-size:40px; font-weight:600;font-family: "Microsoft YaHei"; line-height:40px; text-align:center; margin-top: 60px;color: #ff5353;}
.scroll_horizontal{position:relative;width:1190px;height:473px;padding:10px;}
.scroll_horizontal .news-box{overflow:hidden;position:relative;width:1000px;height:443px;margin:0 auto;}
.scroll_horizontal .news-list{overflow:hidden;width:9999px;}
.scroll_horizontal .news-list li{float:left;width:230px; height:413px;padding:10px; padding-top:30px; text-align:center; position:relative}
.scroll_horizontal .news-list li span{width:210px;display:block;margin: 0 auto; font-size: 14px;color: #333;text-align: justify;line-height: 22px;margin-top: 5px;}
.scroll_horizontal .news-list li p{font-size: 14px;color: #333;text-align: right;margin-right: 10px;margin-top: 10px;}
.scroll_horizontal .news-list li p img{width: 25px;height: 25px;margin: -6px 5px;}
.scroll_horizontal .news-list li p img.img-size{width: 82px;height: 82px;margin: -34px 5px;}
.scroll_horizontal .news-prev{position:absolute;top:50%;margin-top:-80px;width:40px;height:50px;background-image: url("../img/zuo.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/zuo.png*/;background-repeat:no-repeat;font:0/0 Arial;cursor:pointer;}
.scroll_horizontal .news-next{position:absolute;top:50%;margin-top:-80px;width:40px;height:50px;background-image: url("../img/you.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/you.png*/;background-repeat:no-repeat;font:0/0 Arial;cursor:pointer;}

.scroll_horizontal .news-prev{left:5px;}
.scroll_horizontal .news-next{right:5px;}


/*新发单窗*/
.order-box {
    width: 255px;
    height: 370px;
    position: relative;
    top: 40px;
    background: #fff;
    z-index: 3;
    text-align: center;
    border-radius: 3px;
    font-family: "Microsoft Yahei";
    padding: 0px 40px 0 40px;
    float: right;
    overflow: hidden;
    box-shadow: 0 0 8px 0 #999;
    -webkit-box-shadow: 0 0 8px 0 #999;
    -moz-box-shadow: 0 0 8px 0 #999;
    -ms-box-shadow: 0 0 8px 0 #999;
}

.order-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
    line-height: 20px;
}

.order-box h2 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 26px;
    line-height: 14px;
    color: #333;
}

.order-box .edit-text {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #dcd8d9;
    padding-left: 10px;
    display: block;
    font-size: 14px;
}

.order-box .edit-city {
    width: 120px;
    height: 35px;
    border: 1px solid #dcd8d9;
    box-sizing: border-box;
    display: block;
    float: left;
    color: #333;
    font-size: 14px;
}

.order-box .yz-info {
    height: 25px;
    color: #ff5659;
    text-align: left
}

.order-box button {
    width: 100%;
    height: 35px;
    background: #ff5353;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding: 0;
    border: 0;
    cursor: pointer
}

.order-box p {
    position: absolute;
    left: 40px;
    right: 40px;
    text-align: left;
    bottom: 23px;
    font-size: 14px;
    line-height: 14px;
}

.order-box p a {
    float: right;
    display: inline-block;
    color: #ff5659
}

.order-box .box-line {
    margin-bottom: 15px;
    overflow: hidden;
}
.zhaobiao-mark{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,.5);z-index: 99;display: none;}

/*滚动信息*/
.g-msg {
    width: 100%;
    position: fixed;
    top: 175px;
    left: 0;
    height: 36px;
    line-height: 36px;
    z-index: 2;
}
.g-msg .msg {
    width: 250px;
    position: absolute;
    top: 50px;
    background-color: rgba(0,0,0,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000,endColorstr=#AA000000);
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    color: #fff;
    overflow: hidden;
    display: none;
}
:root .g-msg .msg {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
}
.msg img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin:0 1.2%;
    margin-top: .9%;
    float: left;
}
