::-moz-placeholder { color: #999; font-family: "Microsoft Yahei"; }
::-webkit-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }
:-ms-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }
.zb-bg1{ background:#82BDFF; height:451px;background: url("../img/new_bj.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/new_bj.jpg*/ no-repeat; background-position: center center;}
.zb-bg2{ background: url("../img/bj_bg2.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/bj_bg2.jpg*/ no-repeat; height: 428px; background-position: center center; position: relative;}
.title_box{width: 404px; height: 82px; top:66px; position: absolute; left:50%; margin-left: -203px;font-weight: bold;}
.title_box_one, .title_box_two{width:50%; display: block; }
.title_box .large_font{font-size: 48px; color:#ff5353; line-height:42px; padding-left: 31px;}
.title_box .small_font{font-size:30px;}
.title_box_two{float: right; margin-top:-26px; margin-right: -6px;}
.lc_box {position: absolute; width: 100%; bottom:65px; }
.lc_box .wrap{ text-align: center; font-size: 0px; }
.lc_box .wrap .lc_item{display: inline-block;width: 150px; margin:0px 46px; }
.lc_box .wrap .lc_item img{width:50px;height: 50px;padding-bottom: 10px;}
.lc_box .wrap .lc_title{font-size: 22px; color:#FB8920; padding-bottom: 10px;}
.lc_box .wrap .lc_content{font-size:15px; color:#666666;}
.zb-bg3{height: 730px; position: relative;  background: url("../img/bj_bg8.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/bj_bg8.jpg*/ no-repeat;background-position: center center; }
.zb-bg3 .title_box{ width: 485px; margin-left: -245px;}
.zb-bg3 .title_box .large_font{padding-left: 35px;}
.zb-bg3 .title_box .title_box_two{margin-right: 14px;width:auto; margin-top:-21px;}
.buttom_text{width:100%;position: absolute;text-align: center; font-size: 24px;color:#333333; top:166px;}

.zb-bg3 .zb_bg3_tit{ background-position: center center; height:260px;}
.zb_bg3_list{width:1210px;overflow: hidden; position: relative; height: 405px; margin-top: -6px; margin-left: 21px;}
.zb_bg3_list li{float: left; text-align: center; cursor: pointer; margin-top: 6px; margin-left:9px; width:284px;
    position: absolute;
 transition: width 0.6s;
-moz-transition: width 0.6s;  /* Firefox 4 */
-webkit-transition: width 0.6s;   /* Safari 和 Chrome */
-o-transition: width 0.6s;    /* Opera */}
.zb_bg3_list li:nth-child(2){ right:482px;}
.zb_bg3_list li:nth-child(3){ right:49px;}
.touxiang{padding:30px 0px;}
.touxiang img{width:128px; height: 128px; border-radius: 64px;}
.zb_bg3_list li h1{font-size: 26px; font-weight: bold; padding-top:33px;}
.zb_bg3_list li .h2{font-size:18px; padding-top: 20px;}
.zb_bg3_list li .h3{font-size:20px;  padding-top: 25px;}
.art_active{position: absolute; z-index:999;left: 0px; margin-right:0px !important;width:1153px !important; border:1px solid #FB8920;}
.top_out{opacity: 0; }
.art_active .left_content{border:none!important; box-shadow: 0px 0px 0px silver; border-right:1px solid #FB8920 !important; }
.art_active .right_content{display: block;}
.art_active .touxiang{background: #FB8920;}
.right_content div{float: left;   margin-top:42px;width:422px; text-align: right;}
.right_content div img{width:381px; height:240px; }
.right_content p{text-align: center; font-size: 19px; line-height:102px; }
.right_content div:nth-child(2){float:right;text-align: left;}
.left_content{float: left; width:284px;height: 390px; border:1px solid #DEDEDE; background: #fff; box-shadow: 0px 0px 10px silver;}
.right_content{ height: 390px; position: absolute; top:0px; right:0px; width:868px; display: none;background: #fff; z-index: 9 }
.zb_bg4{ background: url("../img/bj_bg4.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/bj_bg4.jpg*/ no-repeat;margin-top:2px; background-position: center center; height: 597px; position: relative;}
.zb_bg4 .title_box{margin-left: -200px; margin-top: -8px;}
.zb_bg4 .title_box .title_box_one .large_font{padding-left: 35px;}
.zb_bg4 .title_box .title_box_two{margin-top: -24px;}
.zb_bg4 .title_box .title_box_two .large_font{padding-left: 24px;}
.zb_bg4 .buttom_text{top:156px;}
.zb_bg4 .zxqh_bottom{position: absolute; bottom:76px; width:100%;left:0px;}
.zb_bg4 .zxqh_bottom .wrap{overflow: hidden;}
.zb_bg4 .zxqh_bottom img{width:535px;}
.zb_bg4 .zx_box{width:585px; height: 268px; overflow: hidden;}
.zb_bg4 .zxqh_bottom .text_zx{width:50px;background: #FB8920; color: #fff; height: 100%; font-size: 28px; font-weight: bold; text-align: center; padding-top: 70px; }
.zb_bg5{background: url("../img/bj_bg5.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/bj_bg5.jpg*/ no-repeat; background-position: center center; height: 563px; position: relative;}
.zb_bg5 .title_box .title_box_one{margin-top: -4px;}
.zb_bg5 .title_box .title_box_one .large_font{padding-left:72px;}
.zb_bg5 .title_box .title_box_two .large_font{padding-left:26px;}
.zb_bg5 .buttom_text{top:160px;}
.zb_bg5 .chutu_box{position: absolute; bottom:81px; width:100%}
.zb_bg5 .chutu_box .wrap{overflow: hidden; width:1143px;}
.zb_bg5 .chutu_box .wrap .arrow{line-height: 212px;padding:0px 36px; margin-top: 10px;}
.zb_bg5 .chutu_box .wrap .sheji{width:305px; height:206px;}

.zb_bg6{background: url("../img/bj_bg6.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/bj_bg6.jpg*/ no-repeat; background-position: center center; height: 716px; position: relative;}
.zb_bg6 .title_box{width: 516px; margin-left:-258px;}
.zb_bg6 .title_box .title_box_one .small_font{padding-left: 32px;}
.zb_bg6 .title_box .title_box_one .large_font{padding-left:0px;}
.zb_bg6 .title_box .title_box_two{width:58%;}
.zb_bg6 .title_box .title_box_two .large_font{padding-left:0px;}
.zb_bg6_content{position: absolute; bottom: 113px; width: 100%}
.zb_bg6_content .wrap{overflow: hidden;}
.zb_bg6_content .wrap .sq_title{text-align: center; font-size: 24px;}
.zb_bg6_content .wrap .sq_title span{color:#fb8920;}
.zb_bg6_content .wrap .images_box{overflow: hidden; margin-top:37px;}
.zb_bg6 .ml10{margin-left: 10px;}
.zb_bg6 .ml_mr{margin:0px 13px;}
.zb_bg6_content .wrap .images_box img{display: block;}
.zb_bg6_content  .right_bottom{font-size: 26px;}
.zb_bg6_content  .right_bottom div{margin-right: 30px; color:#999999; margin-top:49px;}
.zb_bg6_content  .right_bottom div span{color:#fb8920; font-weight: bold}

.zb_bg7{background: url("../img/bj_bg7.jpg")/*tpa=http://www.qizuang.com/assets/home/zb/img/bj_bg7.jpg*/ no-repeat; background-position: center center; height: 378px;  margin-bottom: 103px; position: relative;}
.zb_bg7 .fadan_top{position: absolute; width:409px;height:176px;left:50%; margin-left: -206px; top:71px; background: #fb8920;}
.center_line{border-left: 1px solid #fff; height: 35px; margin-top: 72px; position: absolute; z-index: 99;left:50%;}
.fadan_content{width:50%;text-align: center; color: #fff; font-weight: bold;}
.fadan_tit{font-size: 24px; padding-top: 47px;}
.fadan_detail{font-size: 16px; padding-top: 25px;}
#fadan_button{width: 103px; height: 43px; font-size: 14px; text-align: center; color: #fff; line-height: 45px; position: absolute; left:50%; margin-left: -53px;bottom:72px;cursor:pointer; background: #fb8920;}
#fadan_button span{border:1px dashed #fff; padding:3px 12px;}
/*新发单窗*/
.order-box { width: 250px; position: relative; top: 15px; background: #fff; z-index: 3; text-align: center; border-radius:3px; font-family: "Microsoft Yahei"; padding: 15px 27px 30px 27px ;float:right; margin-top:20px; box-shadow: 0px 0px 20px #9B9B9B;}
.order-box h3 { font-size: 20px; font-weight:bold; color: #FF5353; }
.order-box h2 { font-size: 14px; font-weight: 100; margin-top:2px; margin-bottom: 14px;  }
.order-box h2 span{color:#FF5353;}

.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 8px; display: block;  }
.order-box .edit-city { width: 100%; height: 35px; border: 1px solid #dcd8d9; }
.order-box .yz-info{ height:25px; color:#ff5659; text-align:left}
.order-box button { width: 100%; height: 35px; border-radius: 3px; background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer }
.order-box p{ position:absolute;  left:40px; right:40px; text-align:left; bottom:20px}
.order-box p a{ float:right; display:inline-block;font-weight:100; color:#ff5659}
.order-box .box-line{margin-bottom:15px;}
.disclamer-line{margin-top: 0px !important;}
.order-box .edit-city, .order-box .edit-quyu{
    width: 49%;
    height: 35px;
    border: 1px solid #dcd8d9;
}
.box-line span{float: right; margin-top: -26px; margin-right: 10px; color: #999;}
.validate .valdate-info{ display: block; margin-top:3px;text-align: center;width:100%;}

#success_fadan{position: fixed; z-index: 9999; width:100%; height: 100%; background: rgba(0,0,0,0.3); top:0px; display: none;}
#success_fadan .window_box{background: #fff; position: fixed; padding:12px; border-radius:10px; width:710px; height: 450px; left:50%;margin-left:-361px; top:50%; margin-top: -225px;}
.window_box_top{text-align: right}
#success_fadan .window_box .window_box_title{color: #ff5353; font-size:30px; font-weight:bold; text-align: center; padding-top: 8px;}
.window_box_small{font-size: 24px; color:#333333; text-align: center; padding-top: 15px;}
.window_box_small span{color:#ff5353;}
.ewm_tishi{font-size: 18px; color:#333333; text-align: center; padding-top:51px;}
.window_bottom_box{line-height: 154px; overflow: hidden; width:447px; margin:0px auto; padding-top: 36px;}
.window_bottom_box img{width:154px; height: 163px;}
.small_right_img{height:38px !important;width:45px !important; padding-left: 27px;  }
.border_box{border:1px dashed #ff5353;}
.window_bottom_box .border_box{line-height: 25px !important; color:#777777; width:185px; height: 139px; text-indent: 10px; font-size: 14px; padding-top: 13px;}
#close_window{cursor: pointer}

/*滚动信息*/
.g-msg {
    width: 100%;
    position: fixed;
    top: 175px;
    left: 0;
    height: 36px;
    line-height: 36px;
    z-index: 2;
}
.g-msg .msg {
    width: 250px;
    position: absolute;
    top: 50px;
    background-color: rgba(0,0,0,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000,endColorstr=#AA000000);
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    color: #fff;
    overflow: hidden;
    display: none;
}
:root .g-msg .msg {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
}
.msg img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin:0 1.2%;
    margin-top: .9%;
    float: left;
}
