.ml10 { margin-left: 10px }
.mr10 { margin-right: 10px }
.de-main { width: 930px; float: left;    padding-bottom: 10px; }
.de-lesser { width: 260px; float: right }
.de-list-box { margin-bottom: 20px }
.de-list-box>li { position: relative; padding-right: 0; padding: 50px 0; padding-left: 160px; border-bottom: 1px solid #eee; overflow: hidden; padding-bottom: 40px }
.de-list-box>li .user-head img { width: 80px; height: 80px; }
.de-list-box>li .user-head img:hover { opacity: 0.8 }
.de-list-box>li .user-head { position: absolute; left: 50px; top: 60px; height: 110px; width: 80px; text-align: center; line-height: 30px;word-break: break-word; }
.de-list-box>li .user-head span { width: 80px; height: 80px; overflow: hidden; border-radius: 50px; display: block }
.de-list { max-height: 350px; overflow: hidden; font-family: Microsoft YaHei; position: relative }
.de-list .de-list-info { right: 20px; top: 20px; position: absolute }
.de-list .de-list-info a i { font-size: 16px; color: #f47b7b; padding-right: 10px }
.de-list .de-list-info a { color: #888; margin-right: 20px }
.de-list .diary-item { font-weight: 100; line-height: 50px; margin-left: 20px }
.de-list h1 span { color: #888; font-size: 12px; margin-left: 20px }
.de-list>p { color: #888; margin-left: 20px; }
.de-list .de-list-text { font-size: 14px; margin: 20px; color: #666; background: #f7f7f7; padding: 10px; line-height: 25px; overflow: hidden; margin-bottom: 10px }
.de-list .de-list-text p { max-height: 50px; overflow: hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.de-list .de-list-text .diray-block { font-weight: 100; color: #fff; background: #b0ddff; width: 100px; text-align: center }
.de-list .de-list-text li { width: 100px; height: 100px; margin-top: 5px; float: left; margin-right: 10px; text-align: center; line-height: 120px; }
.de-list .de-list-text li img { width: 100%; height: 100%; }
.de-list .de-list-text li img:hover { opacity: 0.9; }
.de-chose { border: 1px solid #eee }
.de-chose a:hover, .de-list .de-list-info a:hover { text-decoration: none }
.de-chose dt { line-height: 20px; border-bottom: 1px solid #eee; overflow: hidden; padding: 10px 0 }
.de-chose dt .all-dairy-btn { float: left; margin-left: 10px }
.de-chose dt span { display: block; float: left; border: 1px solid #FF4D51; padding: 0 5px; color: #ffffff; margin-left: 10px ;background: #FF4D51;}
.de-chose dt span a { margin-left: 5px; color: #ffffff }
.de-chose dd { border-bottom: 1px dotted #f1f1f1; color: #666; line-height: 40px; overflow: hidden }
.de-chose dd span { margin-left: 10px; float: left; }
.de-chose dd ul { float: left; margin-left: 10px; width: 860px }
.de-chose dd ul li { float: left; padding: 0 10px }
.xiriji { font-family: Microsoft YaHei; height: 40px; line-height: 40px; display: block; text-align: center; font-size: 14px; color: #fff; background: #de4348 }
.xiriji:hover { background: #f55259; text-decoration: none; color: #fff }
.rtel { width: 238px; background: #fff; height: 199px; padding: 10px; border: 1px solid #f1f1f1; text-align: center; font-family: Microsoft YaHei; padding-top: 20px }
.rtel h1 { font-size: 18px; line-height: 25px; color: #3c3c3c; font-weight: bold }
.rtel h2 { font-size: 14px; line-height: 25px; color: #888; }
.rtel .int { margin-top: 10px; overflow: hidden; width: 240px; height: 32px }
.rtel .int input { color: #666; width: 228px; border: 1px solid #ccc; height: 30px; line-height: 30px; text-align: left; display: block; padding: 0 5px; height: 29px\9; width: 228px\9; }
.rtel .int a { display: block; width: 238px; line-height: 30px; color: #fff; background: #ed5a6b; border: 1px solid #de4348; font-size: 14px }
.rtel .int a:hover { text-decoration: none; color: #fff; background: #de4348 }
.de-sider-box { border: #f1f1f1 1px solid; margin-top: 20px; font-family: Microsoft YaHei; }
.de-sider-box h1 { line-height: 50px; border-bottom: 1px dotted #f1f1f1; font-size: 18px; font-weight: 100; font-family: Microsoft YaHei; padding-left: 20px }
.de-sider-box dl.de-step-list { padding: 20px }
.de-sider-box dl.de-step-list dt { background: url("../images/stepliststyle.png")/*tpa=http://www.qizuang.com/assets/home/diary/images/stepliststyle.png*/ no-repeat; height: 20px; line-height: 20px; padding-left: 30px; font-size: 14px; }
.de-sider-box dl.de-step-list dd { border-left: 2px solid #f7f7f7; margin-left: 9px; padding: 20px; overflow: hidden; line-height: 25px }
.de-sider-box dl.de-step-list dd a { background: #f1f1f1; color: #888; display: block; float: left; text-align: center; width: 70px; margin-right: 10px; margin-bottom: 10px }
.de-sider-box dl.de-step-list dd a:hover { text-decoration: none; background: #eee; color: #666; }

.user-list li {float: left; overflow: hidden; margin: 20px; border-bottom: 1px dotted #f1f1f1; padding-bottom: 20px }
.user-list li span { float: left; display: block; width: 80px; height: 100px; overflow: hidden;text-align: center; }
.user-list li img { width: 80px; height: 80px; border-radius: 100px; }
.user-list li p { float: left; width: 140px; margin-left: 10px; line-height: 25px; margin-top: 3px; color: #666 }
.user-list li p.username { font-size: 14px; color: #3c3c3c }
.wenzhot li a { width: 238px; height: 150px; display: block; overflow: hidden; padding: 10px; position: relative }
.wenzhot li a img { width: 100%; height: 100% }
.wenzhot li a span { display: block; position: absolute; height: 25px; background: rgba(0,0,0,.6); color: #fff; line-height: 25px; bottom: 10px; width: 238px; text-align: center; overflow: hidden }
.de-hot-diary { margin: 0 20px; padding-bottom: 20px }
.de-hot-diary li { border-bottom: 1px dotted #f1f1f1; padding-bottom: 20px; margin-top: 20px }
.de-hot-diary li a:hover { text-decoration: none }
.de-hot-diary li h2 { font-size: 16px; font-weight: 100; font-family: Microsoft YaHei; line-height: 25px; height: 25px; overflow: hidden; margin-bottom: 5px }
.de-hot-diary li p { max-height: 40px; overflow: hidden; line-height: 20px; }
.de-hot-diary li p a { color: #888 }
.de-hot-diary li span { display: block; color: #888 }
.de-hot-diary li span i { margin-right: 5px }
.de-hot-diary li span img { height: 50px; width: 50px; margin: 5px 0; margin-right: 10px; }
/*********/


.de-userinfo { font-family: Microsoft YaHei; border: 1px solid #f1f1f1; overflow: hidden;  color: #888; position: relative }
.de-userinfo .user-head { float: left; margin-right: 20px;  overflow: hidden; text-align: center; color: #D85F5F }
.de-userinfo  ul li em{margin-right: 5px;}
.de-userinfo  ul li a{color: #888;}
.de-userinfo .user-head span { overflow: hidden; display: block; width: 117px; height: 117px }
.de-userinfo .user-head span img { width: 100%; height: 100%; }
.de-userinfo h1 { line-height: 30px; font-size: 22px; font-weight: 100; color: #3c3c3c }
.de-userinfo h1 span { font-size: 14px; color: #888; margin-left: 20px }
.de-userinfo h1 em{font-size: 14px;color: #666;}
.de-userinfo ul { margin: 5px 0; line-height: 25px; float: left; margin-bottom: 0 }
.de-userinfo ul li{font-size: 14px;}
.de-userinfo ul li i { width: 15px; display: inline-block; text-align: center; margin-right: 10px; color: #ccc; font-size: 18px }
.de-userinfo .likeit { position: absolute; left: 40px; bottom: 20px; width: 80px; height: 30px; text-align: center; border: 1px solid #ef4343; color: #fff; background: #ed5959; display: block; line-height: 30px }
.de-userinfo .likeit:hover { text-decoration: none; color: #fff; background: #ef4343 }
.de-userinfo .done { color: #888; background: #eee; border: 1px solid #ccc }
.de-userinfo .done:hover { color: #888; background: #eee; border: 1px solid #ccc }
.de-userinfo .de-userinfo-num { position: absolute; right: 100px; top: 50%;margin-top:-15px; height: 30px; font-size: 14px;}
.de-userinfo .de-userinfo-num span { margin-right: 10px; font-weight: bold;display: block; float: left; text-align: center; width: 40px; height: 40px; line-height: 20px; }
.de-userinfo .de-userinfo-num i{display: block; width: 100%;}
.de-userinfo .shuiyin { position: absolute; right: 10px; bottom: 0; font-size: 80px; font-weight: bold; color: #fff7f7; z-index: -1 }
.de-userinfo .shuiyin-done { color: #f7f7ff }
/****/
.de-mydairy { font-family: Microsoft YaHei; border: 1px solid #eee; border-bottom: 0; padding: 20px; margin-top: 20px; background: url("../images/debg.png")/*tpa=http://www.qizuang.com/assets/home/diary/images/debg.png*/ bottom left repeat-x; }
.de-mydairy h1 { line-height: 30px; font-size: 18px; font-weight: 100; margin-bottom: 20px }
.de-mydairy-box { border-bottom: 1px solid #eee; margin-bottom: 20px }
.de-mydairy-box h3 { font-size: 16px; line-height: 30px; color: #ef4343; margin-left: 20px }
.de-mydairy-box h3 span { font-size: 14px; padding: 0 10px; display: inline-block; color: #fff; background: #8cc8ff; font-weight: 100; margin-right: 10px; border-radius: 50px }
.de-mydairy-box h3 span.reply{color: #999;background:inherit; font-size: 12px;}
.de-mydairy-box h3 span.reply i{margin-right:5px;}
.de-mydairy-box .de-mydairy-word { line-height: 22px; font-size: 14px; color: #666; margin: 20px }
.de-mydairy-box .de-mydairy-img { margin: 20px; overflow: hidden; margin-top:0;}
.de-mydairy-box .de-mydairy-img li { width: 150px; height: 150px; margin-bottom: 10px; margin-right: 10px; float: left }
.de-mydairy-box .de-mydairy-img li img,.de-mydairy-box .user-head img{ width: 100%; height: 100%; }
.de-mydairy-box p{ color:#999; margin-left:20px; margin-bottom:10px}
.de-mydairy-box .user-head{width:50px;height:50px;overflow:hidden; display:block; border-radius:50px;}

.de-mydairy-mes{ padding-bottom:20px}
.de-mydairy-mes p{ margin-bottom:0}
.de-mydairy-mes p a{font-size: 14px; color: #666;}
.de-mydairy-mes p a:hover{color: #999; text-decoration: none;}
.de-mydairy-mes dt{ overflow:hidden; padding:20px; padding-bottom:0}

.de-mydairy-mes dt.more-mes{ line-height:30px; text-align:center; padding-top:10px;border-top:1px dashed #f1f1f1;  margin-top:10px;}
.de-mydairy-mes dt.more-mes a{ color:#e73f3f}
.de-mydairy-mes dt.resend{ margin-top:10px;border-top:1px dashed #f1f1f1; padding-top:20px}
.user-resend{color: #666; resize:none; border:1px solid #ccc; height:60px;  padding:10px; width:743px}
.resend-btn{ float:right; display:block; color:#fff; height:30px; margin-top:5px; background:#e95050; line-height:30px; padding:0 10px; }
.resend-btn:hover{ text-decoration:none; color:#fff; background:#e73f3f}
.de-mydairy-mes dd{ margin-left:100px; border:1px solid #eee; background:#f7f7f7; padding:10px;overflow:hidden; margin-top:10px}
.de-mydairy-box .de-mydairy-mes dt .diary-message{ float:right; width:785px; line-height:22px}
.de-mydairy-box .de-mydairy-mes dd .diary-message{ float:right; width:716px; line-height:22px}
.red { color: #ed5a6b }.blue{ color:#5FADD8}.gray{ color:#545454 !important}

.step-dairy{ font-size:14px; padding:20px}
.step-dairy li{ padding-left:30px; line-height:50px; background:url("../images/stepliststyle1.png")/*tpa=http://www.qizuang.com/assets/home/diary/images/stepliststyle1.png*/ no-repeat 0 16px }
.step-dairy li.all-dairy{ background:url("../images/stepliststyle.png")/*tpa=http://www.qizuang.com/assets/home/diary/images/stepliststyle.png*/ no-repeat 0 16px }

.de-all-dairy{ height:30px; line-height:30px; margin-top:20px; border-bottom:1px solid #f7f7f7;font-family: Microsoft YaHei; height:31px}
.de-all-dairy li{ float:left; font-size:16px; padding:0 20px}
.de-all-dairy li a { color:#3c3c3c;}
.de-all-dairy li.active{ border-bottom:3px solid #ed5a6b }
.de-all-dairy li a span{ font-size:12px; color:#888; margin-left:10px}.de-all-dairy li a:hover{ text-decoration:none}

.user-top{ clear:both; background:#f7f7f7; padding:20px; overflow:hidden;font-family: Microsoft YaHei; position: relative; }
.user-top h1{ float:left; font-weight:100; font-size:22px; line-height:70px}
.user-top span{ width:60px; height:60px; border-radius:100px; overflow:hidden; display:block; float:left; margin-right:20px; border:5px solid #fff}
.user-top span img{ width:100%; height:100%}
.user-dairy>li{ margin-top:20px}
.user-dairy>li .de-userinfo{padding:5px 10px;}
.de-mydairy-img1 li{ width:840px; height:auto; float:none; text-align:center; margin-top:20px}
.de-mydairy-img1 li img{ max-width:100%; height:auto; width:auto}

.dairy-main{position: relative;}
.dairy-main li{ position:relative; overflow:hidden;float: left;}
.dairy-date{ position:absolute; left:0; border-right:3px dashed #eee; height:100%; width:150px}
.dairy-date .date{float:right; margin-right:20px; font-size:24px; font-weight:bold; text-align:right; line-height:25px; color:#b6d6f5}
.dairy-date .date i{ font-size:12px; color:#ccc}
.dairy-date .step{ margin-top:20px;margin-right:20px; display:block; font-weight:bold; color:#489ced; float:right; width:100%; text-align:right; font-size:12px}

.dairy-more{ float:left; width:610px; border-radius:10px; border:2px solid #eee; position:relative; margin:25px 0 25px 216px; background:#fff;  padding:10px; line-height:25px}
.dairy-more:before{ content:""; position:absolute; left:-82px; top:10px; height:30px; background:url("../../../user/user/img/dairystep.png")/*tpa=http://www.qizuang.com/assets/user/user/img/dairystep.png*/ no-repeat; width:82px; line-height:30px}
.dairy-more h1{ font-size:18px; font-weight:100; line-height:25px; height:25px}
.dairy-more h1 span{ vertical-align: 3px;font-size:12px; display:inline-block; background:#fab228; color:#fff; padding:0 10px; margin-right:10px; border-radius:50px}
.dairy-more p{text-indent:24px;margin-top:10px;  overflow:hidden; line-height:20px; color:#888; position:relative;height: auto;}
.dairy-more p img{ float:left; height:80px; width:auto; margin-right:10px}
.dairy-more p a{ display:block; right:0; bottom:0; background:#fff; position:absolute; padding-left:10px; color:#ea4e4e;height: 20px; }

.diary_content{}

.reply_message{display: inline;margin-top: 6px;margin-right: 5px;float: right;}
.de-userinfo .t{background: #EEE none repeat scroll 0% 0%; color: #888; height: 20px; line-height: 20px;  border-radius: 10px; padding: 0 10px; margin-right: 5px;}
.de-userinfo .t1{background: #F6C500 none repeat scroll 0% 0%; color: #FFF;}
.de-userinfo a{font-size: 16px;font-family: Microsoft YaHei; margin-right: 5px;}
.de-userinfo p span{margin-right:10px;}
.de-userinfo .pull-right span{margin-right:5px;  }
.de-userinfo .pull-right span i{margin: 0 3px;}
.de-userinfo p{margin-top: 5px;}
.de-userinfo p .link{font-size: 12px; color: #999;}

.user-top .user-top-r{position: absolute; right: 150px; top:50%; margin-top:-15px; display: block; height: 30px; font-size: 14px;}
.de-userinfo .diary_tit{font-size: 12px; color: #999; margin-right: 5px;}

.wenzrtitle {height:40px;line-height:40px;padding-bottom:10px;border-bottom:1px #eee solid;font-size: 22px;font-weight: 100;}

.wenzrmain {font-family: "Microsoft YaHei"; }
.wenzrmain .wenzhot li {float:left;}
.wenzrmain .wenzhot li a {width:212px; height:190px;}
.wenzrmain .wenzhot li a img{ width:100%; height:100%}
.wenzrmain .wenzhot li a span{margin-left:0px;display:block; position:absolute; height:35px; background:rgba(0,0,0,.6); color:#fff; line-height:35px; bottom:20px;width:212px; text-align:center; overflow:hidden}

.same-list { overflow:hidden}
.same-list li {line-height:35px;overflow:hidden;width:465px;float: left;}
.same-list li a{ overflow:hidden; float:left; font-size:14px;}
.same-list li b{ color:#aaa; font-style:normal; font-weight:100; margin-right:10px}


.wenda {padding-bottom:15px;padding-right:7px;}
.wenda li a {display:block; overflow:hidden; padding:10px 10px 5px 10px;font-size:14px;}
.wenda li a:hover {text-decoration: none}
.wenda li p {line-height:23px;overflow:hidden;padding-left:36px;font-size:13px; color: #999;}
.wenda li span {color:red;}

.zixun {padding-bottom:15px;padding-right:7px; overflow: hidden;}
.zixun li{padding-left: 10px;}
.zixun li a {display:block; overflow:hidden; padding:3px;font-size:14px;}