.inlink-b-bottom{padding-bottom: 5px}
.inlink-b-bottom li{width:150px; height: 90px; padding: 0 3px; }
.inlink-b-bottom li span {height: 84px;position: relative; overflow: hidden;}
.inlink-b-bottom li span img{height: 100%; width: 100%;}
.inlink-b-bottom li em{ position: absolute;left: 0; bottom: 0; width: 100%; height: 30px; line-height: 30px; color: #FFF; background: #000;opacity: 0.8; filter: alpha(opacity=80); }
.inlink-b-bottom li.first{width: 218px; height: 174px;}
.inlink-b-bottom li.first span {height: 174px;}
.picshowtxt_right{line-height: 20px;}