.play { height: 400px; position: relative; background: #D9D9D9 }
.order-box { width: 255px; height: 370px; position: relative; top: 8px; background: #fff; z-index: 3; text-align: center; font-family: "Microsoft Yahei"; padding: 15px 40px 0 40px;box-shadow: 0 0 6px 0 rgba(0,0,0,.2)}
.order-box .h1 { font-size: 20px; font-weight: 100;display: block;font-weight: bold;margin-top: 7px;}
.order-box .h2 { font-size: 14px; font-weight: 100; margin: 15px 0;display: block; }
.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 20px; display: block; }
.order-box .edit-city,.order-box .edit-quyu { width: 49%; height: 35px;border: 1px solid #dcd8d9; }
.order-box button { width: 100%; height: 35px;box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5);background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer;transition: all 0.5s ease;}
.order-box button:hover{box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5)}
.order-box .order-box-tip{font-size: 14px;}
.order-box .order-box-tip span{float: left;color: #333;}
.order-box .order-box-tip span i{color: #ff5353;}
.order-box .order-box-tip a{color: #ff5353;float: right}
.home-slider {max-width: 1920px; width: 100%; overflow: hidden; position: absolute; z-index: 1;background-position:center; background-size:cover}
.validate .box-line{margin-bottom: 15px;}
.slideWrap .dot-wrap{transition: all 0.5s ease;}
.slideWrap .dot-wrap:hover{transform: scale(1.4);}
/* 轮播图 */
.qiehuan{height: 400px;position: relative;}
.ck-slide {width:100%;height: 400px;overflow: hidden;}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide { position: relative; overflow: hidden;}
.ck-slide ul.ck-slide-wrapper { width:100%;height: 400px; position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0; }
.ck-slide ul.ck-slide-wrapper li { position: absolute;width: 100%;height: 400px; }
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s; }
.ck-slide .ck-prev { left: 330px; background: url("../../../common/img/arrow-left.png")/*tpa=http://www.qizuang.com/assets/common/img/arrow-left.png*/ #000 30% no-repeat; border-top-right-radius: 100px; border-bottom-right-radius: 100px }
.ck-slide .ck-next { right: 0px; background: url("../../../common/img/arrow-right.png")/*tpa=http://www.qizuang.com/assets/common/img/arrow-right.png*/ #000 70% no-repeat; border-top-left-radius: 100px; border-bottom-left-radius: 100px }
.ck-slide .ck-slidebox { position: absolute; left: 60%; bottom: 12px; z-index: 30; }
.ck-slide .ck-slidebox ul { height: 20px;}
.ck-slide .ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px; }
.ck-slide .ck-slidebox ul li i { color: #fff; cursor: pointer; font-size: 15px; }
.ck-slide .ck-slidebox ul li.current i { color: #ff5353; }
.ck-slide .ck-slidebox ul li i:hover { color: #ff5353; }
.ck-slide ul.ck-slide-wrapper li img{position: absolute;width: 1920px;height: 400px; left: 50%;margin-left: -960px;}

.zx-step { width: 100%;height: 289px; overflow: hidden;background: #f5f5f5;}
.zx-step ul{margin-top: 30px;margin-left: 30px;}
.zx-step ul li {float: left;width: 265px;height: 229px;margin-right: 30px;position: relative;text-align: center;font-size: 14px;font-family: "Microsoft Yahei"; transition: all 0.5s ease; border-radius: 4px;background: #fff;overflow: hidden;cursor: pointer;}
.zx-step ul li:hover{box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);}
.zx-step ul li span.text{display:inline-block;font-size: 22px;color: #333;line-height: 22px;margin-bottom: 14px;}
.zx-step ul li p{font-size: 14px;color: #666;line-height: 14px;}
.zx-step ul li.s1:after { content: ""; display: block; background: url("../img/hot.png")/*tpa=http://www.qizuang.com/assets/home/index/img/hot.png*/; position: absolute; width: 63px; height: 63px; left: 0; top: 0 }
.zx-step ul li.s2:after { content: ""; display: block; background: url("../img/free.png")/*tpa=http://www.qizuang.com/assets/home/index/img/free.png*/; position: absolute; width: 63px; height: 63px; left: 0; top: 0 }
.zx-step ul li span.img { width: 100px; height: 100px; display: block;margin: 25px auto;margin-bottom: 24px; }

.zx-step ul li.s1 span.img { background: url("../img/zhinneg.png")/*tpa=http://www.qizuang.com/assets/home/index/img/zhinneg.png*/ center center no-repeat }

.zx-step ul li.s2 span.img { background: url("../img/sheji.png")/*tpa=http://www.qizuang.com/assets/home/index/img/sheji.png*/ center center no-repeat }

.zx-step ul li.s3 span.img { background: url("../img/gongsi.png")/*tpa=http://www.qizuang.com/assets/home/index/img/gongsi.png*/ center center no-repeat }

.zx-step ul li.s4 span.img { background: url("../img/baozhang.png")/*tpa=http://www.qizuang.com/assets/home/index/img/baozhang.png*/ center center no-repeat }
.zx-step ul li:hover{}

/*轮播图 开始*/
.main_banner { width: 100%; height: 375px; }
.main_banner_wrap { width: 1180px; height: 375px; position: relative; margin: 0 auto; overflow: hidden; }
 @-webkit-keyframes roll {
 from {
-webkit-transform:rotate(120deg);
opacity:0;
}
 to {
-webkit-transform:rotate(0deg);
opacity:0.8;
}
}
@keyframes roll {
 from {
transform:rotate(120deg);
opacity:0;
}
 to {
transform:rotate(0deg);
opacity:0.8;
}
}
.banner_btn { 	/*a 标签 按钮*/ width: 255px; height: 240px; position: absolute; display: block; z-index: 9; top: 20px; }
.btn_next { right: 20px; }
.banner_btn span { width: 50px; height: 100px; display: block; position: absolute; left: 110px; top: 100px; opacity: 0; transition: 0.5s; background: url("../../../common/img/bannerBtn.png")/*tpa=http://www.qizuang.com/assets/common/img/bannerBtn.png*/ no-repeat 0 0; }
.btn_next span { background-position: -50px 0; }
.main_banner_box:hover .banner_btn_arrow { opacity: 0.6; }
.banner_btn span i { width: 50px; height: 100px; display: block; background: url("../../../common/img/bannerBtn.png")/*tpa=http://www.qizuang.com/assets/common/img/bannerBtn.png*/ no-repeat 0 0; }
.btn_next span i { background-position: -50px 0; }
.banner_btn:hover i { -webkit-animation: arrow 0.5s infinite alternate ease-in-out; -moz-animation: arrow 0.5s infinite alternate ease-in-out; }
@-webkit-keyframes arrow {
 from {
-webkit-transform:scale(1);
opacity:1;
}
 to {
-webkit-transform:scale(1.5);
opacity:0.2;
}
}
@-moz-keyframes arrow {
 from {
-moz-transform:scale(1);
opacity:1;
}
 to {
-moz-transform:scale(1.5);
opacity:0.2;
}
}
.main_banner_box { width: 1210px; height: 360px; position: relative; z-index: 0; }
.main_banner li { position: absolute; overflow: hidden; }
/*给每张图片初始设置不同宽高，层级，位置*/
.main_banner li#imgCard0 { width: 800px; height: 360px; z-index: 5; left: 200px; top: 0px; opacity: 1; background: #333d46; }
.main_banner li#imgCard1 { width: 580px; height: 280px; z-index: 1; left: 600px; top: 40px; opacity: 1; background: #333d46; }
.main_banner li#imgCard2 {/*初始在背后，透明度为0*/ width: 450px; height: 180px; z-index: 1; left: 0px; top: 60px; opacity: 0; background: #333d46; }
.main_banner li#imgCard3 {/*初始在背后，透明度为0*/ width: 450px; height: 180px; z-index: 1; left: 0px; top: 60px; opacity: 0; background: #333d46; }
.main_banner li#imgCard4 { width: 580px; height: 280px; z-index: 2; left: 0px; top: 40px; opacity: 1; background: #333d46; }
.main_banner li img { width: 100%; height: 100%; }
.main_banner li span {/*遮罩层*/ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; background: #000; opacity: 0; filter: alpha(opacity=0); color: #fff; font-size: 30px; line-height: 120px; text-align: center; }
.main_banner li p { width: 100%; height: 35px; position: absolute; left: 0; bottom: -50px; background: rgba(0,0,0,0.7); color: #fff; text-indent: 38px; line-height: 35px; font-size: 14px; }
/*指示器按钮*/
.btn_list { text-align: center; position: relative; left: 0; top: 6px; z-index: 10; }
.btn_list span { width: 15px; height: 15px; display: inline-block; margin: 15px 5px; background: #787d82; border-radius: 50%; cursor: pointer; }
.btn_list span.curr { background: #FFAE00; }

/*广告banner*/
.newsbanner{margin-top: 60px;overflow: hidden;}
.newsbanner,.newsbanner ul{width: 1210px;height: 110px;position: relative;}
.newsbanner .bx-pager{position: absolute;right: 0px;bottom: 5px;text-align: right;float: right;width: 100px}
.newsbanner .bx-pager .bx-pager-item a{color: #ff5353;font-size:0px;text-indent: -9999px;}
.newsbanner .bx-wrapper .bx-prev{display: none;}
.newsbanner .bx-wrapper .bx-next{display: none;}

/*通用模块头部标题*/
.box-tit { margin-top: 60px; overflow: hidden;}
.box-tit .heng-line{width: 80px;height: 2px;margin: 0 auto;background: #e6e6e6;margin-bottom: 14px;}
.box-tit .tit { font-size: 30px;text-align: center;line-height: 30px;color: #333;margin-bottom: 14px;}
.box-tit .tit:hover a{color: #ff5353}
.box-tit .tit-sm { text-align: center;font-size: 16px;color: #666;line-height: 16px;margin-bottom: 30px;}
.box{width: 1210px;overflow: hidden;}
.box a.more{width: 178px;height: 38px;font-size:14px;display: block;margin:0 auto;text-align: center;line-height: 38px;border:1px solid #999;margin-top: 30px;}
.box a.more:hover{background: #ff5353;border-color: #ff5353;color: #fff;}

/*效果图*/
.xgt-box {width:1220px;overflow: hidden }
.xgt-box ul { float: left; overflow: hidden }
.xgt-box ul li {width: 100%;position: relative; overflow: hidden;}
.xgt-box ul li img { display: block;width: 100%;height: 100%}
.xgt-box ul li span { position: absolute; width: 70px;height: 30px;transition: all 0.5s ease; background: rgba(0,0,0,.6); left: 10px;top: 10px;border-radius: 30px; line-height: 30px; color: #fff;text-align: center;font-size: 14px; }
.xgt-box ul li span .fengge-info .big-tit{font-size: 26px;line-height: 26px;margin-bottom: 20px;}
.xgt-box ul li span .fengge-info .big-tuji{font-size: 16px;line-height: 16px;margin-bottom: 13px;}
.xgt-box ul li span .fengge-info .big-num{font-size: 16px;line-height: 16px;}
.xgt-box ul li:hover span{border-radius:0;width: 100%;height: 100%; left: 0;top:0;}
.xgt-box ul li:hover span i{display: none;}
.xgt-box ul li:hover span div{display: block;}
.xgt-box ul li span .fengge-info{text-align: center;display: none;margin-top: 50%}
.xgt-box .row-1 { width: 559px;height: 454px; margin-right: 6px }
.xgt-box .row-1 li{height: 100%}
.xgt-box .row-2 li{ width: 298px;height: 224px;}
.xgt-box .row-2 li:last-child{margin-top: 6px;}
.xgt-box .row-3 { width: 341px;height: 454px;margin-right: 6px}
.xgt-box .row-3 li{height: 100%;}
.xgt-box .row-4{width: 100%;margin-top: 6px;}
.xgt-box .row-4 li{width: 298px;height: 224px;float: left;margin-right: 6px;}
.xgt-box .row-2 li span .fengge-info,
.xgt-box .row-4 li span .fengge-info{margin-top: 25%}
.xgt-box .row-1 li span{width: 160px;height: 160px;border-radius: 50%;left: 0;top: 0;right: 0;bottom: 0;margin: auto;line-height: 160px;}
.xgt-box .row-1 li span div.three-bg{width: 140px;height: 120px;position: absolute;left: 0;top:0;right: 0;bottom:0;margin: auto;background: url("../img/3D.png")/*tpa=http://www.qizuang.com/assets/home/index/img/3D.png*/;}
.xgt-box .row-1 li i{font-size: 16px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;transition: none;line-height: 454px;text-align: center;color: #fff}
.xgt-box .row-1 li .big-tit-3d{width: 100%;height: 100%;line-height: 454px;display: none;text-align: center;font-size: 16px;position: absolute;left: 0;top: 0;display: none;color: #fff;}
.xgt-box .row-1 li:hover .big-tit-3d{display: block;}

/*装修公司*/
.company-lunbo{width: 1210px;height: 436px;overflow: hidden;}
.company-lunbo .slide-item{ float:left;width: 287px;height: 420px;background: #fff;position: relative;margin-right: 20px;margin-bottom: 30px;}
.company-lunbo .slide-item:nth-child(4),
.company-lunbo .slide-item:nth-child(8),
.company-lunbo .slide-item:nth-child(12),
.company-lunbo .slide-item:nth-child(16),
.company-lunbo .slide-item:nth-child(20){margin-right: 0px;}
.company-lunbo .slide-item .company-anli{width: 287px;height: 200px;overflow:hidden;position: relative;}
.company-lunbo .slide-item .company-anli img{width:100%;height:auto;transition: all 0.5s ease;position: absolute;margin: auto;left: 0;top: 0;right: 0;bottom: 0;}
.company-lunbo .slide-item .company-img{width: 110px;height: 110px; position: relative; background: #fff; border-radius: 50%;overflow:hidden;position: absolute;left: 90px;top: 110px;z-index: 1;border:1px solid #ededed;}
.company-lunbo .slide-item .company-img img{width:100%;height:auto;position: absolute;margin: auto;left: 0;top: 0;right: 0;bottom: 0;}
.company-lunbo .slide-item .company-info{width: 247px;height: 222px;background: #fff;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);position: absolute;left: 20px;top: 180px;transition: all 0.5s ease;}
.company-lunbo .slide-item .company-info .company-name{margin-top: 60px;text-align: center;font-size: 18px;color: #333;line-height: 18px;margin-bottom: 10px;}
.company-lunbo .slide-item .company-info .company-star{text-align: center;font-size: 14px;color: #fb8920;line-height: 14px;margin-bottom: 21px;}
.company-lunbo .slide-item .company-info .company-ap{width: 220px;height:14px;line-height: 14px;margin: 0 auto;font-size: 14px;}
.company-lunbo .slide-item .company-info .company-ap span{float:left;width: 100px;height: 14px;color:#999;display: block;text-align: center;}
.company-lunbo .slide-item .company-info .company-sheji{width: 118px;height: 34px;margin:0 auto; margin-top:20px;border: 1px solid #666;text-align: center;line-height: 34px;color: #333;font-size: 16px;}
.company-lunbo .slide-item:hover .company-info{box-shadow: 0 0 20px 0 #ccc;}
.company-lunbo .slide-item:hover .company-anli img{transform: scale(1.2);}
.company-lunbo .slide-item .company-info .company-sheji:hover{background: #ff5353;color: #fff;border-color: #ff5353;cursor: pointer;}
/* .company-lunbo .bx-wrapper .bx-pager.bx-default-pager a{width: 30px;height: 3px;background: #b8b8b8;border-radius: 0;} */
.company-lunbo .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background: #ff5353;}
.company-lunbo .bx-wrapper .bx-prev{display: none;}
.company-lunbo .bx-wrapper .bx-next{display: none;}

.company-lunbo .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom:-20px;}

/*装修攻略*/
.zx-gl{width: 100%;height: 749px;background: #f3f3f3;margin-top: 60px;background: url("../img/zx-gl-bg.jpg")/*tpa=http://www.qizuang.com/assets/home/index/img/zx-gl-bg.jpg*/ no-repeat;background-size: auto 749px;
    background-position: center;}
.gl-list{width: 1220px;height: 448px;overflow: hidden;}
.gl-list ul li{float: left;width: 298px;height: 100%;margin-right: 6px;}
.gl-list ul li .gl-img{width: 298px;height: 140px;overflow:hidden;position: relative;}
.gl-list ul li .gl-img img{width: 298px;height: 100%;}
.gl-list ul li .gl-img div{width: 298px;height: 140px;font-size:24px;background: rgba(0,0,0,0.7);transition:all 0.5s ease;position: absolute;left: 0;top: 0;text-align: center;line-height: 140px;color: #f5f5f5;}
.gl-list ul li:hover .gl-img div{background: rgba(0,0,0,0.3);}
.gl-list ul li .gl-list-wz,
.gl-list ul li .gl-list-wd{width:298px;height:268px;padding-top: 40px;background: #fff;overflow: hidden;}
.gl-list ul li .gl-list-wz .gl-list-item,
.gl-list ul li .gl-list-wd .gl-list-item{width:298px;height:12px;margin-bottom: 24px;}
.gl-list ul li .gl-list-wz .gl-list-item .wz-fenlei{width: 115px;height: 12px;color:#999;font-size: 14px;line-height: 12px;border-right:1px solid #ccc;display: block;float: left;margin-right: 20px;margin-left: 30px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.gl-list ul li .gl-list-wz .gl-list-item .wz-det{width: 115px;height: 14px;font-size: 14px;line-height: 12px;display: block;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gl-list ul li .gl-list-wd .gl-list-item .wz-det{width: 115px;height: 14px;margin-left: 30px;font-size: 14px;line-height: 12px;display: block;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gl-list ul li .gl-list-wd .gl-list-item .wz-shijian{font-size: 14px;line-height: 12px;color:#999;float: right;margin-right: 30px;}
.gl-list ul li a{cursor: pointer;}
.gl-list ul li a:hover span{color: #ff5353 !important;}
.gl-list ul li .to-gl{height: 16px;}
.gl-list ul li .to-gl p{margin-right: 30px;font-size: 22px;}
.gl-list ul li .to-gl p .go-to{width:24px;height:7px;float:right;margin-top:12px;margin-left:10px;display:inline-block;background: url("../img/jiantou.png")/*tpa=http://www.qizuang.com/assets/home/index/img/jiantou.png*/ no-repeat;}
.gl-list ul li .to-gl p a{color: #ccc;width: 72px;display: block;float: right;}
.gl-list ul li .to-gl p a:hover {color: #ff5353}
.gl-list ul li .to-gl p a:hover .go-to{background: url("../img/jiantou-hover.png")/*tpa=http://www.qizuang.com/assets/home/index/img/jiantou-hover.png*/;}

/*装修案例*/
.al-box{width: 1210px;height: 360px;}
.al-box ul li{position:relative;float: left;width: 100px;height: 360px;overflow: hidden;background: rgba(0,0,0,.5);border-right: 2px solid #fff}
.al-box ul li:last-child{border:0;}
.al-box ul li p{width:100%;position: absolute;display: none; left: 0;bottom: 0;font-size: 14px;color: #fff;line-height: 14px;height: 14px;margin-bottom: 14px;}
.al-box ul li p span{margin-right: 30px;margin-left: 20px;}
.al-box ul li p a{color: #fff;}
.al-box ul li p a:hover{color: #ff5353;}
.al-box ul li p i{float: right;margin-right: 20px;}
.al-box ul li .shupai{width:100px;height:100%; cursor: pointer; line-height:100px; background: rgba(0,0,0,.65); position:absolute;left:0;top:0;text-align: center;color: #fff;font-size: 20px; writing-mode:tb-rl;display: block;}
.al-box .p-bg{
	position:absolute;left:0;bottom:0;width: 100%;height: 76px;
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=none,endcolorstr=#333,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=none,endcolorstr=#333,gradientType=0);/*IE8*/
    background:#333; /* 一些不支持背景渐变的浏览器 */
    background:-moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
    background:-o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.al-box ul li.active{width: 800px;}
.al-box ul li.active .shupai{display: none;}
.al-box ul li.active p{display: block;}

/*服务流程模块*/
.fw-step-box{width:1036px;height:90px;margin: 0 auto;}
.fw-step i.arrow-right{width: 38px;height: 26px;float: left;display:block;margin-top:16px;margin-left:30px;margin-right:32px;background: url("../img/arrow-right.png")/*tpa=http://www.qizuang.com/assets/home/index/img/arrow-right.png*/ no-repeat;}
.fw-step .step-item{width:88px;height:90px;float: left;}
.fw-step .step-item div{width: 56px;height: 53px;margin: 0 auto;}
.fw-step .step-item p{font-size: 18px;color: #666;text-align: center;line-height: 16px;margin-top: 20px;}
.fw-step .step-item div.yuyue{background: url("../img/yuyue.png")/*tpa=http://www.qizuang.com/assets/home/index/img/yuyue.png*/ center no-repeat;}
.fw-step .step-item div.yusuan{background: url("../img/yusuan.png")/*tpa=http://www.qizuang.com/assets/home/index/img/yusuan.png*/ center no-repeat;}
.fw-step .step-item div.hetong{background: url("../img/hetong.png")/*tpa=http://www.qizuang.com/assets/home/index/img/hetong.png*/ center no-repeat;}
.fw-step .step-item div.shigong{background: url("../img/shigong.png")/*tpa=http://www.qizuang.com/assets/home/index/img/shigong.png*/ center no-repeat;}
.fw-step .step-item div.yanshou{background: url("../img/yanshou.png")/*tpa=http://www.qizuang.com/assets/home/index/img/yanshou.png*/ center no-repeat;}
.fw-step .step-item div.shouhou{background: url("../img/shouhou.png")/*tpa=http://www.qizuang.com/assets/home/index/img/shouhou.png*/ center no-repeat;}

.why-select{width: 100%;height: 250px;background: #ff5353;margin-top: 60px;background: url("../img/why-bg.jpg")/*tpa=http://www.qizuang.com/assets/home/index/img/why-bg.jpg*/ no-repeat;background-size: auto 250px;
    background-position: center;}
.why-select .xiang-list{float: left;}
.why-select .xiang-list ul li{float: left;}
.why-select .xiang-list ul.ul-1{margin-top: 53px;margin-bottom: 29px;overflow: hidden;}
.why-select .xiang-list ul.ul-2{margin-left: 116px;}
.why-select .xiang-list ul li.li-1{margin-right: 105px;}
.why-select .xiang-list ul li.li-2{margin-right: 134px;}
.why-select .xiang-list ul li.li-3{margin-right: 90px;}
.why-select .xiang-list ul li p.xiang-list-one{font-size: 31px;color: #fff;text-align: center;line-height: 31px;margin-bottom: 12px;}
.why-select .xiang-list ul li p.xiang-list-two{font-size: 15px;color: #fff;text-align: center;line-height: 15px;}
.why-select .why-list{margin-right: 150px;float: left;}
.why-select .why-list p.why-tit{font-size: 28px;color: #fff;font-weight: bold;line-height: 28px;margin-top: 36px;}
.why-select .why-list p.why-fuwu{font-size: 22px;color: #fff;line-height: 22px;margin-top: 30px;margin-bottom: 12px;}
.why-select .why-list p.why-tip{font-size: 12px;color: #fff;text-align: center;line-height: 12px;}
.why-select .erweima-di {float: right;margin-top: 75px;margin-right: 20px;}
.why-select .weixin{margin-right: 0 !important;}
.why-select .erweima-di,.erweima-di img{width: 100px;height: 100px;}
.why-select i.fuwu-icon{width: 20px;height: 18px;margin-top:3px;display: block;float:left;margin-right:10px;background: url("../img/tiexin.png")/*tpa=http://www.qizuang.com/assets/home/index/img/tiexin.png*/ no-repeat;}
.why-select i.baozhang-icon{width: 20px;height: 24px;display: block;float:left;margin-right:10px;background: url("../img/liudabaozhang.png")/*tpa=http://www.qizuang.com/assets/home/index/img/liudabaozhang.png*/ no-repeat;}
.erweima-di p{text-align: center;color: #fff;font-size: 12px;}

.company-lunbo .bx-wrapper .bx-pager.bx-default-pager a{
    background: none;
    border:1px solid #666;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius:50%;
}
.company-lunbo .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: none !important;
    border:1px solid #ff5353;
}
.company-lunbo .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: none;
    border:1px solid #ff5353;
}

/*底部弹窗第一步*/
.footerpopup{width: 100%;height: 90px;background:url("../img/footerbgpic.png")/*tpa=http://www.qizuang.com/assets/home/index/img/footerbgpic.png*/;position: fixed;
bottom: 0;left: 0;z-index: 9;display: none;font-family: "Microsoft YaHei","微软雅黑" !important;}
.footerpopup .midcen{width: 1210px;margin: 0 auto;height: 100%;position: relative;font-size: 16px;}
.footerpopup .midcen input{text-indent:0.8em;margin-left: 24px;}
.footerpopup .midcen .shejipic{width: 239px;height: 169px;background: url("../img/footerpopuppic.png")/*tpa=http://www.qizuang.com/assets/home/index/img/footerpopuppic.png*/ no-repeat
	center center;position:absolute;top: -61px;left:95px;display: inline-block;float: left;}
.footerpopup .midcen .footerfadan{margin-left:317px;height: 169px;display: inline-block;float: left;
vertical-align: middle;}
.midcen .footerfadan .footername{width: 194px;height: 48px;border-radius: 5px;vertical-align: middle;
margin-top: 23px;margin-left: 40px;color: #333;font-family: "Microsoft YaHei","微软雅黑";}
.midcen .footerfadan .footerphone{width: 238px;height: 48px;border-radius: 5px;vertical-align: middle;
margin-top: 23px;color: #333;font-family: "Microsoft YaHei","微软雅黑";}
.midcen .footerfadan .footertj{width: 130px;height: 48px;line-height: 48px;text-align: center;background: #fdcb34;
color: #333;margin-top: 23px;border-radius: 5px;vertical-align: middle;margin-left: 24px;outline: none;
cursor: pointer;font-family: "Microsoft YaHei","微软雅黑";}
.midcen .footerfadan .footerxian{display: inline-block;height: 48px;line-height: 48px;vertical-align: middle;
color: #fdcb34;margin-top: 23px;font-weight: bold;margin-left: 24px;}
.midcen .footerfadan .footerxian span{color: #fff;}

/*底部弹窗第二步*/

.footerpopup2{width: 100%;height: 90px;background:rgba(0,0,0,0.7);position: fixed;
bottom: 0;left: 0;z-index: 9;display: none;font-family: "Microsoft YaHei","微软雅黑" !important;}
.footerpopup2 .cenzhongjian{width: 1210px;margin: 0 auto;height: 100%;position: relative;font-size: 16px;
text-align: center;position: relative;}
.cenzhongjian .zhongjiangx{font-size: 20px;font-weight: bold;color:#fdcb34;}
.cenzhongjian .footerhuo{color: #fdcb34;font-size: 16px;margin: 5px 0;}
.cenzhongjian .footerhuo span{display: inline-block;width: 15px;height: 15px;border: 1px solid #fdcb34;
text-align: center;line-height: 15px;border-radius: 50%;margin-left: 25px;margin-right: 5px;}
.cenzhongjian .footshao{color: #fff;font-size: 14px;}
.cenzhongjian .footerclose{width: 20px;height: 20px;line-height: 18px;text-align: center;border: 1px solid #fdcb34;
border-radius: 50%;display: inline-block;color: #fdcb34;position: absolute;top: 6px;right: 240px;
cursor: pointer;}





/*新增装修视频版块 20180903*/
.video-container{height: 478px; border:1px solid #F2F2F2;}
.pay-area{width:721px; height: 100%; position: relative}
.pay-area .playIcon{position: absolute;width:72px; height: 72px; margin:auto; left: 0px; right:0px; top:0px; bottom: 0px;}
.pay-area  .cover-img{width:100%; height: 100%}
.video-list-box{width:448px; margin-left: 20px;}
.video-list-box li{height: 119px; display:table; border-bottom: 1px solid #F2F2F2; cursor: pointer;}
.video-list-box li div{display:table-cell; vertical-align:middle;}
.video-list-box li a{color:inherit;}
.video-list-box li .video-icon{width: 180px;height:100px;}
.video-list-box li .video-icon img{height: 100px; width:180px; margin-top:4px;}
.video-list-box li .video-text{width:240px; padding-top:10px; padding-left:16px;}
.video-list-box li .video-text h3{font-size: 18px; color:#333; font-size: 16px; font-weight: normal;}
.video-list-box li .video-text p{font-size:14px; color:#999; line-height: 22px;
    height: 34px; overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.video-list-box li .video-text a:hover{color:#ff5353;}
.video-icon{position: relative}
.video-icon .playIcon{width:32px !important; height: 32px !important; position: absolute; left:0px; right: 0px; top:38px; bottom:0px; margin:auto;}


/*滚动信息*/
.g-msg {
    width: 16%;
    position: fixed;
    top: 175px;
    left: 0;
    height: 36px;
    line-height: 36px;
    z-index: 2;
}
.g-msg .msg {
    width: 250px;
    position: absolute;
    top: 50px;
    background-color: rgba(0,0,0,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000,endColorstr=#AA000000);
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    color: #fff;
    overflow: hidden;
    display: none;
}
:root .g-msg .msg {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
}
.msg img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin:0 1.2%;
    margin-top: .9%;
    float: left;
}
