/*
* @Author: qz_xsc
* @Date:   2017-12-07 15:19:33
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-05-28 11:54:57
*/
.pub-nav{
background: #49494C !important;

}
input{line-height: 35px !important; height: 35px !important;}
select{padding:8px 3px !important; height: 35px !important;}
.pub-nav .nav li:hover:before{content: ""; display:none !important;}
/*ie9首页背景兼容*/
.windowbg{filter:alpha(opacity=70) !important;background: rgba(0,0,0,1) !important;background: #000 !important;}
/*ie9首页背景兼容*/
/*ie8、9单独背景兼容*/
#iewin_box_bg{filter:alpha(opacity=70) !important;background: rgba(0,0,0,1) !important;background: #000 !important;}
.iewin_box_bg{filter:alpha(opacity=60) !important;background: rgba(0,0,0,1) !important;background: #000 !important;}
/*ie8、9单独背景兼容*/
.win_box .win_box_bg{background: #000 !important;filter:alpha(opacity=70) !important;background: rgba(0,0,0,1) !important;}
.hl_step_radius span i div{position:absolute;font-size: 32px;font-family:"Microsoft YaHei"; width:40px; height: 40px; color:#fff; top:3px;left:1px; text-align: center; line-height: 40px;}
.huanglilu{position: absolute;left: 50px;top: 450px;}
.pc_ie_baike li{border:1px solid #e6e6e6; background: white;float: left;width:25%;margin-left: -2px; margin-bottom:30px; height: 600px; overflow-y: auto}
.for_ie_bg{background: url("images/bg_forie.png")/*tpa=http://www.qizuang.com/assets/home/ie/images/bg_forie.png*/;}
.foottc{background: url("images/bg_forie.png")/*tpa=http://www.qizuang.com/assets/home/ie/images/bg_forie.png*/;}
.for_ie8{overflow: hidden;}
.for_ie8 span{float: left;}
.for_ie8 input{float: left;}
.for_ie8 select{float: left;}
.for_ie8 button{float:left;}
.tijiao_forie{position: absolute; width: 134px; height: 134px; display: inline-block;position: absolute;top: 0;bottom: 0;margin:auto;left: 600px;cursor: pointer; text-align: center; background:url("images/go_calc_btn.gif")/*tpa=http://www.qizuang.com/assets/home/ie/images/go_calc_btn.gif*/;  }
.tijiao_forie .inner_box{height: 100%; position: relative; left: 0px;top:0px;}
.tijiao_forie .inner_box .level_1{color:#f5d4d4;font-size: 120px;width:120px; height:120px;}
.tijiao_forie .inner_box .level_2{color: #ff5353; font-size: 90px; width:90px; height:90px;}
.tijiao_forie span{position: absolute; display:block; margin:auto; top:0px; left:0px; right:0px; bottom:0px;}
.foot_ie{display: none !important; }
.tijiao_forie .inner_box .level_3{font-size: 15px; color:#fff; padding-top: 25px; line-height: 20px; font-family: "Microsoft YaHei"}
.input_forie input{padding:0px 5px !important;}
.video_ie_play .video-icon{display: none}
.video_ie_play .fa-play-circle-o{
    display: block!important;
    position: absolute;
    left: 104px;
    top: 38px;
    z-index: 9999;
    color:#868690;
    font-size: 100px;
    opacity: 0.5;
    filter:alpha(opacity=50);

}
.video_ie_play li:hover .fa-play-circle-o{
    color:#fff;
}
.waterfull .for_ie8 li .li-title:before{content:"" !important; display: none !important;}
.left_fixed_menu{left: 120px;}
.no_shdow{border:1px solid #DEDEDE;}
.touying_ie{
    height: 40px;
    bottom:0px !important;

}