.bread{font-size: 12px;}
.atl-body{overflow: hidden;}
.atl-left{float: left;width: 932px;position: relative;}
.atl-right{float: right;width: 258px;position: relative;}
/*装修报价*/
.atl-baojia{
    width: 932px;height: 290px;
    background-color: #fff;
    margin-top: 40px;
    border: 1px solid #e3e3e3;
    border-top: 0;
    overflow: hidden;
    position: relative;
}
.atl-baojia::before{content: '';
    width: 262px;height: 1px;
    background: #e3e3e3;
    position: absolute;
    left: 0;top: 0;
}
.atl-baojia::after{content: '';
    width: 262px;height: 1px;
    background: #e3e3e3;
    position: absolute;
    right: 0;top: 0;
}
.baojia-tit{
    width: 940px;height:auto;
    text-align: center;font-size: 30px;
    color: #dfb774;
    position: absolute;
    left: 0;top: 10px;
    z-index: 1;
}
.atl-baojia .error-info{color: #de4349;}
.atl-baojia .focus {
    border: 1px solid #DE4349 !important;
}

.baojia-tit,.baojia-tit span{font-style: normal;font-weight: 600;}
.baojia-tit span{margin: 0 5px;}
.baojia-tit span{font-size: 36px;color: #ff5353;margin-left: 13px;}
.baojia-box{margin: 40px auto 40px 57px;}
.baojia-value,.baojia-btn,.baojia-result{float: left;}
.baojia-value{-webkit-box-shadow:0 0 10px rgba(234, 234, 234, .5);
  -moz-box-shadow:0 0 10px rgba(234, 234, 234, .5);
  box-shadow:0 0 10px rgba(234, 234, 234, .5);
padding:20px;box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;}
.miaosuan{text-align: center;font-size: 18px;color: #333;margin-bottom: 10px;line-height: 20px;}
.miaosuan span{color: #ff5353;font-size: 26px;}
.house-input input ,.tel-num input{
    width: 248px;height: 36px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.house-input,.city-sel{margin-bottom: 10px;}
.house-input {position: relative;}
.house-input .order-icon{position: absolute; right:8px; top:10px;}
.city-sel select{
    width: 119px;height: 36px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.city-sel select:first-child{margin-right: 6px;}
.baojia-btn{
    width: 104px;height: 104px;
    display: block;
    /*background: url(../img/btn-img.png) no-repeat;*/
    background-size: 100%;
    /*overflow: hidden;*/
    margin: 45px  56px auto 56px;
}
.baojia-btn a {
    width: 88px;
    height: 88px;
    margin-left: 7.5px;
    margin-top: 6.5px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ff5353;
    text-align: center;
    overflow: hidden;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -webkit-box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -moz-box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}
.baojia-btn a:hover {background-color: #f25b5b;}
.baojia-btn a:active {
    margin-top: 7.5px;
    box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
    -webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
    -moz-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
}
.baojia-btn a:active i {margin-top: 14px;}
.baojia-btn a i {
    display: block;
    color: #fff;
    margin-top: 24px;
    font-size: 19px;
    line-height: 20px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.baojia-result{width: 334px;padding: 10px 20px;box-sizing: border-box; -webkit-box-shadow:0 0 10px rgba(234, 234, 234, .5);
  -moz-box-shadow:0 0 10px rgba(234, 234, 234, .5);
  box-shadow:0 0 10px rgba(234, 234, 234, .5); }
.result-all{color: #333;font-size: 18px;line-height: 20px;text-align: center;margin-bottom: 16px;}
.money-img{
    height: 40px;
    margin-top: 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 6px;
}
.num{
    width: 16px;
    height: 28px;
    background: url("../img/num.png")/*tpa=http://www.qizuang.com/assets/home/article/img/num.png*/ no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.result-all p .result-all-val{color: #f26122;font-size: 26px;margin: 0 6px;}
.result-item{width:100%;overflow: hidden;}
.result-item div{float: left;font-size: 14px;float: right;}
.result-item div:first-child{margin-right: 20px;float: left;}
.result-item div span.result-item-val {font-size: 16px;line-height: 32px;}
.result-item-val{display: inline-block;}
.result-item-left{width: auto;}

.atl-main {
    width: 932px;
    border: 1px solid #E3E3E3;
    margin: 30px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.gl_tle h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    font-family: "Microsoft Yahei";
}
.gl_tle {padding: 14px 15px 5px 15px;}
.gl_tm .gl_xh,.gl_tm .gl_sc {
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0px;
    margin-top: -10px;
}
.gl_tm .gl_xh {color: #FF7170;border: 1px solid #FF7170;}
.gl_tm .gl_xh:hover, .gl_tm .gl_xh.active {background-color: #FF7170;color: #fff;}
.gl_tm .gl_sc:hover{color: #fff;background-color: #FFC46D;}
.gl_tm .gl_sc {color: #FEC56E;border: 1px solid#FEC56E;margin-left: 8px;}
.gl_tm .gl_sc.active{color:#fff; background:#FEC56E; }
.gl_tm {padding-left: 15px;height: 32px;}
.gl_tm span {display: inline-block;float: left;color: #8d8d8d;margin-right: 25px;}
.gl_tm .gl_fx {display: inline-block;margin-left: -15px;margin-top: -3px;}
.gl_tm .gl_d {float: right;margin-right: 15px;}
.gl_works {text-align: center;}
.gl_works a{color: #dc4146;text-decoration: none;}
.works_subtitle {padding: 16px 15px 0;font-family: "Microsoft Yahei";}
.works_subtitle p {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    font-size: 14px;
    font-style: italic;
    color: #8d8d8d;
    text-align: left;
    margin-bottom: 20px;
}
.works_p {margin: 0 15px;font-size: 16px;text-align: left;}
.gl_works p {text-align: left;color: #333;line-height: 28px;margin-bottom: 10px;}
/*上一篇下一篇模块*/
.gl_tb{overflow: hidden;}
.prev{float: left;overflow: hidden;}
.next{float: right;overflow: hidden;}
.prev-btn{
    font-size: 50px;
    float: left;
    margin-right: 30px;
    line-height: 88px;
    overflow: hidden;
}
.next-btn{
    font-size: 50px;
    float: right;
    margin-left: 30px;
    line-height: 88px;
    overflow: hidden;
}
.prev-img{float: left;}
.next-img{float: right;}

.prev-img,.next-img{width: 124px;height: 88px;}
.prev-img img,.next-img img{width: 100%;height: 100%;}

.prev-info{width: 226px;margin-left: 10px;float: left;text-align: left;}
.next-info{width: 226px;margin-right: 10px;float: right;text-align: right;}

.prev-info p,.next-info p{font-size: 18px;color: #333;}
.prev-info a,.next-info a{font-size: 14px;color: #999;}

/*其他相关文章模块*/
.atl-other{
    width: 932px;height: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    margin-top: 30px;
}
.atl-other-box{padding: 26px 16px 0 16px;}
.atl-other-tit{
    font-size: 22px;
    color: #333;
    line-height: 20px;
    margin-bottom: 12px;
}
.atl-other-tit i.red-block{
    width: 4px;height: 20px;
    background-color: #ff5659;
    display: block;float: left;
    margin-right: 10px;
}
.atl-other-item{
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
}
.atl-other-item:last-child{border: 0;}
.other-item-img{width: 156px;height: 127px;float: left;overflow: hidden;}
.other-item-img img{height: auto;}
.other-item-main{width: 727px;float: left; margin-left: 15px;}
.other-item-tit{color: #333;font-size: 18px;font-weight: 800;line-height: 18px;}
.other-item-info{height: 46px;color: #999;font-size: 14px;margin: 16px 0 15px 0;overflow: hidden;}
.other-item-ref{color: #999;font-size: 14px;}
.other-item-ref .add{float: left;}
.other-item-ref .time{float: right;margin-right: 12px;}

/*广告图片*/
.sp_hf {height: 120px;width: 930px;margin: 20px 0;}

/*评论区模块*/
.tk-l {width: 930px;height: auto;float: left;}
.tk-l .tk-rel {width: 928px;height: 236px;border: 1px solid #e3e3e3;}
.tk-l .tk-rel .rel-top { width: 898px;height: 206px;margin: 0 auto;margin-top: 13px;font-family: "Microsoft YaHei";}
.rel-top .rel_topic p.h1 {font-size: 20px;float: left;font-weight: normal;}
.rel-top .rel_topic span {font-size: 12px;float: right;margin-top: 12px;}
.rel-top .rel_text textarea {
    width: 888px;
    height: 74px;
    padding: 5px 0 0 8px;
    border: 1px solid #dcd8d9;
    resize: none;
    outline: none;
    margin-top: 6px;
}
.rel-top .rel_note {margin-top: 2px;font-family: "simsun";}
.rel-top .rel_note span {color: #999;}
.rel-top .rel_note span:first-child {float: left;margin-left: 12px;}
.rel-top .rel_note span:last-child {float: right;margin-right: 12px;}
.rel_login {margin-top: 17px;position: relative;font-family: "simsun";}
.rel_login input {width: 186px;height: 34px;padding-left: 8px;border: 1px solid #dcd8d9;float: left;}
.rel_login input:first-child {margin-right: 20px;}
.rel_login .login_k_acc {position: absolute;top: 36px;left: 8px;display: none;}
.rel_login .login_k_pass { position: absolute;top: 36px;left: 225px;display: none;}
.redcolor {color: #ff5353!important;}
.rel_login .login_pass {float: left;margin-top: 8px;margin-left: 15px;}
.rel_login .login_hezuo { margin-left: 20px;float: left;}
.rel_login .login_pass a {color: #989898;}
.rel_login .login_hezuo li {float: left;color: #666666;margin-right: 10px;line-height: 34px;}
.rel_login .login_hezuo li a {
    width: 29px;
    height: 29px;
    margin-top: 3px;
    display: inline-block;
    background: url("../../zixun/img/hezuo.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/hezuo.png*/ no-repeat 0 0;
}
.login_hezuo li .hezuo_xinlang {background-position: 0 -29px!important;}
.login_hezuo li .hezuo_weixin {background-position: 0 -58px!important;}
.rel_login .login_btn {
    float: right;
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.bgcolor {background: #ff5353!important;}
.tk-list .list-mod {
    width: 928px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #e3e3e3;
}
.list-mod .mod-main {width: 898px;margin: 0 auto;}
.list-mod .mod-main .main-msg {
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: "Microsoft YaHei";
    border-bottom: 1px dashed #ccc;
}
.list-mod .mod-main .main-msg:last-child {border-bottom: none;}
.main-msg .rel_form {display: none;}
.main-msg .other_reply {position: relative;margin-top: 11px;}
.main-msg .other_reply i.top_icon {
    position: absolute;
    top: -4px;
    right: 6px;
    width: 8px;
    height: 8px;
    background: #fff;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform: rotate(45deg);
    display: block;
}
.main-msg .other_reply textarea {
    width: 888px;
    height: 73px;
    border: 1px solid #dcd8d9;
    padding-left: 10px;
    padding-top: 5px;
    outline: none;
    resize: none;
}
.rel_login {margin-top: 17px;position: relative;font-family: "simsun";}
.pl_more p {
    text-align: right;
    color: #666;
    font-size: 14px;
    font-family: Microsoft Yahei;
    cursor: pointer;
}
.mod-main .main-msg .user_t .user_img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.main-msg .user_t .user_name {
    float: left;
    margin-left: 9px;
    line-height: 50px;
    font-size: 14px;
}
.mod-main .main-msg .user_t .user_time {float: right;line-height: 50px;color: #999999;}
.main-msg .user_m p {margin-left: 59px;color: #666666;}
.main-msg .user_m .user_m_res {
    float: right;
    margin-top: 10px;
}
.main-msg .user_m .user_m_res i {
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}
.main-msg .user_m .user_m_res i {
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}
.main-msg .user_m .user_m_res b {
    font-weight: normal;
    cursor: pointer;
    margin-left: 20px;
}

/*右边 最新文章*/
.atl-new, .atl-hot{
    margin-bottom: 10px;
}
.atl-hot{margin-top: 10px;}
.atl-new-head,.atl-hot-head{
    color: #333;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
}
.atl-new-item:first-child{padding-top: 0;}
.mark{
    width: 16px;
    float: left;
    text-align: center;
    position: relative;
}
.atl-new-item:nth-child(1) .mark span, .atl-new-item:nth-child(2) .mark span ,.atl-new-item:nth-child(3) .mark span{
    font-size: 22px;
    margin-left: .5px;
    margin-top: 4px;
    line-height: 20px;
    color: #f4a261;
}
.atl-new-item:nth-child(1) .mark:before ,.atl-new-item:nth-child(2) .mark:before,.atl-new-item:nth-child(3) .mark:before{
    content: '';
    width: 16px;
    height: 11px;
    background: #f4a261;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.mark:before{
    content: '';
    width: 16px;
    height: 11px;
    background: #ccc;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.mark span{
    font-size: 22px;
    margin-left: .5px;
    margin-top: 4px;
    line-height: 20px;
    color: #ccc;
}
.mark span i{
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: 4px;
    top: 0;
}
.atl-new-item{padding-top: 10px;padding-bottom: 10px;border-bottom: 1px dashed #ccc;overflow: hidden;}
.atl-new-img{
    width: 83px;height: 66px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    display: none;
    overflow: hidden;
}
.new-item-long{font-size: 14px;float: left;margin-left: 10px;}
.atl-new-img img{width: 100%;height: auto;}
.atl-new-item .atl-new-main{margin-left: 26px;display: none;}
.atl-new-tit{font-size: 14px;color: #333;}
.atl-new-info{color: #999;}
.current{display: block !important;}
.hide{display: none;}
.actived{
    height: 66px;
    background: #e76f51;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.baojia-sheji,.jiri{margin: 20px 0;}

/*热门文章*/
.atl-hot-item{margin-top: 10px;padding-bottom: 10px;border-bottom: 1px dashed #ccc;overflow: hidden;}
.atl-hot-img{width: 92px;height: 64px;float: left;overflow: hidden;}
.atl-hot-img img{height: auto;}
.atl-hot-info{color: #333;margin-left: 102px;font-size: 14px;}

/*测算吉日*/
.gl_box_form {
    width: 258px;
    height: auto;
    background: #FFD181;
    overflow: hidden;
    position: relative;
}
.gl_box_form .gl_item {padding: 0;width: 258px;}
.gl_box_form .gl_item .gl_t {
    text-align: center;
    font-size: 15px;
    font-family: microsoft yahei;
    padding: 15px 0 5px;
}
.gl_box_form .gl_t_box {padding: 0 15px;}
.gl_box_form .gl_item .gl_t span {
    display: block;
    color: #A94200;
    font-weight: 600;
    font-size: 15px;
}
.gl_box_form .gl_item .gl_t span i {color: #FE5552;}
.gl_box_form .gl_t_box .inputs, .gl_vb {
    margin-bottom: 10px;
    background: inherit;
    color: #FFF;
    height: 35px;
    font-size: 12px;
}
.gl_t_box .inputs input[type=text] {
    height: 33px;
    border: 1px solid #DAD9D7;
    width: 221px;
    padding-left: 5px;
    color: #666;
    color: #666;
}
.gl_t_box .inputs select {
    color: #000;
    height: 33px;
    padding: 5px;
    width: 228px;
    border: 1px solid #DAD9D7;
    float: left;
    color: #666;
}
.gl_vb select {
    width: 108px;
    margin-bottom: 10px;
    height: 35px;
    color: #666;
    font-size: 12px;
    border: 1px solid #DAD9D7;
}
.gl_right {float: right!important;}
.gl_t_box button {
    width: 228px;
    height: 35px;
    background-color: #FF7A01;
    color: #fff;
    border-radius: 5px;
    font-family: SimHei;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.article_menu_box{ border:1px solid #e6e6e6; width:930px; margin-top:20px;}

.article_menu_box .list-head ul{
    overflow: hidden;
    padding: 10px 30px 0px 30px;
    position: relative;
}
.article_menu_box .list-head ul li{
    float: left;
    font-size: 16px;
    margin: 0px 15px;
    cursor: pointer;
}
.article_menu_box .list-head ul li span{
    display: block;
    text-align: center;
    margin-bottom: -9px;
}

.article_menu_box .gray-back{
    background:#F2F2F2;
    padding:10px 35px;
}
.article_menu_box .gray-back .back_item{display: none;}
.item_active{display: block !important;}
.article_menu_box .gray-back a{font-size: 14px; padding:5px 10px; display: inline-block;}

.article_menu_box .list-head ul li i{
    display: block;
    display: none;
}
.head-active{
    color: #ff5353;
    border-bottom: 2px solid #ff5353;
}
.head-active a{
    color:#ff5353!important;
}
.head-active a:hover{
    color:#ff5353!important;
}
.head-active div{display: block !important;}

.article_menu_box .list-head .head-active i{
    display: block !important;
}
.miaosuan_mz{margin-top:20px;}