@font-face {
  font-family: 'iconfont';  /* project id 650221 */
  src: url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot*/;
  src: url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot-#iefix")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot?#iefix*/ format('embedded-opentype'),
  url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.woff")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.woff*/ format('woff'),
  url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.ttf")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.ttf*/ format('truetype'),
  url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.svg#iconfont")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.svg#iconfont*/ format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.lun_box{height: 340px; position: relative; overflow: hidden; margin-bottom:31px;}
.lun_box li{
	position: absolute;
	color: #fff;
	font-size: 50px;
	display: none;
}
.lun_box li a{
    display: block; position: relative;
    height: 100%; overflow: hidden;
}
.curr img{width: 100%}
.lun_box li a .banner_title{
    color: #fff; text-align: center; bottom:9px; font-size: 22px; position: absolute;width: 100%;
    z-index: 10; display: none;
}
.curr .banner_title{display: block !important;}
.lun_box li img{height: 100%; overflow:hidden;}
.btn_banner{position: absolute; z-index: 10; width:140px; height: 300px; top:20px; background: rgba(0,0,0,0.6); text-align: center; line-height: 300px;cursor: pointer; color:#fff;}
.btn_banner i{font-size: 56px!important}
.btn_banner i:hover{color:#ff5353;}
.next_banner{right: 0px; }
.prev_banner{left:0px;}
.shadow_box {
    width: 100%;
    height: 1px;
    bottom: -1px;
    box-shadow: 0 0 80px 20px #000;
    z-index: 9;
    position: absolute;
}
.curr{z-index:9;}
.next, .prev{z-index: 3}