.sort-box .sort-box-tit{display: none;}
.sort-box .sort-box-list .list-mod{background: #fff;height: 100%;display: inline-block;
height: 50px;line-height: 50px;border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;}
.sort-box .sort-box-list .list-mod p{display: inline-block;
	background: url("../img/zhunavbj02.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/zhunavbj02.png*/ no-repeat center bottom;position: relative;bottom: -1px;}
.sort-box .sort-box-list{border-top: 0;}
.redcolor{color: #ff5353;}
.redcolor.a:hover{color: #ff5353 !important;}
a:hover{color: #ff5353 !important;}
.sort-box .sort-box-list ul li{height: 44px;line-height: 44px;margin:0;font-size: 14px;}