/* 轮播图 */
::-moz-placeholder { color: #999; font-family: "Microsoft Yahei"; }
::-webkit-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }
:-ms-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }
.play {
	height: 316px;
	position: relative;
	/*background: #ebd9cd;*/
}
.zxgl-slide {
	max-width: 1920px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	background-position:center;
	background-size:cover
}
#show {
	position: relative;
	height: 316px;
	width: 1210px;
	margin: 0 auto;
	overflow:hidden
}
#show.img ul a {
	float: left;
	display: inline;
}
#show .img {
	width: 864px;
	height: 316px;
	float: left;
	overflow: hidden;
}
#show .img ul{
	position: absolute;
	width: 864px;
	display: block;
}
#show .img ul li img{
	width:100%;
	height:100%;
}
#show .btns {
	z-index: 10;
	width: 1210px;
	margin:0 auto;
	position:absolute;
	left: 598px;
	top: 55px;
	z-index: 9999999999;
}
#show .btns ul {
	position: absolute;
	width: 80px;
	display: block;
	overflow: hidden;
	top: 230px;
	left: 1018px;
}
#show .btns ul li {
	width: 12px;
	float: left;
	overflow: hidden;
	cursor: pointer;
	color:#b4b4b4;
	font-size: 14px;
	margin-right: 12px;
}

#show .btns ul  .on {
	color: #ff5659;
	cursor: pointer;
}
#show .btns ul li:hover {
	color: #ff5659;
	cursor: default
}
#show .ctrl-slide {
	position: absolute;
	width: 38px;
	height: 86px;
	overflow: hidden;
	top: 118px;
	cursor: pointer;
	opacity:.5;
}
#show .ctrl-slide i {
	display: block;
	width: 38px;
	height: 86px;
	background: url("../img/btn_show.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/btn_show.png*/ no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="/assets/home/zixun/img/btn_show.png");
	_background: none;
}
#show .prev {
	left: 0;
}
#show .next {
	right: 0;
}
#show .next i{
	background-position: 0 -86px;
}
#show .ctrl-slide:hover{
	opacity:0.8;
}
.slide-wrapper li{
	width:1210px;
}
.slide-img{
	width:864px;
	height:316px;
	display:block;
	float:left;
	overflow: hidden;
}
.slide-topic{
	float:right;
	width:346px;
	height:316px;
	background:#fff1e6;
	position:relative;
}
.slide-topic a{
	cursor: pointer;
	margin-left: 15px;
}
.slide-topic .slide-topic-tit{
	margin: 53px 30px 0px 30px;
	text-align: center;
	font-size: 18px;
	font-family: "Microsoft YaHei";
}
.slide-topic .slide-topic-text{
	width: 266px;
	margin:30px auto;
	color: #646567;
	font-size: 13px;
	font-family: "Microsoft YaHei";
}
.slide-topic-sort{
	position: absolute;
	left: 915px;
	top: 236px;
	text-align: center;
	color: #646567;
}
.slide-topic-sort a{
	margin-left: 18px;
	color: #646567;

}
.touming{
	width:346px;
	height:316px;
	background: rgba(255,255,255,0.4);
	position: absolute;
	left: 864px;
	top:0;
	z-index: -1;
}
/*top标题*/
.zxgl-step-tit{margin-top: 40px; }
.box-tit {
	padding-bottom: 13px;
	overflow: hidden;
}
.box-tit .more {
	float: right;
	margin-top: 18px;
	margin-right: 15px;
}
.box-tit .tit {
	float: left;
	font-size: 30px;
	font-family: "Microsoft Yahei";
	margin-right: 10px;
}
.box-tit ul{
	margin-left: 30px;
	margin-top: 20px;
	display: inline-block;
}
.box-tit ul li{
	float: left;
	margin-right: 30px;
	cursor: pointer;
	font-size: 12px;
}
.box-tit .line{
	width: 774px;
    border-bottom: 1px solid #ccc;
    float: right;
    margin-top: 30px;
}
/*装修流程*/
.zxgl-step-tit .box-tit span{
	display: inline-block;
	margin-top: 19px;
}
	/*装修左边*/
.show{display: block !important;}
.clearfix::before{content: "";clear: both;}
.clearfix::after{content: "";clear: both;}
.box{
	width: 1210px;
	height:auto;
	margin:42px auto;
	position: relative;
}
.box .box-left{width: 800px;float:left;}
.box .box-left .box-tit,
.box .box-right .box-tit{margin-top: 0;}
.box .shuxian{
	position:absolute;
	top:20px;
	left: 800px;
	height: 1226px;
	border-right: 1px dashed #ccc;
}
.box .box-right{
	width:390px;
	height:600px;
	float: right;
}
.box-main{
	margin-top: 10px;
	margin-bottom: 30px;
}
.box-main .news-list .news-pic{
	width: 410px;
	height: 320px;
	float: left;
	position: relative;
	overflow: hidden;
}
.box-main .news-list .news-pic img{
	width: 100%;
	height: 100%;
}
.box-main .news-list .news-pic a span{
	display: block;
	font-size: 18px;
	width: 410px;
	height: 52px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0px;
	font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 52px;
    color: #fff;
}
.details{
	width: 350px;
	margin-left: 20px;
	float: left;
}
.details .details_topic{
	margin-bottom: 25px;
}
.details .details_topic .deta_content{
	margin-top: 5px;
	margin-left: 13px;
	color: #666;
	display: none;
}
.details .details_topic .grouptitle{
	height: 20px;
}
.details .details_topic .grouptitle a{
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #000;
	transition: all 0.3s ease;
}
.details .details_topic .grouptitle:hover a{
	font-size: 15px;
}
.details .details_topic .grouptitle .icon_point{
	width: 5px;
	height: 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	display: inline-block;
	border-radius:2px;
	background: #989898;
}
/*装修右边*/
.box .box-right .more{margin-right: 0;}
.ask_lists ul{margin-top: 10px;}
.ask_lists li{
	width: 385px;
	display: block;
	font-size: 12px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px dashed #ccc;
}
.ask_lists ul li a{
	color: #000;
	font-size:14px;
	font-family: "Microsoft YaHei";
	line-height: 22px;
	font-weight: 400;
	transition: all 0.3s ease;
}
.ask_lists ul li a:hover{font-size: 17px;}
.ask_lists ul li div{margin-bottom: 5px;}
.ask_lists ul li div i{
	float: left;
	width: 24px;
	height:22px;
	background:url("../img/ask-list.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/ask-list.png*/ repeat 0 0px;
    margin-right: 6px;
}
.ask_lists ul li .answer i{background-position: 0 -22px;}
.ask_lists ul li .answer span{color: #666;}

.ask-at{
	width: 410px;
	height: 134px;
	margin:45px 0;
}
.ask-at img{
	float: left;
}
.ask-at .ask-btn{
	float: left;
	margin-top:40px;
	margin-left:25px;
	width: 118px;
	height: 35px;
	display:block;
	background:#ff5659;
	border-radius:4px;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	cursor: pointer;
}

/*装修日记*/
.zxrj{margin-top: 5px;}
.zxrj ul li{
	height:auto;
	position: relative;
	margin-bottom: 6px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 3px;
}
.zxrj ul li:last-child{
	border-bottom: none;
}
.setHeight{height: 110px !important;}
.zxrj ul li .rj-tit{
	font-size: 14px;
	color: #000;
	line-height: 30px;
	font-family: "Microsoft Yahei";
	transition: all 0.3s ease;
}
.zxrj ul li .rj-con{
	display: none;
	height: 110px;
}
.zxrj ul li .rj-tit i{
	width: 14px;
	height: 18px;
	display: block;
	float: left;margin: 5px;
	background: url("../img/rj-icon.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/rj-icon.png*/ no-repeat;
}
.zxrj ul li .rj-pic{
	height:104px;
	width:104px;
	display: block;
	float: left;
}
.zxrj ul li .rj-pic img{
	width: 100%;
	height:100%;
}
.zxrj ul li .rj-main{
	width: 256px;
	margin-left: 15px;
	margin-top: 5px;
	float: left;
}
.zxrj ul li .rj-view{
	position: absolute;
	left: 332px;
	top:80px;
}
.zxrj ul li .rj-view span{margin-left: 10px;}
.zxrj ul li .rj-main a{
	height: 20px;
	display: block;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color:#000;
	transition: all 0.3s ease;
}
.zxrj ul li .rj-main p{
	font-size: 12px;
	width: 265px;
	margin-top:10px;
	color: #666;
}

/*装修讲堂、头条视频*/
.zx-video{
	width: 1210px;
	height: 248px;
}
.zxjt,
.zxtt{
	width: 590px;
	height: 248px;
	float: left;
}
.zxjt{margin-right: 30px;}
.zxjt .box-tit .more,
.zxtt .box-tit .more{margin-right: 0;}
.zxjt .box-tit,
.zxtt .box-tit{margin-top: 0;}
.video{margin-top: 10px;}
.video ul li{
	width:285px;
	height:173px;
	position: relative;
	overflow: hidden;
}
.video ul li:first-child{
	margin-right: 20px;
	float: left;
}
.video ul li:last-child{
	float: right;
}
.video ul li p{
	display: block;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #fff;
	position: absolute;
	left:10px;
	bottom:10px;
}
.video ul li p span{margin-left: 20px;}
.video ul li .mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	top:0;
	display: none;
}
.video ul li i.video-icon{
	width: 65px;
    height: 65px;
    border: 5px solid rgba(156,156,156,0.6);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 104px;
    top: 48px;
	z-index: 9999;
}
.video ul li i.fa-play-circle-o{display: none;}
.video ul li img{
	width: 101%;
	height: 101%;
}
.video ul li i::after{
	content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 29px;
    border-color: transparent transparent transparent rgba(156,156,156,0.6);
    position: absolute;
    left: 23px;
    top: 17px;
}
.video ul li:hover i::after{
	content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 29px;
    border-color: transparent transparent transparent rgba(255,255,255,0.8);
    position: absolute;
    left: 22px;
    top: 17px;
}
.video ul li:hover i{
	border: 5px solid rgba(255,255,255,0.8);
}
.video ul li:hover .mask{display: block;}
.video ul li:hover p{display: none;}


/*装修流程*/
.study_wrap{
	width: 1239px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
	font-family: "Microsoft YaHei";
}
.study_wrap h2{
	text-align: center;
	font-size:18px;
}
.study_wrap h2 strong{
	font-size:36px;
	display: inline-block;
	line-height: 60px;
	color: #333;
}
.study_wrap .step{
	width: 410px;
	height: 428px;
	float: left;
	position: relative;
	transition:all 0.6s ease-in-out;
	cursor: pointer;
}
.study_wrap .step p{
	font-size: 24px;
	text-align: center;
}
.study_wrap .step_3{
	margin-right: 0;
}
.study_wrap .step dt{
	width: 390px;
	height: 186px;
	text-align:center;
	color: #FFF;
	font-size:14px;
	padding-top: 20px;
	position: relative;
}
.study_wrap .step dt i{
	display: block;
	position: absolute;
	width: 69px;
	height: 69px;
	border-radius: 50%;
	overflow: hidden;
	top:80px;
	right: -44px;
	background: url("../img/zx-step.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/zx-step.png*/ no-repeat;
}
.study_wrap .step dt strong{
	display: block;
	line-height: 40px;
	font-size: 28px;
}
.study_wrap .step_1{ z-index: 3;}
.study_wrap .step_2{ z-index: 2;}
.study_wrap .step_3{ z-index: 1;}
.study_wrap .step_1 dt{
	background: url("../img/pic1.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/pic1.png*/ no-repeat 0 bottom #fdb676;
}
.study_wrap .step_2 dt{
	background: url("../img/pic2.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/pic2.png*/ no-repeat 0 bottom #f1b030;
}
.study_wrap .step_3 dt{
	background: url("../img/pic3.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/pic3.png*/ no-repeat 0 bottom #e7811f;
}
.study_wrap .step_1 dd{
	width: 388px;
	height: 221px;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0;
}
.study_wrap .step_1 dd a{
	float: left;
	display: block;
	width: 96px;
	height: 151px;
	padding-top: 70px;
	background: #fff;
	text-align: center;
	color: #999;
	border-right: 1px dashed #ddd;
	transition: all 0.5s ease 0s;
	position:relative;
}
.study_wrap .step_1 dd a.last{ border-right: 1px solid #fff;}
.study_wrap .step_1 dd a em{
	transition: all 0.2s linear 0s;
	display: inline-block;
}
.study_wrap .step_1:hover dd a.last{
	border-right: none;
}

.study_wrap .step dd a:hover{ background: #fff;}
.study_wrap .step:hover dd a em{color: #fff;}
.study_wrap .step:hover dd a:hover em{color: #000;}
.study_wrap .step:hover dd a:hover{background: #fff;}

.study_wrap .step_1 dd a i.def1{background-position:-52px 0px;}
.study_wrap .step_1 dd a i.def2{background-position:-52px -44px;}
.study_wrap .step_1 dd a i.def3{background-position:-55px -89px;}
.study_wrap .step_1 dd a i.def4{background-position:-49px -135px;}

.study_wrap .step_1:hover dd a i.def1{background-position: 0px 0px;}
.study_wrap .step_1:hover dd a i.def2{background-position: 0px -44px;}
.study_wrap .step_1:hover dd a i.def3{background-position: -3px -89px;}
.study_wrap .step_1:hover dd a i.def4{background-position: 3px -135px;}


.study_wrap .step_1:hover dd a:hover i.def1{
	background-position: -105px 0px;
 }
.study_wrap .step_1:hover dd a:hover i.def2{
	background-position: -105px -44px;
}
.study_wrap .step_1:hover dd a:hover i.def3{
	background-position: -108px -89px;
}
.study_wrap .step_1:hover dd a:hover i.def4{
	background-position: -102px -135px;
}

.study_wrap .step_2 dd a i.def1{background-position:-52px -178px;}
.study_wrap .step_2 dd a i.def2{background-position:-52px -223px;}
.study_wrap .step_2 dd a i.def3{background-position:-52px -266px;}
.study_wrap .step_2 dd a i.def4{background-position:-52px -311px;}
.study_wrap .step_2 dd a i.def5{background-position:-52px -356px;}
.study_wrap .step_2 dd a i.def6{background-position:-52px -397px;}

.study_wrap .step_2:hover dd a i.def1{background-position: -1px -178px;}
.study_wrap .step_2:hover dd a i.def2{background-position: 3px -223px;}
.study_wrap .step_2:hover dd a i.def3{background-position: -1px -266px;}
.study_wrap .step_2:hover dd a i.def4{background-position: -1px -311px;}
.study_wrap .step_2:hover dd a i.def5{background-position: -1px -356px;}
.study_wrap .step_2:hover dd a i.def6{background-position: -1px -397px;}

.study_wrap .step_2:hover dd a:hover i.def1{
	background-position: -105px -178px;
}

.study_wrap .step_2:hover dd a:hover i.def2{
	background-position: -101px -223px;
}

.study_wrap .step_2:hover dd a:hover i.def3{
	background-position: -105px -266px;
}

.study_wrap .step_2:hover dd a:hover i.def4{
	background-position: -105px -311px;
}

.study_wrap .step_2:hover dd a:hover i.def5{
	background-position: -105px -356px;
}

.study_wrap .step_2:hover dd a:hover i.def6{
	background-position: -105px -397px;
}

.study_wrap .step_3 dd a i.def1{background-position:-52px -440px;}
.study_wrap .step_3 dd a i.def2{background-position:-52px -480px;}
.study_wrap .step_3 dd a i.def3{background-position:-52px -528px;}
.study_wrap .step_3 dd a i.def4{background-position:-56px -566px;}

.study_wrap .step_3:hover dl dd a i.def1{background-position: 1px -440px;}
.study_wrap .step_3:hover dl dd a i.def2{background-position: 1px -480px;}
.study_wrap .step_3:hover dl dd a i.def3{background-position: -1px -528px;}
.study_wrap .step_3:hover dl dd a i.def4{background-position: -3px -566px;}


.study_wrap .step_3:hover dd a:hover i.def1{
	background-position:-104px -440px;

}
.study_wrap .step_3:hover dd a:hover i.def2{
	background-position:-104px -480px;
}
.study_wrap .step_3:hover dd a:hover i.def3{
	background-position:-106px -528px;
}
.study_wrap .step_3:hover dd a:hover i.def4{
	background-position:-108px -566px;
}

.study_wrap .step_1:hover dd a{background: #fdb676;border-right: 1px dashed #fff;}
.study_wrap .step_2:hover dd a{background: #f1b030;border-top: 1px dashed #fff;border-left: 1px dashed #fff;}
.study_wrap .step_3:hover dd a{ background: #e7811f; border-color: #FFF;}


.study_wrap .step_1 dd a em,
.study_wrap .step_2 dd a em,
.study_wrap .step_3 dd a em{font-size: 14px;}

.study_wrap .step_2 dd{
	width: 388px;
	height: 221px;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	border-top:0;
}
.study_wrap .step_2 .split{
	position: relative;
	left:-1px; top:-1px;
	width: 390px;
}
.study_wrap .step_2 .split a{
	width: 129px;
	height: 90px;
	float: left;
	display: block;
	padding-top: 20px;
	background: #fff;
	text-align: center;
	color: #999;
	border-left: 1px dashed #ddd;
	transition: all 0.5s ease 0s;
	border-top: 1px dashed #ddd;
}
.study_wrap .step_2 dd a em{
	transition: all 0.2s linear 0s;
	display: inline-block;
}
.study_wrap .step_2 dd a.last{ border-right: 1px solid #fff; }
.study_wrap .step_2:hover dd a.last{ border-right: 1px solid #f96a3e; }
.study_wrap .step_2:hover dd a.last:hover{border-right: 1px solid #fff; }

.study_wrap .step_3 dd{
	width: 388px;
	height: 221px;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0;
}
.study_wrap .step_3 dd a{
	width: 96px;
	height:151px;
	float: left;
	display: block;
	padding-top: 70px;
	background: #fff;
	text-align: center;
	color: #999;
	border-right: 1px dashed #ddd;
	transition: all 0.5s ease 0s;
}
.study_wrap .step_3 dd a.last{border-right: 1px solid #fff8f0;}
.bline{border-bottom: 1px solid #ccc;}
.study_wrap .step_3 dd a em{
	transition: all 0.2s linear 0s;
	display: inline-block;
}


.study_wrap .step_3:hover dd a.last{ border-right:1px solid #ffa726;}
.study_wrap .step_3:hover dd a:hover{ background: #FFF;}
.study_wrap .step_3:hover dd a.last:hover{border-right:1px solid #fff;}
.study_wrap .step dl dd a i{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
	background: url("../img/gl_icon.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/gl_icon.png*/ no-repeat;
}
.sds{
	background-color: #ffdc9a;
}
.sds:before{
	content: "";
	position: absolute;
	left: 386px;
	top: -3px;
	border-top: 0;
	transform: rotate(-90deg);
	border-bottom: transparent 29px solid;
	border-right: 23px solid #fff;
	border-left: 0;
}
.sds:after{
	content: "";
	position: absolute;
	left: 390px;
	bottom: 0px;
	border-top: 0;
	transform: rotate(180deg);
	border-bottom: transparent 13px solid;
	border-right: 20px solid #fff;
}
.sds2{
	background-color: #fdb166 ;
}
.sds2:before{
	content: "";
	position: absolute;
	left: 386px;
	top: -3px;
	border-top: 0;
	transform: rotate(-90deg);
	border-bottom: transparent 29px solid;
	border-right: 23px solid #fff;
	border-left: 0;
}
.sds2:after{
	content: "";
	position: absolute;
	left: 390px;
	bottom: 0px;
	border-top: 0;
	transform: rotate(180deg);
	border-bottom: transparent 13px solid;
	border-right: 20px solid #fff;
	border-left: 0;
}

/*装修吉日*/
.ht-banner p{
	color: #a94100;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	float: left;
	padding: 22px 58px 26px 75px;
}
.ht-banner p i{
	font-style: normal;
	color: #ff5454;
}
.ht-banner{
	font-family: "Microsoft YaHei";
	margin-top: 50px;
	background: #FFD181;
	text-align: center;
	line-height: 30px;
	width: 1210px;
	height: 104px;
}
.ht-banner .ht-msg{
	width: 588px;
	float: left;
	margin-top: 10px;
}
.ht-banner ul li{
	float: left;
    margin-right: 42px;
    margin-bottom: 10px;
}
.ht-banner ul li input{
	width: 240px;
    height: 34px;
    padding-left: 5px;
    border: 1px solid #dcd8d7;
}
.ht-banner ul li select{
	border: 1px solid #dcd8d9;
}
.ht-banner ul li .sle-time{
	width:247px;
	height: 36px;
}
.ht-banner ul li .sle{
	width: 118px;
	height:36px;
	margin-right: 7px;
}
.ht-banner button{
	display: block;
	float: left;
	width:218px;
	height:45px;
	line-height: 45px;
	margin-top: 30px;
	border-radius: 4px;
	background:#FF7A01;
	color:#fff;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: "Microsoft YaHei";
}
.ht-banner .focus{border-color: #DE4348; background: #F9F9F9;}

.mrt-20 {margin-top: 20px;}
.zxxc{
    width: 100%;
    height: 248px;
    float: left;
}
.type-block{
    display: inline-block;
    width: 23%;
    display: inline-block;
    margin-right: 2%;
}
.type-img { width: 45%; float: left;}
.type-img img { width: 100%; height: auto; }
.type-list { width: 45%; margin-left: 4%; display: inline-block; float: left;line-height: 30px;}
.list-title {font-size: 16px; font-weight: 600;}
.type-content { width: 100%; height: 90px;overflow: hidden;}
.type-content ul {width: 100%;height: 100%;}
.type-content ul li{display: inline-block;margin-right: 5%;}
.marl-2 {margin-right: 20px;}
.new-type-con {width: 100%; height: 35px;overflow: hidden;border: 1px solid #e6e6e6;margin-bottom: 20px;}
.new-type-list {
    width: 95%;
    line-height: 35px;
    position: relative;
    padding-left: 10px;
}
.new-type-list li {display: inline-block;margin-right: 20px;}
.get-all-types {width: 4%;display: inline-block;position: absolute;top: 9px;right: 20px;}
.anniu {padding:0.1px 1px;border: 1px solid #e1e1e1;}

.no-border{
	border: 0px !important;
}