.clearfix::after{
	content: "";
	clear: both;
}
.clearfix::before{
	content: "";
	clear: both;
}
.redcolor{color:#ff5353;}
.bread{font-size: 12px;}
.switch_box{cursor: pointer;}
/*.page{margin-left: 500px;}*/
.fg-l {
    width: 260px;
    height: auto;
    float: left;
}
.aactive{color: #ff5353;}
.fg-l .leftnav{width: 100%;border: 1px solid #e6e6e6;border-top:0;box-sizing: border-box;-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;height: auto;}
.leftnav .onenav .oneli{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;height: 50px;
	line-height: 50px;font-size: 16px;color: #333;box-sizing: border-box;-webkit-box-sizing:border-box;}
.leftnav .onenav .oneli span.onespan{height: 100%;padding: 0 25px;display: inline-block;margin-left: 20px;
background: url("../img/zhunavbj.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/zhunavbj.png*/ no-repeat center bottom;position: relative;bottom: -1px;}
.zhanshikz .zsdianji{height: 44px;line-height: 44px;font-size: 14px;background: #fff;color: #666;
cursor: pointer;padding-left: 29px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
}
.zhanshikz .zsdianji i{position: relative;margin-right: 5px;font-size:14px;color: #666;}
.zhanshikz .zsdianji i.fa-sort-desc{top: -2px;}
.zhanshikz .zsdianji i.fa-sort-asc{top: 2px}
.zhanshikz ul.showzshid{background: #f5f5f5;padding: 5px 0;display: none;}
.zhanshikz ul.xianshi{display: block;}
.zhanshikz ul.showzshid li{padding: 5px 0;padding-left: 40px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;font-size: 14px;color: #999;}
.yincang{display: none;}


.fg-l .cp-box{
	width: 258px;
	height: 160px;
	margin-top: 20px;
	background-color: #f3e7d1;
	overflow: hidden;
}

.fg-l .hotarticles{
    display: block;
    width: 256px;
    border: 1px solid #E5E5E5;
    margin: 20px 0;
    padding-right: 17px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.fg-l .hotarticles_tle{
    font-size: 16px;
    padding: 5px 10px 5px 15px;
    display: inline-block;
    width: 100%;
    color: #333;
    font-weight: bold;
}

.fg-l .hotarticles ul{
    margin: -5px 0 5px 17px;
}

.fg-l .hotarticles li{
    color: #666666;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}

.fg-l .hotarticles .icon_point {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-block;
    border-radius: 2px;
    background: #989898;
}

.cp-box h1{
	font-size: 14px;
	color:#7e4a22;
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing: 2px;
}
.cp-box h1 i{
	color: #ec6000;
}
.cp-box .cp-img{
	width: 64px;
	height: 103px;
	float: left;
	margin: 8px;
}
.cp-box .cp-input{
	width: 168px;
	height: 106px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
.cp-box .cp-input input{
	width: 156px;
	height: 28px;
	border: 1px solid #ccc;
	margin-bottom: 8px;
	padding-left: 10px;
}
.cp-box .cp-input a{
	width: 166px;
	height: 30px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius:4px;
	display: block;
	background-color: #f39801;
}
.sort-box{
	width: 260px;
	margin-top: 20px;
}
.sort-box .sort-box-tit{
	width: 260px;
	height: 36px;
	background-color: #ff5353;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	line-height: 36px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: #fff;
}
.sort-box .sort-box-tit p{
	margin-left: 20px;
}
.sort-box .sort-box-list{
	width: 258px;
	height: auto;
	border: 1px solid #eee;
}
.sort-box .sort-box-list .list-mod{
	width: 100%;
	height: 32px;
	background: #eee;
	line-height: 32px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
.sort-box .sort-box-list .list-mod p{
	margin-left: 20px;
}
.sort-box .sort-box-list ul{
	margin-left: 20px;
}
.sort-box .sort-box-list ul li{
	margin: 8px auto;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.sort-box .sort-box-list ul li a i{
	margin-right: 5px;
}
.fg-r{
	width: 880px;
	float: left;
	margin-left: 40px;
	position: relative;
	overflow: hidden;
	margin-top: -30px;
}
.fg-r-top{
	width: 100%;
	border-bottom:1px solid #eee;
}
.fg-r .topic{
	width: 136px;
	height: 35px;
	border: 1px solid #eee;
	border-bottom:none;
	position: relative;
}
.fg-r .topic a{
	width: 68px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	color: #000;
	border-bottom:1px solid #fff;
	display: inline-block;
	position: absolute;
	top: -1px;
	left: 67px;
}
.fg-r .current{
	 color: #ff6160 !important;
	border-top: 2px solid #ff6160 !important;
	border-bottom: 1px solid #fff !important;
}
.fg-r .topic a:first-child{
	left: 0;
	border-right: 1px solid #eee;
}
.fg-main-item{
	padding: 30px 0;
	border-bottom: 1px solid #eee;
}
.fg-main-item .item-img{
	width: 200px;
	height: 172px;
	float: left;
	overflow: hidden;
	position: relative;
}
.tuijian{position: absolute;top: 0;left: 0;width: 66px;height: 21px;line-height: 21px;
color: #fff;font-size: 12px;background: url("../img/recommendbj.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/recommendbj.png*/ no-repeat;
display: inline-block;text-align: center;}

.fg-main-item .item-con{
	width: 660px;
	float: right;
}


.fg-main-item .item-con p.h1{
	font-size: 24px;
	font-weight: normal;
	margin-top: 0px;
	font-family: "Microsoft YaHei";
}

.fg-main-item .item-con p.h1 a{
	margin-left: 0px;
}

.fg-main-item .item-con p.h1:hover +p a{
	color:#de4349;
}
.fg-main-item .item-con p{
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #656565;
	margin-top: 20px;
}
.fg-main-item .item-con .item-bottom{
	margin-top: 30px;
	font-size: 15px;
	color: #999;
}
.fg-main-item .item-con .item-bottom ul li{
	float: left;
	margin-right: 20px;
}
.fg-main-item .item-con .item-bottom ul li.item-time{float: right;}
.fg-main-item .item-con .item-bottom ul li i{margin-right: 5px;}
.fg-main-item .item-con .item-bottom ul li .fa-star{
	color: #fec56e;
}
.fg-ad{margin-top: 25px;}

.gl-icon-box{
	position: relative;
}
.gl-icon-img{
	position: absolute;
	left: 0;
	top: 0;
}
.gl-icon{
	position: absolute;
	width:68px;
	height:24px;
	background:url("../img/tuijian.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/tuijian.png*/;
	left: -2px;
	top: 0;
	z-index: 1;
}

a:hover{color: #ff5353;}

/*搜索页调整样式*/
.nothing{overflow: hidden;}
.nothing .nosearch{width: 100%;height: 240px;background: #fafafa;margin-top: 30px;
overflow: hidden;text-align: center;}
.nosearch .resultbj{text-align: center;margin-top: 37px;}
.nosearch .noresultms01{font-size: 16px;color: #333;margin-top: 20px;}
.nosearch .noresultms02{font-size: 14px;color: #666;margin-top: 12px;}

.nothing .hotrecommend{font-size: 16px;color: #333;font-weight: bold;border-left: 4px solid #ff5353;
padding-left: 6px;height: 16px;line-height: 16px;margin-top: 30px;}
