@font-face {
  font-family: 'iconfont';  /* project id 650221 */
  src: url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot*/;
  src: url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot-#iefix")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.eot?#iefix*/ format('embedded-opentype'),
  url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.woff")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.woff*/ format('woff'),
  url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.ttf")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.ttf*/ format('truetype'),
  url("../../../../../at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.svg#iconfont")/*tpa=http://at.alicdn.com/t/font_650221_556tfrmjijtc5wmi.svg#iconfont*/ format('svg');
}
.iconfont{
	font-family:"iconfont";
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}



/*top标题*/
.zxgl_step{margin-top: 16px;}
.no-color span{ margin-left: 8px;margin-top: -5px;}
.no-color span:hover{color:#999!important;}
.zxgl-step-tit{margin-top: 40px; }
.box-tit {
	padding-bottom: 13px;
	overflow: hidden;
}
.box-tit .more {
	float: right;
	margin-top: 18px;
	margin-right: 15px;
}
.box-tit .tit {
	float: left;
	font-size: 24px;
	font-family: "Microsoft Yahei";
	margin-right: 10px;
}
.box-tit .tit a:hover{color:#ff5353;}
.box-tit ul{
	margin-left: 30px;
	margin-top: 20px;
	display: inline-block;
}
.box-tit ul li{
	float: left;
	margin-right: 30px;
	cursor: pointer;
	font-size: 12px;
}
.box-tit .line{
	width: 795px;
    border-bottom: 1px solid #ccc;
    float: right;
    margin-top: 30px;
}

	/*装修左边*/
.show{display: block !important;}
.clearfix::before{content: "";clear: both;}
.clearfix::after{content: "";clear: both;}
.box{
	width: 1210px;
	height:auto;
	position: relative;
}
.box .box-left{width: 922px;float:left;}
.box .box-left .box-tit,
.box .box-right .box-tit{margin-top: 0;}
.box .shuxian{
	position:absolute;
	top:20px;
	right:280px;
	height: 1226px;
	border-right: 1px dashed #ccc;
}
.box .box-right{
	width:258px;
	height:600px;
	float: right;
	margin-top:17px;
}
.box-main{
	margin-top: 10px;
	margin-bottom: 30px;
}
.box-main .news-list .news-pic{
	width: 410px;
	height: 320px;
	float: left;
	position: relative;
	overflow: hidden;
}
.box-main .news-list .news-pic img{
	width: 100%;
	height: 100%;
}
.box-main .news-list .news-pic a span{
	display: block;
	font-size: 18px;
	width: 410px;
	height: 52px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0px;
	font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 52px;
    color: #fff;
}
.details{
	width: 350px;
	margin-left: 20px;
	float: left;
}
.details .details_topic{
	margin-bottom: 25px;
}
.details .details_topic .deta_content{
	margin-top: 5px;
	margin-left: 13px;
	color: #666;
	display: none;
}
.details .details_topic .grouptitle{
	height: 20px;
}
.details .details_topic .grouptitle a{
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #000;
	transition: all 0.3s ease;
}
.details .details_topic .grouptitle:hover a{
	font-size: 15px;
}
.details .details_topic .grouptitle .icon_point{
	width: 5px;
	height: 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	display: inline-block;
	border-radius:2px;
	background: #989898;
}
/*装修右边*/
.box .box-right .more{margin-right: 0;}
.ask_lists ul{margin-top: 10px;}
.ask_lists li{
	width: 385px;
	display: block;
	font-size: 12px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px dashed #ccc;
}
.ask_lists ul li a{
	color: #000;
	font-size:14px;
	font-family: "Microsoft YaHei";
	line-height: 22px;
	font-weight: 400;
	transition: all 0.3s ease;
}
.ask_lists ul li a:hover{font-size: 17px;}
.ask_lists ul li div{margin-bottom: 5px;}
.ask_lists ul li div i{
	float: left;
	width: 24px;
	height:22px;
	background:url("../img/ask-list.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/ask-list.png*/ repeat 0 0px;
    margin-right: 6px;
}
.ask_lists ul li .answer i{background-position: 0 -22px;}
.ask_lists ul li .answer span{color: #666;}

.ask-at{
	width: 410px;
	height: 134px;
	margin:45px 0;
}
.ask-at img{
	float: left;
}
.ask-at .ask-btn{
	float: left;
	margin-top:40px;
	margin-left:25px;
	width: 118px;
	height: 35px;
	display:block;
	background:#ff5659;
	border-radius:4px;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	cursor: pointer;
}

/*装修日记*/
.zxrj{margin-top: 5px;}
.zxrj ul li{
	height:auto;
	position: relative;
	margin-bottom: 6px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 3px;
}
.zxrj ul li:last-child{
	border-bottom: none;
}
.setHeight{height: 110px !important;}
.zxrj ul li .rj-tit{
	font-size: 14px;
	color: #000;
	line-height: 30px;
	font-family: "Microsoft Yahei";
	transition: all 0.3s ease;
}
.zxrj ul li .rj-con{
	display: none;
	height: 110px;
}
.zxrj ul li .rj-tit i{
	width: 14px;
	height: 18px;
	display: block;
	float: left;margin: 5px;
	background: url("../img/rj-icon.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/rj-icon.png*/ no-repeat;
}
.zxrj ul li .rj-pic{
	height:104px;
	width:104px;
	display: block;
	float: left;
}
.zxrj ul li .rj-pic img{
	width: 100%;
	height:100%;
}
.zxrj ul li .rj-main{
	width: 256px;
	margin-left: 15px;
	margin-top: 5px;
	float: left;
}
.zxrj ul li .rj-view{
	position: absolute;
	left: 332px;
	top:80px;
}
.zxrj ul li .rj-view span{margin-left: 10px;}
.zxrj ul li .rj-main a{
	height: 20px;
	display: block;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color:#000;
	transition: all 0.3s ease;
}
.zxrj ul li .rj-main p{
	font-size: 12px;
	width: 265px;
	margin-top:10px;
	color: #666;
}



/*装修流程*/
.study_wrap{
	width: 1239px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
	font-family: "Microsoft YaHei";
}
.study_wrap h2{
	text-align: center;
	font-size:18px;
}
.study_wrap h2 strong{
	font-size:36px;
	display: inline-block;
	line-height: 60px;
	color: #333;
}
.study_wrap .step{
	width: 410px;
	height: 428px;
	float: left;
	position: relative;
	transition:all 0.6s ease-in-out;
	cursor: pointer;
}
.study_wrap .step p{
	font-size: 24px;
	text-align: center;
}
.study_wrap .step_3{
	margin-right: 0;
}
.study_wrap .step dt{
	width: 390px;
	height: 186px;
	text-align:center;
	color: #FFF;
	font-size:14px;
	padding-top: 20px;
	position: relative;
}
.study_wrap .step dt i{
	display: block;
	position: absolute;
	width: 69px;
	height: 69px;
	border-radius: 50%;
	overflow: hidden;
	top:80px;
	right: -44px;
	background: url("../img/zx-step.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/zx-step.png*/ no-repeat;
}
.study_wrap .step dt strong{
	display: block;
	line-height: 40px;
	font-size: 28px;
}
.study_wrap .step_1{ z-index: 3;}
.study_wrap .step_2{ z-index: 2;}
.study_wrap .step_3{ z-index: 1;}
.study_wrap .step_1 dt{
	background: url("../img/pic1.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/pic1.png*/ no-repeat 0 bottom #fdb676;
}
.study_wrap .step_2 dt{
	background: url("../img/pic2.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/pic2.png*/ no-repeat 0 bottom #f1b030;
}
.study_wrap .step_3 dt{
	background: url("../img/pic3.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/pic3.png*/ no-repeat 0 bottom #e7811f;
}
.study_wrap .step_1 dd{
	width: 388px;
	height: 221px;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0;
}
.study_wrap .step_1 dd a{
	float: left;
	display: block;
	width: 96px;
	height: 155px;
	padding-top: 66px;
	background: #fff;
	text-align: center;
	color: #333;
	border-right: 1px dashed #ddd;
	transition: all 0.5s ease 0s;
	position:relative;
}
.study_wrap .step_1 dd a.last{ border-right: 1px solid #fff;}
.study_wrap .step_1 dd a em{

	display: inline-block;
}
.study_wrap .step_1:hover dd a.last{
	border-right: none;
}




.study_wrap .step_1 dd a em,
.study_wrap .step_2 dd a em,
.study_wrap .step_3 dd a em{font-size: 14px;}
.study_wrap .step_1 dd a em,.study_wrap .step_3 dd a em{padding-top: 4px;}
.study_wrap .step_2 dd{
	width: 388px;
	height: 221px;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	border-top:0;
}
.study_wrap .step_2 .split{
	position: relative;
	left:-1px; top:-1px;
	width: 390px;
}
.study_wrap .step_2 .split a{
	width: 96px;
	height: 90px;
	float: left;
	display: block;
	padding-top: 20px;
	background: #fff;
	text-align: center;
	color: #333;
	border-left: 1px dashed #ddd;
	transition: all 0.5s ease 0s;
	border-top: 1px dashed #ddd;
}
.study_wrap .step_2 dd a em{

	display: inline-block;
}
.study_wrap .step_2 dd a.last{ border-right: 1px solid #fff; }
.study_wrap a:hover{background: #FDB676 !important; color: #fff !important;}

.study_wrap .step_3 dd{
	width: 388px;
	height: 221px;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0;
}
.study_wrap .step_3 dd a{
	width: 96px;
	height:155px;
	float: left;
	display: block;
	padding-top: 66px;
	background: #fff;
	text-align: center;
	color: #333;
	border-right: 1px dashed #ddd;
	transition: all 0.5s ease 0s;
}
.study_wrap .step_3 dd a.last{border-right: 1px solid #fff8f0;}
.bline{border-bottom: 1px solid #ccc;}
.study_wrap .step_3 dd a em{

	display: inline-block;
}


.study_wrap .step dl dd a i{
	width: 40px;

	display: block;
	margin: 0 auto;
	font-size: 40px;
}
.sds{
	background-color: #ffdc9a;
}
.sds:before{
	content: "";
	position: absolute;
	left: 386px;
	top: -3px;
	border-top: 0;
	transform: rotate(-90deg);
	border-bottom: transparent 29px solid;
	border-right: 23px solid #fff;
	border-left: 0;
}
.sds:after{
	content: "";
	position: absolute;
	left: 390px;
	bottom: 0px;
	border-top: 0;
	transform: rotate(180deg);
	border-bottom: transparent 13px solid;
	border-right: 20px solid #fff;
}
.sds2{
	background-color: #fdb166 ;
}
.sds2:before{
	content: "";
	position: absolute;
	left: 386px;
	top: -3px;
	border-top: 0;
	transform: rotate(-90deg);
	border-bottom: transparent 29px solid;
	border-right: 23px solid #fff;
	border-left: 0;
}
.sds2:after{
	content: "";
	position: absolute;
	left: 390px;
	bottom: 0px;
	border-top: 0;
	transform: rotate(180deg);
	border-bottom: transparent 13px solid;
	border-right: 20px solid #fff;
	border-left: 0;
}



.mrt-20 {margin-top: 20px;}
.zxxc{
    width: 100%;
    height: 248px;
    float: left;
}
.type-block{
    display: inline-block;
    width: 23%;
    display: inline-block;
    margin-right: 2%;
}
.type-img { width: 45%; float: left;}
.type-img img { width: 100%; height: auto; }
.type-list { width: 45%; margin-left: 4%; display: inline-block; float: left;line-height: 30px;}
.list-title {font-size: 16px; font-weight: 600;}
.type-content { width: 100%; height: 90px;overflow: hidden;}
.type-content ul {width: 100%;height: 100%;}
.type-content ul li{display: inline-block;margin-right: 5%;}
.marl-2 {margin-right: 20px;}
.new-type-con {width: 100%; height: 35px;overflow: hidden;border: 1px solid #e6e6e6;margin-bottom: 20px;}
.new-type-list {
    width: 95%;
    line-height: 35px;
    position: relative;
    padding-left: 10px;
}
.new-type-list li {display: inline-block;margin-right: 20px;}
.get-all-types {width: 4%;display: inline-block;position: absolute;top: 9px;right: 20px;}
.anniu {padding:0.1px 1px;border: 1px solid #e1e1e1;}

.no-border{
	border: 0px !important;
}
input{color:#333!important;}



/*测算吉日*/
.gl_box_form {
    width: 258px;
    height: auto;
    background: #FFD181;
    overflow: hidden;
    position: relative;
}
.gl_box_form .gl_item {padding: 0;width: 258px;}
.gl_box_form .gl_item .gl_t {
    text-align: center;
    font-size: 15px;
    font-family: microsoft yahei;
    padding: 15px 0 5px;
}
.gl_box_form .gl_t_box {padding: 0 15px;}
.gl_box_form .gl_item .gl_t span {
    display: block;
    color: #A94200;
    font-weight: 600;
    font-size: 15px;
}
.gl_box_form .gl_item .gl_t span i {color: #FE5552;}
.gl_box_form .gl_t_box .inputs, .gl_vb {
    margin-bottom: 10px;
    background: inherit;
    color: #FFF;
    height: 35px;
    font-size: 12px;
}
.gl_t_box .inputs input[type=text] {
    height: 33px;
    border: 1px solid #DAD9D7;
    width: 221px;
    padding-left: 5px;
    color: #666;
    color: #666;
}
.gl_t_box .inputs select {
    color: #000;
    height: 33px;
    padding: 5px;
    width: 228px;
    border: 1px solid #DAD9D7;
    float: left;
    color: #666;
}
.gl_vb select {
    width: 108px;
    margin-bottom: 10px;
    height: 35px;
    color: #666;
    font-size: 12px;
    border: 1px solid #DAD9D7;
}
.gl_right {float: right!important;}
.gl_t_box button {
    width: 228px;
    height: 35px;
    background-color: #FF7A01;
    color: #fff;
    border-radius: 5px;
    font-family: SimHei;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.mtzt_img{margin:17px 0px 12px 0px;}

/* 装修指南 */
.part_item{margin-bottom: 30px;}
.part_item_header{border-bottom: 1px solid #f0f0f0; overflow: hidden;padding-top: 12px;padding-bottom:8px;}
.part_item_title{font-size: 24px; color: #333;}
.part_item_title a{color:#333;}
.part_item_title a:hover{color: #ff5353}
.part_item_nav{color: #999; margin-top:15px;}
.part_item_nav span{padding:5px; font-size: 14px; cursor: pointer;}
.part_item_nav i{font-size: 14px!important}
.part_item_nav span:hover{color: #ff5353;}
.part_item_body{padding-top: 16px;overflow: hidden; display: none;}
.content_active{display: block;}
.body_img{width: 321px; height: 321px; position: relative;}
.body_img img{width: 100%; height: 100%;}
.bottom_info{background: rgba(0,0,0,0.6); color: #fff; font-size: 15px; position: absolute;
	bottom: 0px; height: 40px; width: 100%; text-indent: 10px; line-height: 40px;text-overflow: ellipsis; white-space: nowrap; }
.bottom_info a{color:#fff;}
.body_text{margin-left:20px; margin-top: 16px; width:581px;}
.hot_txt{background: #ff5353; color: #fff; padding:1px 8px; font-family: "ArialMT"; border-radius: 5px; font-size: 14px; }
.hot_tt{overflow: hidden;}
.hot_tt h3{ font-size: 16px;color:#333; margin-left: 6px; font-weight: normal;text-overflow: ellipsis; white-space: nowrap; width: 528px;  }
.hot_tt h3 a:hover{color: #ff5353}
.xq_text a:hover{color:#ff5353!important;}
.xq_text a{color: #999 !important;}
.xq_text{color: #999; font-size: 14px; padding-top: 8px;padding-bottom: 3px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height:62px;
    overflow:hidden;
}
.other-list li{margin:3px 0px; overflow: hidden;}
.other-list li span{font-size: 22px;padding-right: 5px; float: left;}
.other-list li a{color:#333; font-size: 16px;float: left; margin-top: 4px}
.other-list li a:hover{color:#ff5353;}
.moreText{text-align: right; font-size: 14px; }
.moreText a{color: #999}
.moreText a:hover{color:#ff5353;}
.activ_tab{color:#ff5353!important;}
.long_nav{margin-top: 12px !important; margin-left:5px;}
.long_nav span{padding:5px 9px;}
.mtop{margin-top: 15px}
.long_box{overflow: hidden; width:1228px;}
.long_box li{width: 287px;height: 255px; background: #F5F5F5; margin-right: 20px; position: relative;}
.long_box li img{width:287px; height: 215px;}
.long_box li p{color:#333; font-size: 16px;text-indent: 10px; line-height: 32px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.long_box li p:hover{color:#ff5353;}
.like_num{position: absolute; right: 0px; bottom: 40px; background: rgba(0,0,0,0.6); color: #fff; width:70px; height: 30px; cursor: pointer;}
.loveImg{width:16px !important; height: 14px !important; margin-top:9px; margin-left: 8px;}
.love_number{font-size: 14px; margin-top:6px;margin-left:6px;}
.playVideo{position: absolute; width: 55px; height: 55px;left: 50%; margin-left: -22.5px; top:50%;margin-top: -42.5px;}
.playVideo img{width: 100% !important; height: 100% !important; cursor: pointer;}
.konwlege{width: 580px;}
.zhishidian{width: 600px;overflow: hidden;}
.zhishidian li{width: 280px; margin-right: 20px;box-sizing: border-box; border:1px solid #dedede; height: 300px;}
.zhishidian li div{padding:0px 9px;}
.zhishidian li div p a{color:#999; font-size: 14px;}
.zhishidian li div span{color: #999;font-size: 14px;}
.zhishidian li div span.pull-left{margin-top:1.5px; margin-top:12px}
.zhishidian li div span i{padding-right: 6px;margin-top: 10px;}
.zhishidian a:hover{color: #ff5353!important}
.zxzsd{width: 100%; height: 158px;}
.wd_list li{border-bottom: 1px dashed #dedede; height: 85px; margin-bottom: 15px;}
.wd_list li p{overflow: hidden;}
.wd_list li p span:hover{color: #ff5353;}
.zsd_title{font-size: 16px; color: #333; margin:10px 0px;}
.answer{width: 580px}
.askIcon{background: url("../img/ask-list.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/ask-list.png*/; width: 24px; height: 22px; display: inline-block;}
.ask_title{font-size: 16px; color:#333; margin-left:6px; margin-top: -3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 542px;}
.answerIcon{background: url("../img/ask-list.png")/*tpa=http://www.qizuang.com/assets/home/zixun/img/ask-list.png*/ 0px -22px; width: 24px; height: 22px; display: inline-block; margin-right: 6px}
.wd_p{  margin:5px 0px;}
.answer_title{color: #999; font-size: 14px;width: 542px; height: 42px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.mt_bottom{margin-bottom: 50px; overflow: hidden;}

.icon_box{width:60px; height: 60px; margin:0px auto;position: relative;}
.icon_box img{position: absolute; margin:auto; left:0px;top:0px;right:0px; bottom:0px;}
.zhishidian_content{height: 40px; overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }