    ::-moz-placeholder { color: #999; }
        ::-webkit-input-placeholder { color:#999; }
        :-ms-input-placeholder { color:#999; }
  	.content{width: 100%;height: 700px;background: url("../images/huanglibj.jpg")/*tpa=http://www.qizuang.com/assets/home/huangli/images/huanglibj.jpg*/ no-repeat;background-size: auto 700px;background-position: center;position: relative;}
  	.content_midd{height: 700px;width: 60%;margin:0 auto;overflow: hidden;}
    .main{ display: none; margin-top: 27px;}
    .hl_active{display: block}
    .step_1 label{ width: 25%;text-align: center; float: left;}
    .step_1{width:755px !important;}
    .step_3{margin-top: 17px !important; overflow: hidden;}
    .con{height: 270px;width: 98%; margin: 0px auto;}
  	.title_1{text-align: center;font-size: 22px;color: #333;margin-top: 15px; }
    .hl_step_radius{margin: 0 auto;text-align: center;font-size: 0px; margin-top: 190px;}
    .hl_step_radius span{width:20%; display: inline-block; height: 19px; border-bottom: 2px solid #CCCCCC;}
    .hl_step_radius span i{color: #CCCCCC; font-size: 50px; display: inline-block; margin-top: -6px; position: relative;}
    .hl_step_radius span i div{position:absolute;font-size: 32px;font-family:"Microsoft YaHei"; width:40px; height: 40px; color:#fff; top:4px;left:1px; text-align: center; line-height: 40px;}
    .radiu_active{border-bottom: 2px solid #fc891f!important;}
    .radiu_active i{color:#fc891f!important;}
  	.nert_1{width: 98%;height:auto;margin:0 auto;text-align: center;margin-top: 95px;}
  	.nert_2{margin-top: 45px !important; overflow:hidden;}
    .nert_1 label{font-size: 16px;}
  	.active{color: #fb8a20 !important;}
  	.curr{background: #fea24d !important;color: #fff !important;}
  	.anniu{width: 98%;height: 70px;line-height: 70px;margin:0 auto;margin-top:40px;text-align: center;}
  	.anniu .prev{font-size: 18px;color: #fea24d;padding: 10px 30px;border-radius: 15px;cursor: pointer;margin-right: 10px;display: none;}
  	.anniu .next{font-size: 18px;color: #fea24d;padding: 10px 30px;border-radius: 15px;cursor: pointer;}
  	.anniu .next2{font-size: 18px;color: #fea24d;padding: 10px 30px;border-radius: 15px;cursor: pointer;display: none;}
  	.chongxcs{display: block;text-align: center;margin-top: 30px;display: none;}
  	.resend{font-size: 18px;color: #fea24d;padding: 10px 30px;border-radius: 15px;cursor: pointer;}
  	.ertu{width: 74px;height: 100px;display: inline-block;background: url("../images/errw11.jpg")/*tpa=http://www.qizuang.com/assets/home/huangli/images/errw11.jpg*/ no-repeat;}
  	.chaonan{cursor: pointer; float: left; text-align: center; width: 20%;}
  	.chaonan .kt1{display: block;width: 118px;height: 110px;margin-bottom: 5px;margin:auto;}
  	.chaonan .kt11{display: none;width: 118px;height: 110px;margin-bottom: 5px;margin:auto;}
  	.jvzhong{text-align: center;margin-top: 25px;}
  	.jvzhong .iptagename{width: 298px;height: 38px;border:1px solid #ccc;text-indent: 1em;margin:0 auto; line-height: 38px;}
  	.namekuang{float: left;cursor: pointer; width:25%; text-align: center;}
  	.namekuang .renwu1{display: block;width: 125px;height: 117px;margin-bottom: 5px;margin:auto;}
  	.namekuang .renwu11{display: none;width: 125px;height: 117px;margin-bottom: 5px;margin:auto;}
  	.areadiqu{height: auto;text-align: center;margin-top: 65px;}
    .areadiqu input{line-height: 40px;}
    .areadiqu select{padding:8px 0px;}
  	.areadiqu .freesj_cs{width: 138px;height: 38px;border:1px solid #ccc;margin-right: 20px;}
  	.areadiqu .freesj_qx{width: 138px;height: 38px;border:1px solid #ccc;}
  	.phonekz{text-align: center;margin-top: 30px;}
  	.phonekz .phonename{width: 298px;height: 38px;border:1px solid #ccc;text-indent: 1em;}
  	.jieguo{display: none;width: 100%;height: 550px;margin:0 auto;overflow: hidden;padding: 0 7%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;background: #fff;}
  	.jieguo .jiri{margin-top: 40px;margin-bottom: 40px;}
  	.jieguo .jieguo_left{width: 48%;height: 400px;display: inline-block;border:2px solid #ffc684;float: left;margin-right: 20px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
  	.jieguo_left .time01{text-align: center;font-size: 24px;color: #333;margin-top: 50px;margin-bottom: 15px;}
  	.jieguo_left .time02{text-align: center;font-size: 66px;color: #ff2a00;margin-bottom: 10px;}
  	.jieguo_left .time03{text-align: center;font-size: 30px;color: #ff2a00;position: relative;
  		top: -28px;}
  	.jieguo_left .time04{text-align: center;font-size: 26px;color: #333;margin-bottom: 5px;}
  	.jieguo_left .time04 span{color: #fb8920;}
  	.jieguo_left .time05{text-align: center;font-size: 20px;color: #666;}
  	.jieguo .jieguo_right{width: 48%;height: 400px;display: inline-block;float: left;}
  	.jieguo_right .jgtop{width: 100%;height: 190px;border:2px solid #ffc684;margin-bottom: 20px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
  	.jieguo_right .jgtop .qifu01{width: 64%;height: 100%;border-right: 1px solid #ffc684;display: inline-block;float: left;}
  	.jgtop .qifu01 .right_time01{text-align: center;color: #333;font-size: 16px;margin-bottom: 15px;margin-top: 20px;}
  	.jgtop .qifu01 .right_time02{text-align: center;color: #ff2a00;font-size: 36px;}
  	.jgtop .qifu01 .right_time03{text-align: center;color: #ff2a00;font-size: 20px;position: relative;top: -10px;}
  	.jgtop .qifu01 .right_time04{text-align: center;color: #666;font-size: 14px;}
  	.jieguo_right .jgtop .qifu02{width:35%;height: 100%;display: inline-block;float: left;}
  	.jgtop .qifu02 .jiri_pf01{color:#333;font-size: 20px;text-align: center;margin-top: 62px;}
  	.jgtop .qifu02 .jiri_pf02{color:#fb8920;font-size: 20px;text-align: center;}
  	.jieguo_right .jgbottom{width: 100%;height: 190px;border:2px solid #ffc684;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
  	.jieguo_right .jgbottom .qifu01{width: 64%;height: 100%;border-right: 1px solid #ffc684;display: inline-block;float: left;}
  	.jgbottom .qifu01 .right_time01{text-align: center;color: #333;font-size: 16px;margin-bottom: 15px;margin-top: 20px;}
  	.jgbottom .qifu01 .right_time02{text-align: center;color: #ff2a00;font-size: 36px;}
  	.jgbottom .qifu01 .right_time03{text-align: center;color: #ff2a00;font-size: 20px;position: relative;top: -10px;}
  	.jgbottom .qifu01 .right_time04{text-align: center;color: #666;font-size: 14px;}
  	.jieguo_right .jgbottom .qifu02{width:35%;height: 100%;display: inline-block;float: left;}
  	.jgbottom .qifu02 .jiri_pf01{color:#333;font-size: 20px;text-align: center;margin-top: 62px;}
  	.jgbottom .qifu02 .jiri_pf02{color:#fb8920;font-size: 20px;text-align: center;}
    .xuanzhong{margin-right: 3px;display: inline-block;}
    .huanglilu{position: absolute;left: 50px;top: 450px;}