.goodday{width:968px;height:100%;background:#f6eada;float:left;position: relative;}
.goodday::before{content: "";width:28px;height:28px;background:url("../images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;left: 10px;top: 10px;}
.goodday::after{content: "";width:28px;height:28px;background:url("../images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;right: 10px;top: 10px;transform: rotate(90deg);}
.goodday .day-main{width:948px;height:100%;margin:10px 10px;}
.goodday .day-main::before{content: "";width:28px;height:28px;background:url("../images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;left: 10px;bottom: 10px;transform:rotate(270deg);}
.goodday .day-main::after{content: "";width:28px;height:28px;background:url("../images/jiao-btn.png")/*tpa=http://www.qizuang.com/assets/home/huangli/images/jiao-btn.png*/ no-repeat;position: absolute;right: 10px;bottom: 10px;transform:rotate(180deg);}
.goodday .day-main p{font-family:'华文中宋';font-size:24px;color:#d24a3a;font-weight:bold;margin-top:40px;text-align:center;}
.goodday .day-main ul{font-family:'Microsoft YaHei UI';font-size:14px;margin-top:40px;margin-left: 250px;}
.goodday .day-main ul li{margin-bottom:25px;}
.goodday .day-main ul li span{margin-left:20px;}
/*吉日声明*/
.dec{text-align:center;margin-top:20px;font-size:18px;font-family:'Microsoft YaHei';color:#999;}
/*吉日广告*/
.jr_ad{margin-top:20px;}