.nav {margin-bottom:0px;}
.footer {margin-top:0px;}
.bz-box{ background:#f1f1f1; overflow:hidden; padding-bottom:50px}
.tit-top1{ background:url("images/bztop1.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/bztop1.jpg*/ no-repeat center; height:245px}
.tit-top2{ background:url("images/bztop2.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/bztop2.jpg*/ no-repeat center; height:230px}
.tit-top3{ background:url("images/bztop3.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/bztop3.jpg*/ no-repeat center; height:265px; position: relative}

.bz-main{ width:1160px; margin:0 auto; position:relative; height:305px;background:#fff;  background:rgba(255,255,255,.9); top:-50px}
.bz-main:before{ content:"";background:url("images/top-l.png")/*tpa=http://www.qizuang.com/assets/home/special/security/images/top-l.png*/; position:absolute; left:-18px; height:304px; top:0; width:18px}
.bz-main:after{ content:""; background:url("images/top-r.png")/*tpa=http://www.qizuang.com/assets/home/special/security/images/top-r.png*/; position:absolute; right:-18px; height:304px; top:0; width:18px}
.bz-neck{  width:1160px; height:131px; margin:0 auto; position:relative; margin-bottom:15px}
.bz-neck img{ position: absolute; left:-46px}

.bz-main-box img.bz-intro { margin-top:45px; margin-left:45px; float:left}
.bz-main-box .bz-intro-wz{ float:left; margin-left:20px; margin-top:55px; width:300px}
.bz-main-box .bz-intro-wz p{ border-top:1px solid #484848; margin-top:20px; padding-top:20px; font-size:16px; line-height:20px;font-family: "Microsoft YaHei";}
.bz-main-box .bz-intro-wz .intro-tit{ background:url("images/toptit.png")/*tpa=http://www.qizuang.com/assets/home/special/security/images/toptit.png*/; width:269px; height:65px}
.bz-main-list{width:1160px; margin:0 auto; background:#fff; position:relative; height:776px; text-align:center; display:block}
.bz-main-list dt{ height:388px; background:url("images/main1.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/main1.jpg*/ bottom no-repeat; overflow:hidden}
.bz-main-list dd{overflow:hidden}
.bz-main-list:before{ content:"";position:absolute; top:0; left:-33px; width:33px; height:775px; background:url("images/boxshadow-l.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/boxshadow-l.jpg*/}
.bz-main-list:after{ content:"";position:absolute; top:0; right:-33px; width:33px; height:775px; background:url("images/boxshadow-r.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/boxshadow-r.jpg*/}
.bz-main-list span{ display:block; margin-top:30px; height:38px; margin-bottom:20px}
.bz-main-list p{ margin:0 50px;display:block;padding-top:10px; font-size:14px; line-height:25px;font-family: "Microsoft YaHei";}
.bz-main-list p i{ color:#f86551}


.bz-edit{ float:right; width:500px; background:#30bba6; height:258px; margin-top:23px; margin-right:23px; position:relative}
.edit-left{ padding:23px; width:310px}
.edit-left h1{ color:#fff; font-size:30px; height:30px;font-family: "Microsoft YaHei"; margin-bottom:28px}
.edit-left ul li{ border-radius:3px; height:40px; width:260px; padding-left:50px}
.edit-left ul li.a1{ background:url("images/inp1.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/inp1.jpg*/ no-repeat 10px 12px #fff}
.edit-left ul li.a2{ background:url("images/inp2.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/inp2.jpg*/ no-repeat 10px 12px #fff; margin-top:13px}
.edit-left ul li.a3{ background:url("images/inp3.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/inp3.jpg*/ no-repeat 10px 12px #fff; margin-top:13px}
.edit-left ul li input[type=text]{ width:250px; height:30px; margin-top:5px; line-height:30px; font-size:14px;color:#666;}
.edit-left ul li input[type=text]:focus,.edit-left ul li .diz:focus{ outline:none;}
.edit-left ::-moz-placeholder { color: #666; }
.edit-left ::-webkit-input-placeholder { color:#666; }
.edit-left :-ms-input-placeholder { color:#666; }
.edit-left ul li .diz{ height:30px; color:#666; width:115px; font-size:14px; margin-top:5px}
.edit-btn{ background:url("images/btbg.png")/*tpa=http://www.qizuang.com/assets/home/special/security/images/btbg.png*/ no-repeat bottom; position:absolute; right:0; bottom:0; width:135px; height:227px}
.edit-btn p{ line-height:50px; color:#fff}
.edit-btn a{ display:block; background:url("images/ap.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/ap.jpg*/; width:106px; height:146px}
.bt-btn{ display:block;margin:40px auto; background:url("images/bbutton.jpg")/*tpa=http://www.qizuang.com/assets/home/special/security/images/bbutton.jpg*/; position:relative; width:274px; height:69px}
.bt-btn:after{ content:""; position:absolute; width:88px; height:56px; top:22px; right:-50px; background:url("images/bttip.png")/*tpa=http://www.qizuang.com/assets/home/special/security/images/bttip.png*/}

.news-tit{ font-size:30px; font-family: "Microsoft YaHei"; line-height:60px; text-align:center; margin-top:50px}
.scroll_horizontal{position:relative;width:1140px;height:443px;padding:10px;}
.scroll_horizontal .news-box{overflow:hidden;position:relative;width:1000px;height:443px;margin:0 auto;}
.scroll_horizontal .news-list{overflow:hidden;width:9999px;}
.scroll_horizontal .news-list li{float:left;width:230px; height:413px;padding:10px; padding-top:30px; text-align:center; position:relative}
.scroll_horizontal .news-list li:hover span{ display:block}
.scroll_horizontal .news-list li span{ position:absolute; bottom:130px; right:20px; display:none; width:44px; height:44px; opacity:0.8}
.scroll_horizontal .news-list li span:hover{ opacity:1}
.scroll_horizontal .news-prev,
.scroll_horizontal .news-next{position:absolute;top:50%;margin-top:-25px;width:40px;height:50px;background-image: url("../../zb/img/control.png")/*tpa=http://www.qizuang.com/assets/home/zb/img/control.png*/;background-repeat:no-repeat;font:0/0 Arial;cursor:pointer;}
.scroll_horizontal .news-prev{left:5px;background-position:0 0;}
.scroll_horizontal .news-next{right:5px;background-position:-40px 0;}
.scroll_horizontal .news-prev:hover{background-position:0 -50px;}
.scroll_horizontal .news-next:hover{background-position:-40px -50px;}